[2019-09-04 11:29] jtkrogel commented on #1864
This is fine.  I was thinking along the lines of oldest working version rather than oldest supported version.

[2019-09-04 11:40] jtkrogel commented on #1864
I will put in a fix for the current `gcd` issue.

@prckent I recall you posted somewhere about your recent experience installing specific python+numpy etc. versions with spack, but I can't find it at the moment.  Could you point me to that post/email?  I would like to install numpy 1.13.2 and iterate until there are no issues.

[2019-09-04 16:04] jtkrogel opened #1866 "Work plan to transition evaluate_sp to SoA"
Related to #861 and #1796.  Perform transition to SoA for all evaluate_sp functions used by energy density estimator.  Take the simpler strategy of temporarily enabling the functions without full reactivation of energy density, write deterministic AoS output, implement SoA, and verify SoA gives the same deterministic output.

This will be done for the following classes:
- [x] CoulombPBCAA (via dia

[2019-09-04 17:54] prckent commented on #1864
See qmcpack/tests/test_automation/ornl_oxygen_setup.sh

This sets up the full environment used for nightly testing on oxygen via spack including python and python dependencies. You should be able to change numpy 1.16.4 to 1.13.2. The script does not setup a particular version of python for now, only the latest one implied by numpy, h5py etc. This could easily be refined if you have preferences.

[2019-09-04 18:02] jtkrogel commented on #1864
Thanks.  I will have a look.

[2019-09-05 12:57] jtkrogel opened #1870 "Divergent code paths for forces and single particle energies"
Work on #1869 revealed that the `evaluate` functionality in `QMCHamiltonianBase` objects is highly fragmented when selecting among the following four options:

1. No forces, no single particle energies (the default).
2. Forces, no single particle energies.
3. No forces, single particle energies.
4. Forces and single particle energies (not yet supported).

Currently a separate evaluate function exi

[2019-09-05 13:35] ye-luo commented on #1870
I feel the requirement for force evaluation is different from energy only calculation. Force is a estimator depends on the Hamiltonian derivative operation and it doesn't need to be evaluated as frequent as energy.
So I prefer a separation. H.evaluate() does 1 and 3. H.evaluateIonDeriv() for the force only.

[2019-09-05 13:54] jtkrogel commented on #1870
Both the force and the energy density are semi-local observables that do not commute with the Hamiltonian, but F, E(r) and H all share underlying components.  For observation purposes, they likely all need to be evaluated just as frequently as each other.

Quite apart from this is the code divergence issue.  I don't disagree about having H.evaluateIonDeriv(), but inside it should call only H.evalu

[2019-09-05 14:02] ye-luo commented on #1870
@jtkrogel I'm OK with evaluate_impl(a few switches). Then H.evaluate/evaluateIonDerivs  goes through it.

[2019-09-05 14:10] ye-luo opened #1871 "test_wavefunction failing for ComplexApprox issue with Intel"
https://cdash.qmcpack.org/CDash/testDetails.php?test=6081090&build=77645
[code]
The code is actually correct since the left side matches the reference value on the REQUIRE line.

A much simpler reproducer.
The following check works with RealType as double but not as float
```REQUIRE(std::complex<RealType>(1, 0) == ComplexApprox(std::complex<RealType>(1, 0)));```
The problem only occurs with Intel

[2019-09-05 15:03] rcclay commented on #1870
To what extent is code encapsulation worth the amount of duplication/divergence?  The main issue I see is that when you want to add a new derivative or observable, you add a new "evaluate" function, as opposed to adding in if(newFeature){} block in the main energy "evaluate" block.  That last one seems like it could get unweildy.

[2019-09-05 16:48] jtkrogel commented on #1870
It's in the combination of functionality that you get killed.  For example forces + single particle energies requires the addition of a 4th function.  With forces + sp energies + something new you get 9 functions, then 16, 25, etc.  The divergence makes the code size balloon with duplication and makes maintenance much more difficult.

[2019-09-05 17:27] prckent commented on #1870
A design that can not contain or avoid the combinatorial explosion outlined by Jaron is a failed design.

[2019-09-05 17:34] markdewing commented on #1871
It appears to be a bug in the Intel compiler (unless the implicit conversion rules for std::complex do unexpected things that I do not understand, which is always a possibility with C++). I posted the issue to the Intel compiler forum (the post might not appear right away):
https://software.intel.com/en-us/forums/intel-c-compiler/topic/820166

The workaround will be to make a ComplexApprox constru

[2019-09-05 17:36] markdewing commented on #1870
Just to be clear, what are the evaluation functions for 1-3?  My guess is
1. evaluate
2. evaluateWithIonDerivs
3. evaluate_sp

[2019-09-05 17:42] jtkrogel commented on #1870
Yes, those are the current functions.  The 4th would be something like evaluateWithIonDerivs_sp (violations to naming convention aside).

[2019-09-05 18:33] ye-luo commented on #1871
I tried to workaround the issue and put
[code]
The compiler get confused which implicit conversion should pick.
[code]
On the other hand, I don't understand the logic of `compare_real_only()`. If comparing only the real part is intended. We can just do
[code]

[2019-09-05 19:01] ye-luo opened #1873 "WF optimization hierarchical input"
This question is triggered by #1750
Having optimizer related parameter mixed with VMC parameter seems very messy.

Proposed format
[code]
Suggestions, complains?

[2019-09-05 19:50] PDoakORNL commented on #1870
I think its worth exploring separating out the state and results from the computation. Then we could define a set of evalutation types clear about their input arguments.

Using these evaluation types we could define a sort order usable for a vector of variants (a graph would be optimal). The evaluation visit to each "element" of the Hamiltonian could use previous computed results. Adding a new eva

[2019-09-05 20:04] rcclay commented on #1870
@jtkrogel @prckent But it's not really combinatorial if you don't mind a little bit of redundant calculation...  for example by changing evaluateWithIonDerivs_sp -> evaluate_sp; evaluateWithIonDerivs;.  Energy+force calculations are certainly lumped together in evaluateWithIonDerivs because it's convenient to have the intermediates that come about during the energy calculations when computing the

[2019-09-05 20:51] PDoakORNL commented on #1873
I assume the larger context is
[code]
My opinion at the moment is that for any sizable "submodule" that is optional or switchable for "QMCDriver" the  responsibility for input should be expressed by having the submodule's input in this hierarchical tag. This will make validation somewhat easier someday.

[2019-09-05 20:57] jtkrogel commented on #1873
I'm not generally a fan of more nesting, but I could go either way on this from a style point of view.

On the other hand, I think we should be very selective about making backwards incompatible changes to the user-facing input.  Breaking everyone's old inputs is generally a really bad idea.

[2019-09-05 22:03] ye-luo commented on #1873
After a bit more thinking, I will not do this change. From @LeonOtis work, we need to support "hybrid" optimizer and the input will look like
[code]
Each individual method works as if there is no hybrid and the parser can be reused. No change to the old use of optimizers.

[2019-09-06 11:53] jtkrogel commented on #1873
What does "hybrid" refer to here?

[2019-09-06 13:05] kryczko commented on #1859
@lshulen, we're you able to reproduce my workflow?

[2019-09-06 15:08] ye-luo commented on #1873
This a new scheme to be introduced in #1750
Accelerated descent method MinMethod=descent
and hybrid which allows doing a few steps of descent and a few steps of adaptive.
descent steps can be made relatively cheap and that is why different VMC settings are given.

[2019-09-06 15:27] prckent commented on #1873
(This example reminds me how much I am looking forward to improved VMC input logic and clearer names for parameters in future. e.g. We ought to be able to setup the VMC part of the optimization based on only the total number of samples  and timestep, and we might have a better name for "samples" which is proving a confusing input parameter for new users.)

[2019-09-09 20:33] prckent commented on #1866
@jtkrogel OK to close this issue?

[2019-09-09 20:35] jtkrogel commented on #1866
Yes.

[2019-09-09 20:35] #1866 closed

[2019-09-10 19:44] grahamlopez commented on #1802
@jtkrogel have you done anything on this yet, or have any thoughts about it? I was going to check in on it if you aren't already finished with it.

[2019-09-10 19:54] jtkrogel commented on #1802
I was going to make a test for TraceManager before doing this, but as I won't get to this for a while you can go ahead.

As an aside I'll note as well that there is (or at least was) also ADIOS code in the checkpoint/restart area of QMCPACK.

I guess all the relevant code is behind ifdefs?  If so, then removal should be rather safe.  If you proceed, let me know when the PR is in and I will give it

[2019-09-10 20:30] grahamlopez commented on #1802
Okay, I have noticed these two spots that you mention, but most is behind ifdefs. I'll let you know how it turns out.

[2019-09-10 21:26] tiihonej opened #1888 "Jastrow coefficients are frozen in optimization loops"
Since Aug 27 looping the Jastrow optimizer does not do anything, but the coefficients appear to be frozen. That is, the values remain the same on each loop iteration after the first. I'm attaching an archive with example input and output. I haven't tested thoroughly with different optimizers, but at least blocks of the following form seem affected:

`   <loop max="8">
      <qmc method="linear" mo

[2019-09-10 21:57] prckent commented on #1888
This looks to be a real problem that we simply didn't notice in our regular testing:
<img width="799" alt="Screen Shot 2019-09-10 at 5 56 45 PM" src="https://user-images.githubusercontent.com/13683814/64653446-72063080-d3f4-11e9-8e2c-75db8e5682d3.png">

[2019-09-10 22:37] ye-luo commented on #1888
#1830 didn't fully fix WF optimization.

[2019-09-11 01:58] #1802 closed

[2019-09-11 02:55] #1888 closed

[2019-09-11 13:07] ye-luo opened #1892 "Inconsistent parameter name in hdf written by pyscf with convert4qmc read"
[code]
**SpinUnResticted** has typo and is not consistent with **SpinRestricted**
https://github.com/QMCPACK/qmcpack/blob/b80145e391544913bf1498d59b5d89da1ebd6bb1/src/QMCTools/LCAOHDFParser.cpp#L78
They need to be consistent.

The pyscf to h5 converter PyscfToQmcpack.py probably has been fixed already. I found
[code]
One more thing, `(1,)` writes the scalar dataset as array size 1 (see above `Data

[2019-09-11 14:32] prckent commented on #1864
I believe this was closed by #1879

[2019-09-11 14:32] #1864 closed

[2019-09-11 21:01] markdewing commented on #1859
The orbital is not centered in the cell.
Dumping the position and potential values and plotting them shows the values cluster around -5 and 5. Similarly with plotting r and values of the wavefunction.

A quick hack that adds (5,5,5) to each position before computing the potential gives a much better total energy (1.49 +/- 0.01).

[2019-09-11 21:47] markdewing commented on #1859
More precisely, when computing the orbital, the position gets transformed from [0,L] ( or [-L,0]) to the interval [0,1].   The center of the orbital is at L/2.
( For the position transform,  see convertPos in QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h)
The applyMinimumImage function wraps values outside the interval [-L/2, L/2] so they lie in the interval.  The center of the orbital is sti

[2019-09-11 22:56] ye-luo opened #1896 "What is QMCWaveFunctions/HarmonicOscillator/SHOSet.h?"
It seems that we don't have any tests for this class.

[2019-09-11 23:06] ye-luo opened #1897 "IonOrbital need SoA"
https://cdash.qmcpack.org/CDash/testDetails.php?test=6114702&build=78458
Broken I believe since #1846.
When the code is build SoA but addTable requests AoS, the pointer to DT is nullptr and caused segmentation fault.
We need to add a check for SoA build and stop the code if AoS DT is requested.
@markdewing I assign you because you are more familiar about how to add the protection in createDT funct

[2019-09-12 01:31] Paul-St-Young commented on #1897
OK, I implement SOA for this along with the lattice deviation estimator.
Regarding the name, how about `LatticeGaussianProduct`?
This wavefunction is a product of gaussians, each centered around a lattice site.

[2019-09-13 15:03] ye-luo commented on #1897
Should be good. Unless other suggestions show up, just put what you suggested.

[2019-09-13 17:02] jtkrogel commented on #1792
Addressed by #1879.

[2019-09-13 17:02] #1792 closed

[2019-09-13 20:08] tiihonej commented on #1847
Update on this issue:

It appears that the main cause of error is the Jastrow optimization process. If the Jastrow is not optimized properly (i.e. variational minimum is not reached), extra corrections to forces are needed.

[Attached](https://github.com/QMCPACK/qmcpack/files/3611615/F-error_vs_VE-Ratio.pdf) is a figure that shows correlation between variance/energy ratio and the relative error in

[2019-09-13 20:28] prckent commented on #1847
Are the different points on the most recent graph all with different Jastrow functions or are any with no Jastrow?

[2019-09-13 20:45] tiihonej commented on #1847
I forgot to mention: the different points represent different separations.

Assuming effect of the separation itself small, variation of the points of given color in x-axis indicates fluctuation of independent optimizer outcomes. Nevertheless, there seems to be linearity in the force error and the magnitude of variance.

Another curious detail: LiH with VDZ basis has bad performance compared to th

[2019-09-16 11:56] jtkrogel commented on #1847
My best understanding of the force error shown in the plots is our neglect of or inability to account for how the force depends on changes in the Jastrow parameters (implicit dependence, involves derivatives of Jastrow coeffs w.r.t. ion positions).

This term is basically (in one dimension) dE/dp*dp/dr, where p represents parameters/coefficients, E is the energy and r the ion positions.  If we hav

[2019-09-16 12:03] jtkrogel commented on #1847
Reposting as image so it is easier to see:

![F-error_vs_VE-Ratio-1 png-1](https://user-images.githubusercontent.com/24547905/64956195-0ab70900-d858-11e9-859b-02102da91276.png)

@tiihonej For the points that are most accurate (Ferr/Fion < 1%), could you list or plot them in absolute units (e.g. eV/Angstrom)?

[2019-09-16 14:48] tiihonej commented on #1847
Here's some more figures:

Below are the absolute errors (in mHa/bohr ~ 51.4 meV/Angstrom) of the most accurate simulations. The forces, and thus, the fluctuations of CO are two orders of magnitude larger. It should be noted that the "error" with respect to SCF forces is not necessarily a well-defined reference at these magnitudes. I'm working on better data to perform reliable fits to local energ

[2019-09-16 15:34] jtkrogel commented on #1847
@tiihonej and @rcclay I just realized that these errors might alternately relate to statistical bias.  The linearity with variance is particularly suspect.

@tiihonej Would you take a poorly performing (large force error) case (single qmcpack run) of each of LiH (aug-V5Z) and CO (aug-VTZ) and gather 100x more statistics?  If there is statistical bias, we should see the new force mean with 10x smal

[2019-09-16 22:32] camelto2 opened #1913 "Zn.ccECP-SO.xml physically incorrect"
For parsing purposes, the existing Zn.ccECP-SO.xml in the pseudopotentials_for_tests directory is fine. However, for the future, it should be noted that the Zn.ccECP-SO.xml format is not technically correct and should corrected.

For instance, the current Zn.ccECP-SO.xml took our existing Zn.ccECP.xml from pseudopotentiallibrary.org and added SO terms from the stuttgart ECP page. The p,d,f SO corr

[2019-09-17 13:01] prckent commented on #1913
I suggest to add an issue referencing this one about checking for the presence of semilocal projectors for all the channels where SO corrections are given and at least printing a giant warning.

[2019-09-20 04:25] prckent opened #1926 "clang4 complex is broken"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=80202

Another boost issue. Is this a revert? (@PDoakORNL )

[2019-09-20 16:08] PDoakORNL commented on #1926
Will look into it doesn't look related to pragma warning message supression

[2019-09-23 20:23] rcclay opened #1933 "Always add dynamical spins to ParticleSet & Walker?"
For dynamical spin and non-collinear calculations, one needs to do MC on both the 3N electron coordinates **R** and N spin coordinates **s**, and they both need to be treated on par with one another.  The current solution I have permanently adds **s** to ParticleSet and Walker, which gets parsed and resized along with R, group ID's, etc.

PRO:  there's very little code (~18 lines including comment

[2019-09-23 21:07] #1933 closed

[2019-09-25 16:29] rcclay opened #1942 "Add Templating to ParticleSet, TrialWaveFunction, and OperatorBase?"
After discussion in PR#1934, and subsequent discussions related to fast force evaluation & spin-orbit implementations, I think it's time to discuss some potential design improvements.  I'm open to anything that accomplishes my objectives, though I'm proposing the current solution for discussion.

**Summary:** Template ParticleSet and Wavefunctions on type of the degrees of freedom X.  X=R, X=[R,S]

[2019-09-25 20:56] tiihonej opened #1944 "Systematic error in VMC forces with Jastrows"
Careful tests of the ACForce estimator for VMC have revealed a systematic error, when Jastrows are present.

Overview of the simulations:
- LiH and CO in open boundary conditions (chosen for their good overall performance)
- Slater determinant (SD) from GAMESS RHF, ccECP with aug-VTZ basis

Assessment of accuracy:
The difference between the force and the energy derivative should be zero. The energ

[2019-09-26 00:30] Paul-St-Young opened #1945 "Unit test needed for GaussianLatticeProduct"
See #1938

[2019-09-26 05:03] naromero77 opened #1946 "PGI 19.7 compile-time error when build_type=RelWithDebInfo"
@markdewing @prckent

This occurs with QMCPACK 3.8.0 and PGI 19.7. The PGI_LOCALRC files is configured to use the GCC 6.2.0 using:
[code]

I found that it was also necessary to add the following line to the PGI_LOCALRC file:
```switch -pthread is replace(-lpthread) positional(linker);```

Here is the problem: When `build_type=Release` which is the default, QMCPACK builds properly. However, `build_

[2019-09-26 05:14] prckent commented on #1946
Note also https://github.com/QMCPACK/qmcpack/issues/1304

[2019-09-26 17:49] kryczko commented on #1775
I have an additional question for this thread: When using multiple k-points in Qbox, what states are read into qmcpack after the convertpw2qmc command has been used to convert the orbitals?

[2019-09-26 19:17] lshulen commented on #1775
All of the states that are present and written by qbox are propagated into the hdf file that qmcpack can read.

The question about what qmcpack actually does with this is that you can specify which k-point (we call it a twist) to use in the calculation in your determinantset.  You can also use multiple k-points at once to generate a supercell, and this is handled by the tilematrix attribute of det

[2019-09-28 05:36] ye-luo opened #1949 "cmake configuration failure due to missing files but CI didn't catch it"
test_template_types.cpp was added to cmake but the file was not included in #1947.
It is very strange that Oxygen CI passed. Someone who has access to the jenkins needs to have a close look. ALCF CI correctly reports failure due to cmake error.
https://cdash.qmcpack.org/CDash/index.php?project=QMCPACK&date=2019-09-28

[2019-09-28 12:29] PDoakORNL commented on #1949
Fixing this now.  I should have trusted the ALCF CI and looked closer.

[2019-09-30 15:22] prckent opened #1954 "Prototype batched drivers"
First versions of VMC and DMC batched drivers.

Includes, e.g. #1773 , #1947, #1952 and considerable API refactoring. Existing ("legacy") drivers should continue to work unchanged.

[2019-09-30 15:32] ye-luo opened #1955 "ntest_nexus_grid_functions failing"
https://cdash.qmcpack.org/CDash/testDetails.php?test=6267412&build=82155
@jtkrogel Is this due to too old python or actually a bug?

[2019-09-30 15:58] jtkrogel commented on #1955
Probably due to too old numpy.

From https://docs.scipy.org/doc/numpy/reference/generated/numpy.meshgrid.html:

"Changed in version 1.9: 1-D and 0-D cases are allowed"

If using numpy with version before 1.9 (Sep. 2014), then this failure likely results.  Check the following on bora:
[code]

[2019-09-30 16:21] ye-luo commented on #1955
I switched to a newer python and numpy and got
[code]

[2019-09-30 16:47] jtkrogel commented on #1955
Python 3?

[2019-09-30 16:51] ye-luo commented on #1955
Yes. It was python 3. I switched to python 2 and it works well now.

[2019-09-30 16:51] #1955 closed

[2019-10-01 14:44] ye-luo opened #1962 "Oxygen nighly AoS labeled builds are actually SoA"
`-DENABLE_SOA=0` doesn't get added but the script in the repo seems to be able to add it.
Affecting GCC8-MKL-Complex-AoS-Release and GCC8-MKL-AoS-Release builds

[2019-10-01 14:47] ye-luo commented on #1949
Fixed by #1959. Verified by #1961.

[2019-10-01 14:47] #1949 closed

[2019-10-01 20:40] tiihonej commented on #1944
To further narrow it down, here are self-consistency studies of homogenous dimers.

First, H2 also shows a bias. Relatively, the error is very small, but the convergence over 16-fold statistics rules out statistical origin. H2 does not have non-local ECP components, so the error must originate from somewhere else
![H2_fixJ_x16](https://user-images.githubusercontent.com/12646540/65998754-f7b45380-e

[2019-10-02 14:07] jtkrogel opened #1964 "Missing and misnamed files in AFQMC examples"
Some of the files in the AFQMC examples are either misnamed or missing altogether.

Examples beyond the first use `pyscf_to_afqmc.py` to produce `hamil.h5` (` pyscf_to_afqmc.py -i scf.chk -o hamil.h5 -t 1e-5 -v`) while the `gen_input.py` script expects a file named `afqmc.h5` in all examples.

Missing files:
* `06-methane_converge_back_prop` is missing `scf.py`

A more minor point: starting with e

[2019-10-02 14:15] jtkrogel commented on #1964
Also, some paths are non-existent and should be removed.  These are carry overs from the workshop, such as `$HOME/apps/qmcpack/qmcpack/utils/afqmctools/bin/`.

[2019-10-02 19:40] #1844 closed

[2019-10-03 02:40] #1845 closed

[2019-10-03 16:46] zenandrea opened #1973 "DLA implementation and speed"
@ye-luo @prckent
I am testing the DLA implementation (from the develop version of Oct 1st, as v.3.8.0 does not implement it), and I am observing that DLA is around 20% slower than LA or TM.
This is quite unexpected, as DLA should perform a smaller number of operations than LA and TM, so it should be systematically faster.
Am I missing something?

By the way, I have seen that DLA works on the GPU i

[2019-10-03 17:09] prckent commented on #1973
@ye-luo can comment on the speed vs LA or TM.

To use Summit **with good efficiency** will require the new batched drivers (e.g. #1947, done), various dependencies such as population control (e.g. #1819 ), plus updates for observables. We are targeting the new INCITE year for this and will check with you about exactly what you need first.

[2019-10-04 01:21] ye-luo commented on #1973
DLA should not significantly impact performance. However if it affects the random walking a lot and acceptance ratio is increased, the whole code can be slower.
The DLA doesn't work with the CUDA build. It should work with the new driver out of the box.

[2019-10-04 19:48] prckent commented on #1964
Closed by #1966

[2019-10-04 19:48] #1964 closed

[2019-10-04 19:50] prckent commented on #1973
I think we can close this provided the results are correct and we are not doing any extra work (redundant wavefunction evaluations, ratios etc.).

OK to close @zenandrea ?

[2019-10-04 22:42] zenandrea commented on #1973
@prckent
I can crosscheck the outcomes of DLA with CASINO or QMCPACK. in order to see if results are correct.
Anyway, the DLA seems to run also with the CUDA build on summit.
If the results obtained are not to be trusted, maybe some check should stop the execution when DLA is used with CUDA.

[2019-10-08 16:22] jtkrogel opened #1979 "scalar.h5 should be stat.h5"
The AFQMC code currently writes heavy observables, like the 1RDM, into a `scalar.h5` file.  This is in addition to the `scalar.dat` file that actually contains scalars.

The double naming (scalar.h5 and scalar.dat) is confusing.  Additionally, the naming is confusing because the real space code uses the distinctly named `stat.h5` file for the type of heavy observables `scalar.h5` contains.

The `s

[2019-10-08 17:03] prckent commented on #1979
Agreed.

[2019-10-08 17:07] prckent commented on #1979
Also, the 1DRM is not a scalar...

[2019-10-08 17:07] fdmalone commented on #1979
Ok. It's not really clear that 'stat' is an obvious name for things other than 'scalars' though is it?

[2019-10-08 19:16] jtkrogel commented on #1979
Resolved by #1980.

[2019-10-08 19:16] #1979 closed

[2019-10-09 05:45] PDoakORNL opened #1983 "Global Random found Harmful"
So
[code]
Random is a global object and not threadsafe.  In the new DMCBatched driver NonLocalECPPotential::evaluate is called in a threaded context.  It does this
[code]
This rather randomly causes SIGSEGV

This took me quite some time to catch in a core dump. Enough with the global objects and unclear scopes.

[2019-10-09 12:54] jtkrogel commented on #1983
What are the implications for current use of random numbers for different threads?

[2019-10-09 13:01] ye-luo commented on #1983
The global RNG recorded in the constructor is only used by the CUDA code.
The CPU code path overwrites the recorded one by the per-thread RNG at a later stage by calling setRandomGenerator. So there is no problem in the production code.

[2019-10-09 13:07] prckent commented on #1983
...and the CUDA code does not do threaded execution, so production use is safe even if ugly.

[2019-10-09 13:12] PDoakORNL commented on #1983
I still have a segfault. CoreDump points here.

[2019-10-09 13:16] PDoakORNL commented on #1983
This is only surfaced for the DMCBatched, I not implying current code isn't a special case where this somehow works.  But I'm not participating in further development impacted by this until I fix it and I don't much care about the state manipulation that makes it work in the legacy code.

[2019-10-09 13:29] ye-luo commented on #1983
Yes. This is a valid bug report. We probably need to find a clean way to deal with per walker RNG need.

[2019-10-09 16:45] PDoakORNL opened #1987 "Big Five Warnings from AFQMC"
I get many of these  from clang, they are annoying.  Please fix or if you must push a suppression of your warning in your headers, see Utilities/BoostRandom.h if you don't undestand me.
[code]

[2019-10-10 12:46] prckent opened #1988 "Periodic gaussian complex k-point support"
This release to include the now-working but non-optimized support for arbitrary k-points. A PR is in preparation. The implementation will be optimized and improved at a later date.

[2019-10-10 13:39] prckent opened #1990 "GCC glibc check fails with GCC version <6 due to unsupported -Wmisleadingindentation option"
GCC 5.5.0 builds broke last night https://cdash.qmcpack.org/CDash/viewConfigure.php?buildid=84206 due to the update in warnings in #1936

Suggested resolution: WONTFIX. This is simplest. GCC6 introduced this flag. Since we are near a release and can update minimum dependencies, move to GCC 7.2 released August 2017 https://gcc.gnu.org/releases.html following our two year rule.

[2019-10-10 13:47] ye-luo commented on #1990
For various reasons, I still need gcc 6.
1. clang 9 openmp offload has cmath/math.h issue with gcc >6
2. Using cuda 10.0 only supports up to Intel 18
3. Intel 18 is only guaranteed with gcc 6.

[2019-10-10 14:44] jtkrogel commented on #1796
The AoS to SoA portion of this issue has been handled in #1869.  Remaining issues relate to reactivation that are independent of AoS vs. SoA and pertain mainly to data routing.

[2019-10-10 17:21] afernandezody opened #1991 "MPI job not running with error Signal code: (-6)"
Hello,
I'm new to QMCPPACK and have compiled v3.8.0 with OMPI v4.0.2 and latest HDF5. The tests (ctest -R unit) passed with no failures. However, when I try to run an example, the system aborts and returns a signal code (-6).
[code]
Any ideas or what is going wrong or how to troubleshoot it? Thanks.

[2019-10-10 17:32] prckent commented on #1991
Does ctest -R short work? This has 16x1, 4x4, and 1x16 MPI x threads tests. A few statistical failures are allowed, but it all the many MPI ones fail that points to a problem with your MPI setup. I assume that other MPI codes run fine on this system with the same compiler and MPI wrappers.

[2019-10-10 18:02] prckent commented on #1990
The versions of GCC that we support as the primary compiler can be (are) different from those that Intel or Clang or CUDA might need. I therefore don't consider this a problem. For testing, the oxygen test scripts already use different versions of GCC or LLVM as required by a specific CUDA version or for C++ library support.

[2019-10-10 20:40] afernandezody commented on #1991
Hi @prckent,
Thank you for your quick response. My (cloud-based) systems don't actually agree with OpenMP threads so it's better to stick to purely MPI jobs. I ran your suggested script and it passed some tests (e.g. 1-25, 32-39, 45-54) but not others (e.g. 26-31, 40-44). It didn't seem that the code was using 16 MPI ranks so it's probably better to configure and spin up another system with 16 cor

[2019-10-10 21:08] prckent commented on #1990
I will soon update the README.md, oxygen spack setup script and nightly scripts for new versions.

[2019-10-10 21:08] #1990 closed

[2019-10-10 21:11] prckent commented on #1991
Aside: Since you mentioned cloud, if you are building in AWS  https://github.com/QMCPACK/qmcpack_workshop_2019/blob/master/AWS/setup.sh worked earlier this year.

[2019-10-10 21:47] markdewing commented on #1991
Is this a pure release (CMAKE_BUILD_TYPE=Release) or does it have symbols (CMAKE_BUILD_TYPE=RelWithDebInfo)?  A build with symbols might give a more informative backtrace.

Does it work with 1 mpi rank (or running w/o mpirun)?   That might also give a better error message.

[2019-10-10 22:55] afernandezody commented on #1991
Hello @prckent,
Thank you for the AWS script (I'm using CentOS not Ubuntu but it's definitely very helpful to understand how you set up several things). The new tests are still not working properly. The test (ctest -R short) is still causing the same failures, and my example was working for a couple of minutes but also broke down.
Your compilation flags are a little bit different from my example (

[2019-10-10 23:09] afernandezody commented on #1991
Hi @markdewing,
I'm not sure what you're referencing with CMAKE_BUILD_TYPE? Which step would this be?
I tried running the example as serial and got the same error message (did not see this coming) only for the single thread. This is confusing me even more because the problem might not be MPI related as I was thinking.
Thanks.

[2019-10-10 23:16] ye-luo commented on #1991
Please provide your out_2

[2019-10-10 23:20] afernandezody commented on #1991
This is the output from the serial attempt:

[code]

[2019-10-11 01:59] ye-luo commented on #1991
You probably ran out of memory. This problem size is not small. -6 and libc error also indicate this. How much memory you have? I think you need 8GB or more.

[2019-10-11 02:22] ye-luo opened #1994 "Change default delayed update rank"
If a matrix leading dimension is >= 192, set 32. 192 correspond to NiO 32 atom cell.
Regarding performance tests, we have one set using default and one set with specific delayed rank. Should we remove one set to reduce testing time?

[2019-10-11 02:24] ye-luo commented on #1994
There is a similar ticket #1187

[2019-10-11 02:24] #1994 closed

[2019-10-11 02:24] ye-luo commented on #1187
If a matrix leading dimension is >= 192, set 32. 192 correspond to NiO 32 atom cell.
Regarding performance tests, we have one set using default and one set with specific delayed rank. Should we remove one set to reduce testing time?

[2019-10-11 04:51] aannabe opened #1995 "Release 3.8.0 AoS build VMC energy evaluated incorrectly"
Si primitive cell in the diamond structure was evaluated without Jastrow using VMC at k=(0,0,0).
3.8.0 AoS VMC energy (most likely due to LocalPotential part) shows dependence on time-step!
[code]
Note that kinetic energies are consistent, so this likely due to a bug in the evaluation of potential energy.
Switching to SoA 3.8.0 gives:
[code]
AoS 3.6.0:
[code]

[2019-10-11 13:53] mcbennet commented on #1494
I would like to revive this to mention that I agree with the original suggestion that having qmcpack abort when the user specifies a cost function that is not pure energy minimization when using oneshiftonly is needed. I was caught by this myself recently. Additionally, as mentioned, the input example in the manual within "Wavefunction optimization" shows both a variance cost and oneshiftonly whic

[2019-10-11 13:57] tiihonej opened #1996 "Error in VMC force evaluation from bspline-wavefunctions of heterogenous systems"
Error is found in the self-consistency assessment of VMC forces (ACForce) of CO in bpsline basis.

The bspline-wavefunction is very straightforward in terms of the ZVZB estimator, because its derivatives w.r.t. ionic coordinates are zero, that is, Fzvzb = Fhf. The account of implicit change of coefficients is more involved, but the self-consistency (correctness of the implementation) can be easily

[2019-10-11 16:38] afernandezody commented on #1991
Hi,
It feels like there is a memory leak somewhere but cannot pinpoint why. I have tried increasing the total memory (from 16 GB to 128 GB) and the memory per MPI rank (from 2 GB/rank to 8 GB/rank). Even though the jons ran longer, they eventually crash. Furthermore, the job with 16 MPI ranks and 128 GB froze the system (twice) that had to rebooted the hard way. For brevity, I'm attaching the erro

[2019-10-11 16:59] markdewing commented on #1991
Something else to try is run a single rank run under gdb, and specify 'catch throw' to catch C++ exceptions at the point they are thrown.    Sometimes C++ exceptions don't get reported very well, especially under MPI.
Also, QMCPACK has some checks that will call MPI_Abort that could be getting triggered. Although those should be printing a error message.    You could also trying running with gdb a

[2019-10-11 17:55] afernandezody commented on #1991
Hi @markdewing,
Thanks. I'm building two new Ubuntu-based systems, one following Paul's script and the other piece-by-piece, to check out any similarities or differences. I'll try 'gdb' but probably not until tomorrow as a few other things are due.

[2019-10-11 18:40] prckent commented on #1991
QMCPACK should not crash like this so something is wrong. Running out of memory was a good guess, but that seemingly is not the problem. It would be interesting to know if the current develop version has the same problem - we have fixed a few bugs since 3.8.0 but I don't recall anything that would cause this issue.

[2019-10-11 19:26] prckent commented on #1995
Ugh. Can you use the SoA version for your work or is there something in the AoS version that you need that has not been ported over? SoA is the default now and AoS will be deleted soon.

[2019-10-11 19:30] aannabe commented on #1995
I need some observables that are not implemented in SoA yet.

[2019-10-11 19:32] prckent commented on #1995
Please tell us which ones. We are serious about deleting the AoS code.

[2019-10-11 19:34] aannabe commented on #1995
S(k) and n(k) (momentum distribution).
This issue could be closed if there are no further intentions developing AoS code.

[2019-10-11 19:42] prckent commented on #1059
These missing CUDA capabilities will never be implemented by the main developers, so I am closing the issue. Anyone needing these is welcome to make the updates themselves. The plan is to delete the legacy CUDA implementation, delete the legacy AoS CPU implementation, and concentrate on adding GPU capabilities to the "SoA" CPU code in a fully compatible manner. Moving forward QMCPACK will not have

[2019-10-11 19:42] #1059 closed

[2019-10-11 19:42] prckent commented on #467
These missing CUDA capabilities will never be implemented by the main developers, so I am closing the issue. Anyone needing these is welcome to make the updates themselves. The plan is to delete the legacy CUDA implementation, delete the legacy AoS CPU implementation, and concentrate on adding GPU capabilities to the "SoA" CPU code in a fully compatible manner. Moving forward QMCPACK will not have

[2019-10-11 19:42] #467 closed

[2019-10-11 19:45] prckent commented on #925
Currently there is no plan to fix this since the new GPU capabilities that are being built should not have the same problem. If truly critical it could be fixed, but the lifetime of this code and its unique bugs is now short.

The plan is to delete the legacy CUDA implementation, delete the legacy AoS CPU implementation, and concentrate on adding GPU capabilities to the "SoA" CPU code in a fully c

[2019-10-11 19:45] #925 closed

[2019-10-11 19:50] prckent commented on #936
This missing CUDA capability will never be implemented by the main developers, so I am closing the issue. Anyone needing this welcome to make the implementation. The plan is to delete the legacy CUDA implementation, delete the legacy AoS CPU implementation, and concentrate on adding GPU capabilities to the "SoA" CPU code in a fully compatible manner. Moving forward QMCPACK will not have internal f

[2019-10-11 19:50] #936 closed

[2019-10-11 19:52] prckent commented on #564
These missing CUDA capabilities will never be implemented by the main developers, so I am closing the issue. Anyone needing these is welcome to make the updates themselves. The plan is to delete the legacy CUDA implementation, delete the legacy AoS CPU implementation, and concentrate on adding GPU capabilities to the "SoA" CPU code in a fully compatible manner. Moving forward QMCPACK will not have

[2019-10-11 19:52] #564 closed

[2019-10-11 19:54] prckent commented on #1987
Any comments on this? @mmorale3 , @fdmalone , @correaa ? We would like to build the code warning clean.

[2019-10-11 22:43] rcclay commented on #1996
I'm looking into this.  There seems to be a potential memory initialization issue, since this example crashes when boundary conditions are changed from "n n n" to "p p p".

[2019-10-11 23:03] rcclay commented on #1996
My old PBC Na2 sodium runs crash as well.  After this is fixed, I'll put in short stochastic test to catch such breakages.

[2019-10-12 00:03] correaa commented on #1987
This pattern generates a warning in clang (and not in gcc):

[code]

The solution therefore is to do this:

[code]
Which translates into this fix:
[code]
(or just commenting the line.)

I don't agree that this is should be warning in the first place, since the *default* should be to *delete* it anyway.

[2019-10-12 00:36] ye-luo commented on #1991
Your initial run crashed because of insufficient memory for the spline table. This table is replicated on every rank. So once you increased the memory per rank to 8GB it indeed went away. However, you hit a double free pointer. Could you try the develop branch instead of v3.8.0? Could you share you input xml as well.

[2019-10-12 17:25] afernandezody commented on #1991
The input file is attached (the extension has been changed so that it can be supported by Github).
[NiO-example.txt](https://github.com/QMCPACK/qmcpack/files/3720958/NiO-example.txt)

[2019-10-12 17:51] afernandezody commented on #1991
Hi,
I went back to square one and built a system as similar as possible to the one described at https://github.com/QMCPACK/qmcpack_workshop_2019/blob/master/AWS/setup.sh. However, I don't have Intel compilers so everything was compiled with GNU. The system has the following characteristics:
OS: Ubuntu 18.04
Compilers: GNU 7.4.0
MPI wrapper: OpenMPI v 2.1.1
MKL: 3-062
HDF5: 1.10.5
FFTW: 3.3.8
QMCPA

[2019-10-14 10:20] zenandrea opened #2000 "Evaluation of Finite size effects"
I would like to evaluate finite size effects.

Concerning the correction to the potential, I can use MPC.
If I set in input
    <pairpot name="ElecElec"  type="coulomb" source="e"    target="e"   />
    <pairpot type="MPC" name="MPC" source="e" target="e" ecut="30.0" physical="no"/>
then the local energy is calculated using the Ewald ElecElec interaction.
The correction is given my MPC-ElecElec.
I

[2019-10-14 13:23] grahamlopez commented on #1987
Yeah, it is kind of weird. Here, `default` is explicitly asking the compiler to generate a default copy assignment operator which contradicts the instruction to disable copy assignment via `delete`. It doesn't really mean "do the default thing for this class."

[2019-10-14 13:58] prckent commented on #1995
@aannabe I noticed that your SoA VMC runs also show very different acceptance ratios than the reference. If you have time, please can you check **independent** runs with different time steps etc. and double check that no files have been mixed, that equilibration is long enough etc.

[2019-10-14 15:32] prckent commented on #1962
This is happening due to how ctest_script.cmake is written. Fix in testing.

[2019-10-14 15:32] prckent commented on #1858
This is happening due to how ctest_script.cmake is written. Fix in testing.

[2019-10-14 16:14] PDoakORNL commented on #1987
So is this a hole in the standard or clang being too pedantic?

[2019-10-14 16:17] correaa commented on #1987
It is clang.

[2019-10-14 16:36] zenandrea commented on #2000
I forgot to mention:
the manual reports about a tool `qmcfinitesize`
which I cannot find.
Does the tool (still/yet) exist?

[2019-10-14 16:53] grahamlopez commented on #1987
It is neither. Clang is correct to warn here. The user is asking for the operator to be deleted in the base class, and then in the derived class asking for it to be defaulted (un-deleted).

[2019-10-14 19:17] ye-luo opened #2002 "Is it time remove to Communicate::initialize?"
Unit tests use this function to initialize MPI. It is no-op but causes tests/kernels using MPI to fail at message "Attempting to use an MPI routine before initializing MPICH"
It is probably on @markdewing plan already.

[2019-10-14 19:22] prckent commented on #2002
MPI usage in the unit tests needs examining in general.

[2019-10-14 19:58] ye-luo commented on #2002
I need the following workaround
old code
[code]
new code
[code]
The ifdef is ugly

[2019-10-15 00:26] #1858 closed

[2019-10-15 00:26] #1962 closed

[2019-10-15 02:11] aannabe commented on #1995
@prckent Running independently using the same input except for time-step:
[code]

[2019-10-15 02:15] aannabe commented on #2000
If I am not mistaken, printed MPC will be only a correction if the above input is used.
3.7.0 AoS seems to have no bugs mentioned previously.

[2019-10-15 02:32] ye-luo commented on #1995
@aannabe could you add ElecElec term of all the above? My quick check shows this term contributes all the difference.

[2019-10-15 05:15] aannabe commented on #1995
Indeed that seems to be the source of difference
[code]

[2019-10-16 13:18] PDoakORNL opened #2007 "Its time to end the XML input antipattern"
XMLNodePtr is the (void*) of QMCPack
[code]
Not only do we construct most important objects in two or more stages but this construction/initialization is driven by what amounts to void*'s.

This has to end.  As void* will it evades the type system, cannot be reasoned about in the code, and allows the develop to never clearly specify the actual contents of the void*.

Going forward I propose that n

[2019-10-16 16:09] prckent commented on #2000
I think that @jtkrogel has the best perspective of the situation but he is out for a few days. When he is back and has time we should discuss the situation here. Clearly MPC need to work since it is a standard (default?) observable for solid state calculations. I see two issues (1) How are the results output and analysed conveniently, including with error cancelation as mentioned above?  Some twea

[2019-10-16 16:27] afernandezody commented on #1991
Hello,
I'm still struggling running the code. I downsized it to the most simple configuration: a serial version compiled with gcc and g++. The compilation produces a warning message about variable length arrays (a screenshot is attached) but no error messages. Running the example always results in a similar error message (multiplied by the number of ranks if MPI is used):
[code]
Using 'gdb' as sug

[2019-10-16 16:32] markdewing commented on #1991
Could you run a backtrace in gdb once the program stops? (The command is 'bt')

[2019-10-16 16:38] markdewing commented on #1991
The other way to get more information about where the exception is occurring is to run `addr2line` to resolve the addresses in the crash output to file/line number.
The command would look like `addr2line -e ../../../../qmcpack 0x884d99`  (In the Ubuntu output, use the relative address - the one that starts with `+` and is in parenthesis.)
The most useful locations are the few in qmcpack right belo

[2019-10-16 17:12] ye-luo commented on #2007
It really depends. I think for classes don't have a proper builder handling XML and use `put()` in the final object this is probably a good way to go. The key goal is not adding any more copies of parameters. If it is stored in the input class, it must be consumed directly in every place using these parameters inside the object.

[2019-10-16 17:32] afernandezody commented on #1991
Thanks @markdewing. I'm posting the outputs from bt (gdb), valgrind, and addr2line. I don't know what is the CloneManager or why it's causing an illegal instruction.
[bt_output.txt](https://github.com/QMCPACK/qmcpack/files/3735638/bt_output.txt)
[valgrind_output.txt](https://github.com/QMCPACK/qmcpack/files/3735639/valgrind_output.txt)
[addr2line_output.txt](https://github.com/QMCPACK/qmcpack/file

[2019-10-16 17:49] ye-luo commented on #1991
@afernandezody signal -6 indicates insufficient memory. I ran your NiO-example on my workstation and the code runs and report
[code]
You must provide at least 14GB memory **per MPI rank** to run this input file. Could you double check your VM.

[2019-10-16 18:01] PDoakORNL commented on #2007
As a goal no object should have a put.  Either they are created by a factory or have constructors that express their actual requirements.

[2019-10-16 20:41] afernandezody commented on #1991
Hi @ye-luo,
Thank you. I was finally able to run the serial code and the simulation took two hours to complete. The choice of parameters is not mine as the problem is part of a benchmark suite supported by the US-DoE; if they have chosen this memory requirement is probably because it represents the type of problem that they have been dealing with. The thing is that cloud providers usually offer sm

[2019-10-16 20:49] ye-luo commented on #1991
QMCPACK users are recommended to run 1 MPI rank per node or socket and set OMP_NUM_THREADS equal to the number of cores because certain big data set doesn't need to be replicated per thread and thus saves memory + no idle core.

[2019-10-16 23:21] afernandezody commented on #1991
Thanks. This should help me moving forward.

[2019-10-16 23:57] aannabe opened #2011 "Default behavior for restart"
If one decides that the error bar of a DMC run is not small enough, a restart/continuation might be attempted as:
[code]
However, this overwrites the scalar file of that series. I think this behavior is risky and appending the \*.scalar.\* , \*.dmc.\* , \*.stat.h5 might be better. In fact, it would be very intuitive if re-running the same original input would check for existing walkers and resume

[2019-10-17 00:19] ye-luo commented on #1991
We can reopen the ticket if there is further issue.

[2019-10-17 00:19] #1991 closed

[2019-10-17 13:57] #1988 closed

[2019-10-17 13:59] prckent opened #2012 "Add deterministic unit test for LCAO gaussian basis with k-points"
Per discussion in #1992 @mcbennet will add this. Thanks!

[2019-10-17 14:31] ye-luo commented on #2011
I'm more concerned of corrupted files if a run was cut by walltime. Scanning for the latest sequence is not really possible. People can put gaps in the sequence, 0,1, then 101, then 1001. So what is a good upper limit for guessing? Aborting the code can be a safe option.

[2019-10-17 14:46] prckent commented on #2011
The general issue is how to make restarts super easy and the workflow much better than now.   There are several cases to consider.

If a run is guillotined due to walltime then restarts may not be possible at the moment in any case - that is a separate problem that could be tackled by rotating output files. We do have a maxcpu time setting to help avoid this. @aannabe is asking about a more common

[2019-10-17 16:50] markdewing opened #2013 "Top level C++ exception handling needed"
Unhandled C++ exceptions typically do not leave a very informative trail - usually just a signal -6 exit code from the process.  And this makes debugging the problem more difficult than it needs to be.
See #1991 for an example.

One solution is to add a try/catch block at the top level, likely near the end of qmcapp.cpp. This could catch different errors (std::bad_alloc for out of memory, std::run

[2019-10-17 17:59] grahamlopez commented on #2013
This is not my fight by a long shot, but I would strongly vote for just getting rid of exceptions completely. They almost always cause more trouble and development effort than they save. They are yet another form of scope-abusing control flow (`goto` anyone?) and they exercise more edge cases of C++ behavior than almost any other single language feature. All of this isn't even considering possible

[2019-10-17 18:15] markdewing commented on #2013
Exceptions already exist in the code, and they are a language-standard mechanism.  Catching out-of-memory errors from the standard library would be tricky (not impossible, but much easier to just catch the bad_alloc exception). Coming up with a good alternative, teaching people to use it, and applying it to the code seems like too much work.   If there is some critical part of the code where perfo

[2019-10-17 18:28] prckent commented on #2013
Is it correct to state that our only envisaged use for exceptions is when something has gone wrong (most likely memory or I/O failures) and we are about to quit? If so, what is being discussed here is the cleanest general and maintainable way to abort. Abuse of scope would not be much of a consideration here, but performance considerations should certainly be factored...

[2019-10-17 18:58] aannabe commented on #2011
Personally, the most convenient would be as follows. Let's say I have an input with VMC followed by DMC where walkers are saved every n blocks which also keeps last saved config as a backup (i.e we would have two different config files). Then re-running the same input would append the VMC and DMC runs by reading the corresponding config files. This should work regardless of how the job terminates

[2019-10-17 20:47] PDoakORNL commented on #2013
I agree exceptions should not be used as a replacement for goto or normal error handling. But looking through the code our use seems acceptable. However we should probably state in our coding standards that it should be assumed exceptions are thrown with no guarantee i.e. the program is probably not in a valid state, resources will almost certainly leak, etc. etc.

As far as cost my understanding

[2019-10-18 15:24] #1995 closed

[2019-10-18 15:29] Paul-St-Young commented on #1945
closed by #1972

[2019-10-18 15:29] #1945 closed

[2019-10-18 15:31] #1897 closed

[2019-10-18 15:43] ye-luo opened #2018 "Need spline + no Jastrow deterministic test"
It can be derived from short-LiH_solid_1x1x1_pp-gamma-vmc_hf_noj-1-16 .
See discussion in #2015

[2019-10-18 15:59] Hyeondeok-Shin commented on #2018
@ye-luo I'll make PR today.

[2019-10-20 10:26] #2018 closed

[2019-10-20 16:15] ye-luo opened #2022 "Need to revise orbital rotation reference values"
New orbital rotation implementation #1893 requires updating tests.
short-H4-msd-orb-opt-16-1 is failing because of probably too low reference.
short-H4-RHF-orb-opt-16-1is failing due to reference value made from UHF runs.

[2019-10-20 16:17] ye-luo opened #2023 "Incompatiable orbital rotation with threading"
See #1893, there are probably bugs.

[2019-10-20 16:19] ye-luo commented on #2022
@spinedaflores could you help this issue?

[2019-10-21 16:43] PDoakORNL opened #2024 "Unified Driver Input Design / Requirements"
The new driver design separates input parsing and defaults from the driver, branching, drift modifier, etc. objects. This removes the `void *` (see #2007)  equivalent from the creation process of the key objects at this level.

This results in both the possibility of validating input and forces the construction dependencies of the actual functional objects to be declared/defined clearly.

Currentl

[2019-10-21 19:01] jtkrogel commented on #2000
Currently `qmca` gives a corrected energy if both MPC and the Chiesa et al S(k) corrections are available.  I can put in a quick update to print a corrected energy in the presence of MPC alone.

I was actually unaware of (or had forgotton) the Chiesa S(k) breakage in SoA.  It is clearly not implemented however.  This is important enough to add it to the list for the SoA transition, though I don't

[2019-10-21 19:03] jtkrogel opened #2025 "Chiesa finite size correction not compatible with SoA"
No version of this correction exists for SoA.  As this is currently our only two body finite size correction for the kinetic energy, a port to SoA should be made.

See also #1003.

[2019-10-21 19:06] jtkrogel commented on #2025
I've currently placed this in the priority list for #861.  Perhaps @prckent should add approval/disapproval of this prioritization as time is short.

[2019-10-21 19:15] ye-luo commented on #2025
Currently the SoA codes print a warning. Users need to run AoS one step to access the correction value. The correction evaluation can be moved to the Jastrow builder but will not be printed out in scalar.dat but just one line in the output file

[2019-10-21 19:17] jtkrogel commented on #2000
@zenandrea see #2026 for the `qmca` update.

[2019-10-21 19:20] jtkrogel commented on #2025
It should go in scalar.dat for post processing.  The output and storage overhead is minimal and I don't want to add output log data scraping to `qmca` just for this.

[2019-10-21 19:43] ye-luo commented on #2025
I understand the convenience to collect the number via scalar.dat. On the other hand, I feel it is awkward to collect a constant by saving it in the WF object and then create an estimator to run the whole data collection machinery to print it out to scalar.dat.

[2019-10-21 19:45] jtkrogel commented on #2025
Perhaps a better route to scalar.dat is needed. I am agnostic there.  Whatever the internal route, it should end up in scalar.dat.

[2019-10-21 23:17] rcclay commented on #2000
@jtkrogel I think @Paul-St-Young is the current expert on the status of this tool.

[2019-10-22 15:16] rcclay opened #2031 "Forces: Ion-Ion forces from CoulombPBCAA are not correct."
During debugging of the ion-ion force bug in the CCZ estimator addressed in PR #2019, @Paul-St-Young found large disagreements between the fixed CCZ estimator+Quantum Espresso forces and the forces calculated by CoulombPBCAA.  CoulombPBCAA forces exhibit extremely slow convergence to a seemingly correct answer, which to me indicates a problem with the computation of the short-range piece of the fo

[2019-10-22 15:34] tiihonej commented on #2031
This has probably been done with divergent code from that in PR #2019, so I would review this issue after the merge is done.

What I get for IonIon forces with PR #2019 code, using QE for H2 with 2.0 bohr separation is the following, which looks fine to me, although the test is not very comprehensive:

[code]

[2019-10-22 16:27] rcclay commented on #2031
Try this one, courtesy of Paul.  64 disordered H atoms in a box.  Discrepancies (if they exist) will be obvious with the 3 force components of the first atom.  I hope that my code path just diverged, but on the other hand, dimers are pretty special so it's not inconceivable that they might pass simple tests whereas a more complicated system wouldn't.  CCZ post bug fix is bang on.
[rs125-i5.zip](ht

[2019-10-22 16:28] rcclay commented on #2031
I'll run the same example with your branch from PR #2019 as well.

[2019-10-22 18:32] tiihonej commented on #2031
Okay, I agree there's indeed a problem with CoulombPBCAA Ion-Ion forces, which only manifests with more than two ions. Hopefully it's easy to find and fix. Still, since CCZ seems to be fine, I'd merge PR #2019 now and work out a solution for this one separately. What do you think?

[2019-10-22 19:01] rcclay commented on #2031
Definitely merge PR#2019.  The issue was pre-existing.

[2019-10-22 19:31] #1187 closed

[2019-10-22 20:18] jtkrogel commented on #1699
@jptowns @markdewing Any updates?

[2019-10-22 20:56] rcclay commented on #2031
OK.  There's something goofy going on with the code.  Basically, the X components of all the forces come out right, but Y and Z are messed up in this test case.  However, there's no explicit reference made to the cartesian index, so who knows.  For now, I suggest using the simple loop structure of ForceChiesaPBCAA's ion force computation.  This gives the right answers, is simpler to read, and will

[2019-10-22 21:10] tiihonej commented on #2031
I barely missed your post, but I think I have already worked on and submitted more or less what you suggested. Actually I found similar strange behavior. Anyway, the problem was in CoulombPBCAA::evalSRwithForces. There might be something that doesn't work, when splint method is used on EwaldHandler3D, so I'm using sdDf now for forces (same as CCZ), and it seems to work.

[2019-10-22 21:18] rcclay commented on #2031
I don't think it's the spline, because porting over the code from Chiesa but using the dv/dr=rinv*(d_rv_dr-V) term (where d_rv_dr and V are evaluated from the splines) instead of srDf works fine.  This _feels_ like a slightly screwy distance table access.

[2019-10-23 14:47] prckent commented on #861
Chiesa/Ceperley and bare force estimators are currently marked as done, but #2025 indicates they are not. Should we consider this task done or not?

[2019-10-23 14:52] jtkrogel commented on #861
Marked as done following discussion with @tiihonej.  @tiihonej and/or @rcclay should comment here.

[2019-10-23 15:29] tiihonej commented on #861
@jtkrogel Yes, Chiesa/Ceperley and bare force estimators have been ported to SoA. @prckent, I thought #2025 refers to a different estimator with whose details I'm not familiar.

[2019-10-23 17:03] ye-luo commented on #2025
@Hyeondeok-Shin will help me porting this. I don't expect any significant difficulty.

[2019-10-24 18:18] prckent opened #2038 "Test needed for g(r)"
Per #2035 , a test is being created.

[2019-10-24 19:28] #1699 closed

[2019-10-24 20:20] jtkrogel commented on #2038
See also #396

[2019-10-24 20:28] prckent commented on #2038
Thanks. Two years old.

[2019-10-24 21:36] #331 closed

[2019-10-24 21:44] ye-luo commented on #2012
@mcbennet For creating unit test, QMCWaveFunctions/tests/test_MO.cpp is a good example. It was made for open boundary condition.

[2019-10-24 23:39] zenandrea commented on #2000
@jtkrogel many thanks.
The tool `qmca -q ec *scalar.dat ` works well if the sampling is done using ewald and mpc is set to be non-physical.
However, the result is wrong if mpc is set to physical and ElecElec is calculated but set to non-physical.

A possible fix to that is to change the line 1851 of qmca into
` v = data.Kinetic + data.IonIon + data.LocalECP + data.NonLocalECP + data.MPC `
and simi

[2019-10-25 00:52] mcbennet commented on #2012
Thank you!

For the tests, I am planning to compare the MOs along a particular path in real space between qmcpack and pyscf. Alternatively, the code that I wrote  which Anouar and I were using in Argonne (and also prints the MOs along a path) could be ported and folded into the test. But would it not be better to simply print the MOs directly from pyscf to compare with those from qmcpack?

[2019-10-25 00:58] ye-luo commented on #2012
I would prefer saving a list of values from pyscf to the test source code. Then compare qmcpack numbers directly to them. Keep the pyscf script next to the test so that someone can reproduce it in the future if needed.

[2019-10-25 12:59] jtkrogel commented on #2000
@zenandrea I think I have a fix that will capture all the situations you describe.  Please try out the updated code in #2042 and let me know if it works.

Expression evaluation is an intriguing idea.  Since this breaks the mold a bit, I will let this wait until after adequate test code has been made for qmca (tests should all be present by end Nov).

[2019-10-25 14:21] rcclay commented on #2031
Closed by PR #2019

[2019-10-25 14:21] #2031 closed

[2019-10-25 14:44] prckent commented on #2012
I agree with @ye-luo . Not an issue with saved values, but also bear in mind that we can't assume that PySCF will be available on the system where QMCPACK is installed and run. e.g. It is not yet installed on oxygen where we do most of our testing... (will fix soon).

[2019-10-25 14:57] prckent opened #2044 "v4.0.0 Release"
This will be a major update with significant removal of legacy code (legacy AoS code, legacy CUDA) and potentially breaking changes. Minimal GPU support via at least OpenMP offload compatible with the Summit@OLCF hardware (IBM Power9+NVIDIA V100) and its software stack will be provided.

[2019-10-25 14:57] #2044 closed

[2019-10-25 16:34] zenandrea commented on #2000
@jtkrogel Awesome, it works in my systems.

[2019-10-25 21:33] tiihonej commented on #1944
A brief update: the errors described in the previous are most likely not caused by a code bug after all! Rather, they originate from energy-derivatives of the wave function parameters, be it LCAO coefficients or those of the Jastrows.

No-Jastrow forces work well, because the derivatives are zero in the variational minimum. However, this property is broken by the introduction of Jastrows.

A simpl

[2019-10-25 21:36] ye-luo opened #2046 "How to update the deterministic integration tests for the batched drivers"
This is what I found in #2043
I tried switching to the batched drivers by default to see what happens with the current deterministic integration tests. LiH dimer passes out-of-the box. However
In calculations with PBC, the non-batched driver use makeMoveAndCheck which reject moves with displacement larger than half of the box while the batched driver doesn't use check since it complicates the driv

[2019-10-25 21:58] prckent commented on #2046
We should first discuss why we added makeMoveAndCheck to the legacy driver... good algorithm comes ahead of testing. For example, it seems like a nice check on crazy moves if the drift vector is misbehaving. We could make totally new deterministic tests for the batched driver &/or remove makeMoveAndCheck with PBC in the legacy driver...

It is very good news that LiH dimer passes.

[2019-10-25 22:58] ye-luo commented on #2046
I believe it was introduced for stopping crazy moves but I believe it can also burn users.

1. I noticed that with a particular seed, the LiH solid short test could fail due to too restrictive checks and proposed steps keep getting rejected and thus wrong results.
2. If people do want large moves, we can get spurious and biased results by the checks.
3. we do have drift modifiers and crazy moves w

[2019-10-25 23:22] ye-luo commented on #1926
all should be fixed since #2010

[2019-10-25 23:22] #1926 closed

[2019-10-25 23:25] ye-luo commented on #1873
superseded by #2024 more general discussion

[2019-10-25 23:25] #1873 closed

[2019-10-25 23:33] ye-luo commented on #1871
The second part has been addressed by #1935

[2019-10-25 23:33] #1871 closed

[2019-10-25 23:35] ye-luo commented on #1649
Unit test inplace

[2019-10-25 23:35] #1649 closed

[2019-10-25 23:38] ye-luo commented on #1577
Completed by #1621

[2019-10-25 23:38] #1577 closed

[2019-10-27 00:14] prckent commented on #2046
Agreed. (If someone finds problems with too large moves in future we should do the simple thing and introduce an option to limit moves to some input size and not have a hidden restriction.)

[2019-10-28 17:37] prckent commented on #2013
A catch was added in #2014 . We can revisit this topic if needed. Going forward we need to trap (via error code checking or catching) the most frequent errors near where they occur and give meaningful feedback to the user.

[2019-10-28 17:37] #2013 closed

[2019-10-30 00:16] #2025 closed

[2019-10-30 15:42] mcbennet commented on #2012
Noted. PR should sent out soon.

[2019-10-30 18:03] zenandrea commented on #1973
@ye-luo @prckent
Would it be possible to have something written in output when DLA option is set?
(right now I do not see any difference if DLA is set to yes or no)

@jtkrogel
How can I tell nexus that I want to perform QMC calculations with DLA="yes"?

[2019-10-30 19:55] jtkrogel commented on #1973
@zenandrea
It was not supported in Nexus before, but I just made a PR adding it.  See #2061.

[2019-10-30 19:59] prckent commented on #2024
- I am itching to have "better" input options for v4 to enable more automatic choices and clearer specification that the current inputs. Proposals that help with validation are therefore good: we'll need clean ways to write checks "if (read(stepsperblock) && read (totalnumsteps)) abort();". I don't think we should backport any of these changes to the legacy drivers.

[2019-10-30 20:15] ye-luo commented on #1973
@zenandrea We do print a line if DLA is enabled. https://github.com/QMCPACK/qmcpack/blob/3e0b560df8488f3b7cfbcd82112e1aab2b5d7ac1/src/QMCHamiltonians/ECPotentialBuilder.cpp#L81
What is your DLA input line?

[2019-10-30 21:32] zenandrea commented on #1973
@jtkrogel Fantastic, many thanks

@ye-luo Ah, now I see it. It is in the section of the ECP potential.
I am sorry, I was confused because in the dmc section the output writes `Using Locality Approximation`.

Just to know, does that mean that if I set DLA="yes" and T-moves (i.e., nonlocalmoves=v1 or v3) it does the tmove with the determinant only (which is what I called DLTM in the manuscript)?

[2019-10-31 18:01] ye-luo commented on #1973
@zenandrea In this case, "Using Locality Approximation" is a bit misleading. I need to think about how deliver more precise messages.

Yes. DLA and T-move can work together. T-move uses T probability computed during NLPP calculation.

[2019-10-31 18:41] prckent opened #2065 "branching_cutoff_scheme description needed in manual"
(Noticed in #2063)

[2019-10-31 21:22] rcclay commented on #1996
@tiihonej Can you break up the ZVZB force into the ion-ion, local, and nonlocal pieces?  I don't know if your error bars are small enough to allow you to fit the non-local and localECP energies to polynomials and differentiate them directly, but that would be the most direct and unambiguous test of which force component (if not all of them) are wonky in this system.

[2019-11-01 16:22] jptowns commented on #2038
Addressed in  #2066

[2019-11-01 20:50] tiihonej commented on #1996
I'll email you about breaking down the force into local/non-local components. I did some tests, but drawing conclusions can be a bit involved.

I'm inclined to think this one might also not be a bug, after all. According to recent tests, this only happens with frozen wavefunctions (wavefunction fixed, ions moved). Might there be something wrong with that test and bsplines? It does work for LCAO, t

[2019-11-01 22:39] anbenali opened #2068 "Deprecating Full XML input in LCAO (molecule and solid)"
Due to the complexity of maintaining full XML files (where basissets, MO_coeffs and multideterminants explicitly written) and HDF5 format where everything is hidden, I would like to see if it is possible to deprecate a fully XML input file.

We would like to remove some duplicated tags that could lead to inconsistencies if touched, handle the IO when optimizing orbitals or CI-Coeffs but maintainin

[2019-11-01 23:07] ye-luo opened #2069 "A few (possible) longrange related test failures"
1. On leconte (i.e. power9 with clang I now see this failure)
[code]
2. BGQ
https://cdash.qmcpack.org/CDash/testDetails.php?test=6576797&build=88185
3. BGQ mixed precision. probably just need to adjust tolerance or raise break up cutoff?
https://cdash.qmcpack.org/CDash/testDetails.php?test=6574286&build=88145

[2019-11-01 23:54] ye-luo opened #2070 "Separate SPOSet tag and determinant tag needed"
Leave the LCAO a side at the moment since the handling of MO coefficients is more complicated but it carries the same problem.

Let us focus on the spline case. We have three input styles.

Style 1. using sposet_builder outside determinantset
[code]
spo related info is 1 level above sposet tag.
Q1. why do we need attribute size on the determinant line. It should be derived from the number of 'u'.

[2019-11-02 01:37] prckent commented on #2070
My view on this matter is that we should pick a style that is also compatible (technically and aesthetically) with excitations, make a breaking change to the input parser, converters, and NEXUS if needed. The old formats should be error trapped. The current situation is too confusing for new users and maintainers alike.

We have some time to consider what to do since v4 takes precedence by far.

[2019-11-02 01:45] prckent commented on #2068
If we were to properly support multiple formats, the "correct" way would involve isolating the on-disk file format away from applications logic so that it could be in HDF, XML, JSON etc. This would avoid the problems you mention.

To answer the question posed directly, I am all for implementing things only once, i.e. Drop the XML and only support HDF5. The latter is clearly needed for large wavefu

[2019-11-04 12:32] jtkrogel commented on #2068
I am all for format agnostic I/O.  Just attempting this should lead to cleaner internal design.

[2019-11-04 12:40] jtkrogel commented on #2070
The first example is typical of 1RDM.  The `index_min` and `index_max` define a range over which orbitals are loaded.  This is primarily to avoid memory duplication.  The 1RDM will use the union of `spo_ud` and `spo_dm`.

I don't see what is gained (or what the use case is) for style 2.

Style 3 is fine.  I don't see why we need to break backwards compatibility in this case.  If `size` is not spec

[2019-11-04 14:06] ye-luo commented on #2070
@prckent These three styles all support excited states which is an internal detail of sposet tag.
<sposet type="bspline" name="spo_ud" size="4" spindataset="0">
    <occupation mode="ground"/> // for ground state
    <occupation mode="excited"> // for excited state
      -8 9
    <occupation>
</sposet>

[2019-11-04 14:32] ye-luo commented on #2070
@jtkrogel
Style 3 at the input xml level treats SPO sets used by two determinants distinct.

Even in a spin restricted calculation, the LCAO converter writes two sets of indentical MO coefficients and the code builds two separate up and down SPO sets. Once we start orbital optimization, the up and down sets diverge and we get unrestricted symmetry. This is dangerous but the behaviour is correct to

[2019-11-04 14:39] ye-luo commented on #2070
In style 3, the same xml block is parsed by both determinant and sposet tags. The `size` seems being used by both but with different meanings. We need to prevent this case.

We also need to clearly document the parsing of every input parameter.
if not present, pick up default or abort
if preset and there is a default, override or abort when both are present.

[2019-11-04 15:01] jtkrogel commented on #2070
@ye-luo The sposet partitioning (post smoothing) for the KE paper looks like this:

[code]

[2019-11-04 16:29] ye-luo opened #2073 "build w/o MPI broken on oxygen"
https://cdash.qmcpack.org/CDash/index.php?project=QMCPACK&date=2019-11-02
clang, intel, PGI all complain.

[2019-11-04 22:15] #2073 closed

[2019-11-06 10:24] zenandrea opened #2080 "Tricky definition of samplesperthread in GPU version"
I think there is an ambiguity with the `samplesperthread` variable, at least in the GPU version.

If in the CPU version I want that the DMC has the same number of walkers as those in the VMC, and I set walker for instance to
`    <parameter name="walkers"> 100 </parameter> `
then I also need to set `samplesperthread` to the same value over $OMP_NUM_THREADS (say 10 in this example):
`    <parameter

[2019-11-06 16:26] prckent commented on #2080
It is indeed ambiguous. Unless you can't avoid it for some reason, the best thing to do here is not specify samplesperthread at all. I believe that the CPU OpenMP implementation will do the "right thing" based on the walker count and there is no need to specify anything to do with samples. For optimization only, work in terms of the number of samples. Beware that the CPU OpenMP VMC implementation

[2019-11-06 16:44] lshulen commented on #2070
To me option 1 makes the most sense.  I like the idea of separating the creation of the SPOs from the determinant.  In the abstract, I could also see how this might help create some separation in the code between those two parts as well.  I wonder whether even moving the creation of the SPOs outside of the wavefunction could make sense if we consider observables such as the density matrix.  Certai

[2019-11-06 17:13] jtkrogel commented on #2070
I agree with Luke's comments.  Option 1 was created to facilitate density matrix computation and is the most general form, IMO.

I also agree that a good path forward would be to change the form produced by the converters while still accepting the old form (without trying to generalize its compatibility with all other features).

[2019-11-06 17:31] ye-luo commented on #2070
@lshulen you got the key point. We really need to separate the SPO creation from the determinants. In terms xml tag ordering. I think it is not bad to require some ordering in the xml. I expect the order of cell, partilce, spo_builder, WF, Hamiltonian then driver sections. if any flexible order is allowed, we have extra burden to support it and it is hard to read an input file by human. But if the

[2019-11-06 18:40] prckent commented on #2070
I agree that the spo creation should be separate from the determinants. i.e. option 1.

Our parser should be able to handle different orderings. i.e. It should look for entries in the order needed internally. Our execution is currently driven by the input order, which is wrong in my opinion. I don't think that supporting this should be difficult. If we need a hardwired order we have one more reaso

[2019-11-06 18:50] lshulen commented on #2070
@ye-luo and @prckent , my comment on element order was based on my understanding of XML.  I believe that according to the spec that order of children in XML is not guaranteed by the order they appear in the document.  Perhaps this is outdated and perhaps order independence is already broken by the way we do the parsing, but if I am correct, then we should probably make a deal of this in the manual

[2019-11-06 19:06] jtkrogel commented on #2070
Correct execution of QMCPACK as it now stands requires order dependent parsing in many places.  There are a few places where this is not true, but I think it is closer to the rule than the exception.

Ideally this would not be the case.

[2019-11-06 19:28] ye-luo commented on #2070
Re: excited states.
SPO level excitation is used to construct minimal SPO sets from input which usually has more orbital than needed. Multi-det has another level of excitation. Single det doesn't need its own excitation.

I'd like to have SPOSet with Nb orbitals support evaluating 1~Nb orbitals based on the output vector. This has been supported on LCAO in the recent orbital rotation PR. spline or

[2019-11-06 20:50] prckent commented on #861
Calculation of pp derivatives needs to be captured above. It is a critical capability.

[2019-11-06 20:56] prckent commented on #1388
What is the status here? Would deleting the AoS code result in an inability to cusp correct orbitals?

[2019-11-06 21:01] jtkrogel opened #2083 "NLPP derivatives in optimization need SoA"
Currently only supported in AoS.

[2019-11-06 21:03] jtkrogel commented on #861
@prckent Issues have been added/updated.

[2019-11-06 21:08] anbenali commented on #1388
This can be closed. It was probably linked to one of the fixes (or
cleanings) and never appeared again... The behavior cannot be reproduced...

On Wed, Nov 6, 2019 at 2:56 PM Paul R. C. Kent <notifications@github.com>
wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 25

[2019-11-06 21:24] prckent commented on #2070
As we just discussed, I suggest a sketch here of the SPOSet with suitable options that enable a subset of orbitals to be specified and evaluated.

[2019-11-06 21:26] prckent commented on #1388
Hopefully...

[2019-11-06 21:26] #1388 closed

[2019-11-06 22:30] rcclay opened #2085 "Possible Integer Overflow for KList Construction/Update"
For the construction of a set of k-vectors within a certain cutoff k_c, the function "long KContainer::GetHashOfVec(TinyVec<int> kvec, int hashparam)" is called.  This hash is given by kvec[2]+hashparam*(kvec[1]+hashparam*kvec[0]).

For a cubic cell with L=15bohr, LR_DIM_CUTOFF=15, the coulomb potential construction can initialize a kvector list of size 113080, which is then used for hashparam.  T

[2019-11-06 22:35] PDoakORNL commented on #2070
I'm also in favor of deprecating and removing format 3. There should be one and only one hierarchy for the XML elements in our input and therefore only 1 or 2 should selected. If we want to provide backward compatibility a translator in python from the obsoleted format to the supported format seems a much better idea than having the C++ application code handle this. I don't see the element order a

[2019-11-06 23:35] ye-luo opened #2086 "SPOSet input style"
The input specification of SPOSet needs to be defined
Here is the current input style for defining two sets of SPO for the up and down spin.
The 'spo_up' set has a size of 4 and takes the 4 orbitals with lowest eigenvalue from spin 0 set
The 'spo_dn' set has a size of 4 and takes the 4 orbitals with lowest eigenvalue from spin 1 set
[code]

I think there are multiple format for occupation="excited

[2019-11-06 23:53] ye-luo commented on #2070
For the specification of SPOSet, please discuss in #2086

1. We seem to agree that style 3 needs to be deprecated and removed eventually.
2. Between 1 and 2, the difference is small enough that we can technically support both but let us pick one.
3. Whether we take sposet_bulder outside or inside wavefunction doesn't really make a difference to me as long as we fix one style. At the moment, how to

[2019-11-06 23:54] ye-luo commented on #2070
please use thumb up for style 1 and thumb down for style 2.

[2019-11-06 23:59] ye-luo commented on #2086
I don't understand why `spindataset="1"` is on the line of occupation. I think it make more sense on the sposet line. spindataset refers the spin dataset stored in hdf5.

[2019-11-07 00:17] rcclay commented on #2086
Ideally, shouldn't occupations be handled by the determinant, and not by the SPO?

[2019-11-07 00:25] ye-luo commented on #2086
@rcclay probably occupation is just a bad name here. it is more about selection from input.

[2019-11-07 12:28] jtkrogel commented on #2086
Here is another format for occupation="excited":

[code]

[2019-11-07 12:30] jtkrogel commented on #2086
Without `occupation` there are also attributes to `<sposet/>` to select ranges based on index or KS eigenvalue: `index_min`, `index_max`, `energy_min`, `energy_max`.

[2019-11-07 12:47] jtkrogel commented on #2086
Without `occupation`, `spindataset` already works on `<sposet/>`:

[code]

[2019-11-07 13:01] jtkrogel commented on #2086
The following forms should all work currently, as supported by `SPOSetInputInfo`.  These were all added about the same time as `sposet_builder` itself:

Occupy the lowest 10 orbitals (w/ KS energies -10.593 -6.832 -2.583 -2.643 -2.646 0.234 5.325 11.599 11.601 11.622 eV):

[code]

The code needed to translate all these occupation requests into an array of booleans denoting occupied/unoccupied is s

[2019-11-07 18:10] tiihonej commented on #1847
Closing the issue, since it's not likely an actual bug.

[2019-11-07 18:12] rcclay commented on #1769
Closed by #1820

[2019-11-07 18:12] #1769 closed

[2019-11-07 18:12] rcclay commented on #1768
Closed by #2019

[2019-11-07 18:12] #1768 closed

[2019-11-07 18:15] jtkrogel commented on #1847
This issue is not resolved.  Currently, Jastrow factors obtained following optimization are not sufficient to minimize the error in the forces to an acceptable level.

Since we do not have any other route to remove the bias, this is a bug.

[2019-11-07 18:33] tiihonej commented on #1592
I came across this again and decided to post an update, which is not an update at all, since the problem hasn't changed.

Here's the difference between the respective VMC and SCF energies of GAMESS and PYSCF with various basis sets.
![pyscf_converter_error](https://user-images.githubusercontent.com/12646540/68415693-e7764f00-0160-11ea-925b-f7cb8632f60d.png)
What stands out is the cartesian PYSCF c

[2019-11-08 22:14] jtkrogel commented on #158
With #2093, this issue is addressed.  All modules are covered at some level at this point.  Overall test coverage is estimated at about 61%.

[2019-11-09 00:54] prckent commented on #158
Once #2093 is merged, what do you recommend we add to both the automated CI and nightly integration tests?

[2019-11-11 13:37] #158 closed

[2019-11-11 14:54] jtkrogel commented on #158
Let me watch the tests for a few days to monitor their stability.  Once any stability issues are resolved, these could be added to the CI and also to the deterministic test sets.  There might be an advantage to wait, however, with the Python 3 transition coming up.  I wouldn't want any instability caused by the transition to hold up the CI.

[2019-11-12 18:59] #396 closed

[2019-11-12 19:48] jptowns commented on #2038
Implemented in #2079.

[2019-11-12 19:48] #2038 closed

[2019-11-13 00:49] #2065 closed

[2019-11-13 20:45] afernandezody opened #2096 "MPI illegal instruction"
Hello,
I'm seeing the following error while running an example:
`mpirun noticed that process rank 1 with PID 6547 on node ip-172-31-41-193 exited on signal 4 (Illegal instruction).`
The funny thing is that this is happening only while using AMD CPUs because the job completes on Intel CPUs. Any suggestion on what might be the issue or where to start looking at would be appreciated. Thanks.

[2019-11-13 21:30] markdewing commented on #2096
Could you say more about which compiler is used and which AMD CPU shows the problem?

[2019-11-13 21:43] ye-luo commented on #2096
Binaries usually are not portable across architectures. Even though both AMD and Intel are x86_64, the supported feature (instructions) can differ. That is why you get illegal instructions error. If you are not familiar with cross-compiling, recompiling the code directly on the AMD processor can be the simplest solution.

[2019-11-13 21:50] afernandezody commented on #2096
It's compiled with gcc 8.3.0 & OpenMPI v4.0.2. The AMD is EPYC (not the Rome processor, just one from the 1st gen); it was a 7451 or 7551, don't recall the exact model but will check.

[2019-11-13 22:19] afernandezody commented on #2096
Hi @ye-luo,
Thanks. I had the same thought earlier this morning so I recompiled everything from scratch using AMD power. My previous test, which was right before opening the ticket, was still outputting the same error message. My mistake was that the compute nodes were AMD but I was using Intel on the master node of the cluster. The problem seems to be fixed once the master node is also AMD. I don

[2019-11-13 22:24] prckent opened #2098 "Compilation breaks if MKL includes are not available but MKL library was detected"
We assume HAVE_MKL=true implies that at least
#include <mkl_service.h>
#include <mkl_types.h>
are available, but this need not be so. Their availability is not guaranteed unless the include paths have been setup, which we do not check for currently.

mkl_service is used to check for nested threading support.

mkl_types is used in formic for reasons that I do not understand.

[2019-11-13 22:24] ye-luo commented on #2096
@afernandezody glad to hear that your problem is resolved.

[2019-11-13 22:24] #2096 closed

[2019-11-13 22:32] ye-luo commented on #2098
Should we error at
https://github.com/QMCPACK/qmcpack/blob/e2dfc021f400a38134af936f45ffcde00ad7af11/CMakeLists.txt#L494
and telling people use ENABLE_MKL?
I found the notes
[code]
Should do the tide up work now?

[2019-11-13 22:46] prckent commented on #2098
In my situation we correctly found an MKL library containing BLAS/LAPACK to link against (good) but the include paths weren't setup. This could happen with a non Intel compiler. Different cmake configure options from what I used might result in the include paths being set correctly - I haven't checked yet. Perhaps do a separate check?

[2019-11-13 22:47] prckent commented on #2096
@afernandezody  FYI, I successfully checked the development version on an AMD Epyc 7451 today.

[2019-11-13 23:49] ye-luo commented on #2098
I guess your MKL was found via FindLAPACK and you are using non-Intel compiler. In this case, we should require users turn on ENABLE_MKL to enable all the pieces of MKL needed by QMCPACK.
Yes. please add -DENABLE_MKL and the header should be looked for and verified.

[2019-11-18 16:25] rcclay commented on #2085
Closed by PR #2087

[2019-11-18 16:25] #2085 closed

[2019-11-18 23:37] prckent opened #2105 "Incorrect ion-ion energy in some periodic systems"
This is an important bug that exists in QMCPACK dating to at least mid-2015, likely earlier.

First noticed for strained phosphene and also reproduced in A-A stacked graphene, for some configurations the ion-ion coulomb energy is incorrectly computed in these periodic systems. The errors can be in eV. To date dense solids appear to be correct - and these are already checked nightly. We are investi

[2019-11-18 23:48] prckent commented on #2105
Initial report with files https://groups.google.com/forum/#!topic/qmcpack/3Hkt5sWY_e4

[2019-11-19 16:21] prckent commented on #1061
Renamed for clarity.

[2019-11-19 23:21] #2098 closed

[2019-11-20 19:03] tiihonej opened #2110 "Wavefunction gradients broken after change to log representation"
Various methods involving wavefunction gradients are broken since migration to log representation (PR #2048 ). This mainly affects force-related observables, such as Pulay terms in the ACForce estimator. For instance, the attached figure demonstrates that the ZV-force (no gradients) is quite okay, but the ZB-correction (has gradients) is just garbage.
![CO_F_broken](https://user-images.githubuserc

[2019-11-20 19:15] jtkrogel commented on #2110
Good target for added unit tests.  Is it clear what code paths other than forces might be affected?

[2019-11-20 19:25] ye-luo commented on #2110
@tiihonej could you provide a reproducer input?

[2019-11-20 19:49] tiihonej commented on #2110
@ye-luo , Sure!

Adding the FNL estimator raises the energy to about ~-11 Ha, while is should be ~-16 Ha (remove forces=yes from PairPot hamiltonian)
[MgO_fnl_bug.zip](https://github.com/QMCPACK/qmcpack/files/3871085/MgO_fnl_bug.zip)

The nonzero pulay terms of CO at this geometry are approximately ("should be" in parentheses)
ACForce_Ewfgrad_0_0 = 21.9 (29.7)
ACForce_Ewfgrad_1_0 = -21.9 (-28.1)
A

[2019-11-20 20:01] jtkrogel commented on #2110
Use of what TrialWavefunction member function is causing the problem?  I would like to see if it is used elsewhere in the code.

[2019-11-20 21:12] tiihonej commented on #2110
At least TrialWaveFunction::ratioGrad has problems, and I think there's a chance that fixing it fixes it all. Another candidate for the acforce-related troubles is TrialWaveFunction::evalGradSource, but that I haven't checked explicitly.

[2019-11-20 23:37] prckent commented on #2110
As @jtkrogel mentioned, "Good target for additional unit tests"

[2019-11-21 16:13] ye-luo commented on #2110
bug confirmed. Instead of reverting to the old behaviour, I'm looking at deleting more ifdef and converging behaviours.

[2019-11-21 16:30] tiihonej commented on #2110
Of course. No reason to go back on LogValueType update, because that was clearly called for. For the time being, I'll be able to proceed with the forces using an older revision of the code. Let me know if you need more input from me.

[2019-11-22 16:59] #2110 closed

[2019-11-22 18:24] rcclay opened #2119 "Electron Gas SPO needs a unit test."
Need unit tests for:

- [ ] EGOSet
- [ ] RealEGOSet
- [ ] ElectronGasComplexOrbitalBuilder
- [ ] ElectronGasOrbitalBuilder

[2019-11-22 19:22] jtkrogel commented on #2083
It turns out that NLPP derivatives are sometimes crucial for correct optimization.  Below is a comparison plot of the change in the total energy for Li2 during Jastrow optimization with and without the NLPP derivatives on.

![energy_vs_series](https://user-images.githubusercontent.com/24547905/69453910-f2b9a500-0d32-11ea-8ef6-1c4d9d410d93.png)

For work on forces, we will have to use the AoS code

[2019-11-22 19:23] jtkrogel commented on #2083
Who is looking into fixing this issue?

[2019-11-22 19:53] jtkrogel commented on #1807
Until the dust settles a little from the retirement of Python 2, no single invocation of Python will work for all environments.

I think the safest thing is to make the Python scripts in the build system compatible with both Python 2 and 3 (should be pretty easy) and keep the default interpreter as "`python`" (`#! /usr/bin/env python`).

I think this will work in most environments.  Perhaps we sho

[2019-11-22 20:30] ye-luo commented on #2083
OK. I will take care of it next week.

[2019-11-23 00:25] #1267 closed

[2019-11-23 01:25] prckent commented on #2119
Please add to #1061 unless you plan to add the tests soon.

( Should the electron gas code be revised in future, it would be very good to see about merging the real and complex source files, rename "EGO" -> ElectronGasOrbital so people don't need to puzzle out another acronym etc. )

[2019-11-25 17:46] ye-luo opened #2123 "Nexus needs to randomize electron positions by ions by default"
Nexus currently put `<particleset name="e" random="yes">` namely uniformly distributing the electron in the box. I found this took extremely long equilibration time in VMC, >100 steps.
Instead `<particleset name="e" random="yes" random_source="ions">` will generate much better initial electron positions by putting valence electrons proportionally around ions. It never took more than 10 steps.

[2019-11-26 22:04] prckent commented on #2105
Fast to run tests were added for this bug in #2116 - bug-deterministic-grapheneC_1x1_pp-vmc_sdj_z10-1-1-ionion and bug-deterministic-grapheneC_1x1_pp-vmc_sdj_z30-1-1-ionion . Both fail. The reference value is currently the QE value.

[2019-12-03 13:01] jtkrogel commented on #2123
Shouldn't this be `random_source="ion0"`?  Do all the converters use `"ion0"`?  At some point, both `"ion0"` and `"i"` showed up frequently.

[2019-12-03 16:09] prckent commented on #2123
This is a broader question than Nexus - what do the converters do? We need to keep a consistent approach for all the converters and Nexus. And is one choice more brittle than another?

Charged systems also need to be catered for. The converter can't know where to add/remove the electrons in these cases and long equilibration times can certainly result. I suggest a note in the manual and issuing so

[2019-12-03 16:10] prckent commented on #2123
@jtkrogel Do you think that we are missing a check in random_source that the specified source actually exists?

[2019-12-03 16:14] prckent commented on #2083
Still investigating, but I think another user might have been caught by this for a heavier system.
Since SoA is the default, it means that new users will have worse wavefunction optimization than they should. Once implemented, I think we should make sure that NLPP derivatives are on by default in all examples, change the code default etc. Better to be slower but reliable.

[2019-12-03 16:29] jtkrogel commented on #2083
I agree 100% that these should be on by default.

[2019-12-04 17:48] ye-luo commented on #2083
1. This feature should be default.
2. implementing optimized virtual move code path is necessary to have painless 1.

[2019-12-04 17:52] ye-luo commented on #2123
@jtkrogel for nexus, it should be ion0 I believe.
@prckent
1. I think all the converters put random_source. @jtkrogel told me it was the case for nexus but he changed it for some reason.
2. random_source are allowed to be empty and means putting electrons uniformly in the box. in an HEG run, there are no ions and electrons should be distributed uniformly at the beginning.

[2019-12-04 20:51] ye-luo opened #2129 "Force estimator seems not thread-safe"
When debugging #2110, I noticed that a VMC run can crash if OMP_NUM_THREADS is large like 32.

[2019-12-04 21:01] jtkrogel commented on #2129
Do you have inputs to reproduce the problem?

[2019-12-04 21:24] ye-luo commented on #2129
#2110 has input files.

[2019-12-05 18:49] fdmalone opened #2132 "Updated AFQMC Documentation Needed."
With all the updates the AFQMC section in the manual needs an overhaul, including a discussion of factorizations, the use of afqmctools/interfacing with codes and the inclusion of the tutorials.

[2019-12-05 18:51] fdmalone opened #2133 "AFQMC workflow tests need to be enabled."
pyscf needs to be built for these to be run during the nightlies, or even less frequently.

[2019-12-05 22:48] rcclay commented on #2105
I'm just going to use this as the dumping ground for ongoing tests:
**Test 1:  Convergence of Ewald ion-ion Interaction in QMCPACK vs. QE:**

Ewald in QE converges really quickly.  I'm doing config #3 from the forum--QE is initialized for a 100 atom cell corresponding to the 5x5x1 tiling...  this is to keep the comparison between the supercell QMCPACK calculation and QE's ewald summation apples-to

[2019-12-05 22:53] rcclay commented on #2105
**Test 2:  Comparison of Short Range, Long Range, and Background Ewald Terms between QE and QMCPACK**
Ongoing.

[2019-12-06 23:52] rcclay commented on #2105
I think I found the bug.  In these large cells, there's a misidentification k-vectors with k-shells.  To save time, the ewald summation is done over k-shells instead of looping over the individual K-points.  So the long-range piece in Fourier space v_lr(k) is stored in a kshell-based array corresponding to v_lr(|k|) (If you go digging in the code, this is Fk_symm[]).

What I'm doing is taking the

[2019-12-07 00:25] rcclay commented on #2105
Confirmed the bug.  The tolerance is effectively set in src/LongRange/KContainer.cpp line #256 so that kvectors differing by less than 0.001 in |k|^2 are treated as being in the same k-shell (Also a comment on line #253 to this effect).  Increasing the effective tolerance to 1e-7 by jacking up that integer multiplication gives us the following values for the ion-ion interaction computed by the Ewa

[2019-12-08 21:23] prckent commented on #2105
Now that #2125 is merged, the development version will hard abort if the computed ion-ion energy differs significantly from an independent reference Ewald computation performed to a specific energy tolerance. The graphene z10 and z30 tests currently both correctly fail at this check.

[2019-12-08 22:23] prckent commented on #1954
Will count this as complete when #2121 is merged.

[2019-12-09 14:21] jtkrogel commented on #2105
I would feel a lot more comfortable with this if we were casting to something with a larger range than `int`:
[code]
I don't know what range of values we are guaranteed that k^2 will fall in for all cells, but using an integer type with larger range should allow the safe use of a larger precision multiplier (1000 here) without loss of precision or risk of overflow.

[2019-12-09 15:53] ye-luo commented on #2105
Could you provide delta with respect to the reference implementation added by Jaron? I still feel LR is larger than I would expect.

[2019-12-09 16:27] kryczko opened #2138 "One body reduced density matrix and two body density"
Dear all,

I was hoping I could get more information regarding the one-body reduced density matrix and some clarification on whether a relationship between the two body density and the one-body reduced density matrix holds.

1) What exactly is the format of the one-body reduced density matrix when it is written to disk for a wave function comprised of a Slater determinant from plane-waves with a t

[2019-12-10 19:21] jtkrogel commented on #2138
The 1RDM is written to disk in the basis of the single particle orbitals, which apparently are plane waves in your case.  See the QMCPACK manual, equations 9.13-9.16.

I'm not sure about the generalization of Eq. 11 in the case of correlated wavefunctions.

[2019-12-10 19:26] kryczko commented on #2138
Thanks for the information, I had a look there but was still a bit confused about some of the variables used when calculating the 1RDM. For example I noticed there is a "points" variable when computing the 1RDM, could you please explain what this variable does?

[2019-12-10 19:36] jtkrogel commented on #2138
This relates to the right-most integral in Eq. 9.16.  The left-most integral of dimension 3N is handled by the Monte Carlo sampling as usual.  The right most integral is performed in addition to the usual sampling.  There are a few options implemented for performing this additional integral:

1. Setup a uniform grid in 3D and shift it randomly at each MC step to obtain dense sampling in the long r

[2019-12-11 11:06] ye-luo opened #2142 "Reference Ewald is incorrect"
See NiO 32 atom cell. QE reported -478.59629996 Ry for 4 atom cell.
https://cdash.qmcpack.org/CDash/testDetails.php?test=6863360&build=94127
[code]
The correct value should be `-478.59629996 / 2 * 8 = -1914.38519984 Ha`

[2019-12-11 16:19] prckent opened #2143 "MPI wrapper and AFQMC breaks Intel complex build"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=94091

[2019-12-11 18:28] correaa commented on #2143
It is strange, I can reproduce the error using the EDG front-end only when I *add* the move in `comm_{/*std::move(*/other.comm_/*)*/}` . In any case adding the `std::move` it is not a solution in my opinion.

This is in part why I don't like to hold a reference to the communicator in the `window` (and I don't actually https://gitlab.com/correaa/boost-mpi3/blob/master/shared_window.hpp#L23).
Perhap

[2019-12-11 18:56] mmorale3 commented on #2143
Alfredo,
Did you fix the issue with the version of the constructor in communicator that blocked globally (the one that took a group as argument)?
I can't get rid of the reference (or pointer) to the communicator in shared_window with this problem.

[2019-12-11 19:39] correaa commented on #2143
On Wed, Dec 11, 2019 at 10:56 AM mmorale3 <notifications@github.com> wrote:

yes. Indirectly, in the sense that the reference is not needed.

Great. I think that is the sane approach, if there is an obvious
performance degradation we can keep looking for solution.

As I tried to explain before, my idea is that any performance cost of
creating a communicator is amortized by the fact that a barrier

[2019-12-11 19:52] mmorale3 commented on #2143
Alfredo,

You are still using MPI_Comm_create, this blocks on world.

[2019-12-11 20:10] correaa commented on #2143
Use the communicator constructor (from group) with the extra integer.

https://gitlab.com/correaa/boost-mpi3/blob/master/communicator.hpp#L2938

I am simply following the fact that the only difference in the MPI API (besides the horrible ambiguous names) is that the one function takes an extra tag argument (the one that doesn't block) and the other dossn't take the integer (and blocks)

https://ww

[2019-12-12 04:32] #2142 closed

[2019-12-13 18:46] mcbennet opened #2149 "Question regarding nonlocalpp_deriv"
The following is more of a question than an issue.

I recently performed a collection of optimizations with version 3.8.0 and the latest development code (commit 25fddfc) -- I used AoS build. For each code I ran all combinations of {quartic,oneshiftonly} and {nonlocalpp=false, nonlocalpp=true, nonlocalpp=true and nonlocalpp_deriv=true}.

In the case of version 3.8.0, I noticed that all cases where

[2019-12-13 19:36] prckent commented on #2149
Very good question - I know of other people having troubles with optimization, perhaps due to the same problem. However I don't recall an intentional "meaningful" change to the optimizer over this time. Of course we could check blame or the commit history. We are also clearly missing a test to catch this.

[2019-12-14 20:36] #945 closed

[2019-12-15 23:57] #1689 closed

[2019-12-16 14:34] prckent commented on #2143
Intel 2019: https://cdash.qmcpack.org/CDash/buildSummary.php?buildid=95056
Intel 2018: https://cdash.qmcpack.org/CDash/buildSummary.php?buildid=95037
Is this a compiler bug fixed in 2019 or capability improvement?

[2019-12-16 17:54] correaa commented on #2143
Hi Paul,

On Mon, Dec 16, 2019 at 6:34 AM Paul R. C. Kent <notifications@github.com>
wrote:

I think it is both.

The error in icc2018 was strange by itself and if I understand icc2019
doesn't complain.

However, for other reasons we have been discussing with Miguel whether it
really made sense to have a copy (reference) to the communicator in the
shared_window class.

The current agreement is tha

[2019-12-16 19:03] prckent commented on #2143
Super. It is a little premature to drop Intel2018, so making it work is preferred.

[2019-12-17 22:26] prckent opened #2158 "Ewald check is slow"
Formalizing the results of some conversations:
1. It is worth to add a timer around the Ewald check code. Larger cells appear to be taking significantly longer on cdash.
1. Some simple OpenMP and MPI would be worthwhile. The former would most help with our tests, but for general calculations both are needed.

[2019-12-18 20:06] kryczko opened #2163 "more explanation about energy density"
From reading the manual, it seems like one can compute the energy density of a system using qmcpack. I have a system with 8 electrons in an external potential, therefore no ions.

1) Can I still use the energy density estimator?
2) Where is the energy density stored in the HDF5 file? I have tried looking through it using h5py, but I don't understand how it is written.

Kevin

[2019-12-18 20:52] jtkrogel commented on #2163
You should be able to use the energy density estimator without any ions, though some plumbing would need to be added to support the external potential.

Currently, the estimator is broken (see #982) but I am currently working to restore it (#2156 was a step toward this).  If you will provide a working set of input files for your use case, I will try give it a look as I switch the lights back on.

[2019-12-18 21:01] kryczko commented on #2163
This is the input file I am currently working with. I am using a fork of qmcpack, where I can read in a potential on a grid. I am also reading in SPOs from qbox.

[code]

[2019-12-18 21:12] jtkrogel commented on #2163
Is it possible/advisable to merge your fork into mainline via a PR?  How large is `wfs.h5`?

[2019-12-18 21:15] kryczko commented on #2163
I have not done any testing of this feature, and the wfs.h5 file is 43 MB.

[2019-12-18 21:20] jtkrogel commented on #2163
I only ask because it would make it easier to ensure that the restored estimator works in your case.  How would you prefer to proceed?

[2019-12-18 21:23] kryczko commented on #2163
I could create a PR for my fork. That way the plumbing can be done to include an external potential in the mix.

[2019-12-18 21:24] jtkrogel commented on #2163
Sounds good.  I will look for your PR.

[2019-12-19 18:58] prckent commented on #2143
Confirmed working https://cdash.qmcpack.org/CDash/buildSummary.php?buildid=95485

[2019-12-19 18:58] #2143 closed

[2019-12-20 15:22] #1838 closed

[2019-12-20 15:34] PDoakORNL opened #2168 "Accessor naming convention"
While I thought we did currently we don't specify a specific format for accessors.  An exception for data member accessors is useful, it is useful for both searching the code and ease of reading.

I propose when a method is a simple accessor i.e. a get or set that we avoid
[code]
in favor of
[code]

In the case instances where the accessor results in a calculation and the member variable serves as

[2019-12-20 16:29] prckent commented on #2168
Is there an area where this is a particular problem? or where you plan to add lots of accessors? (The existing code has many public structs that should have always been classes with accessors.)

One assumption of the suggestion is that variable_name is meaningful outside of its original context. This should be a requirement in either case.

I disagree with the 3rd possibly cached value case. Since

[2019-12-20 21:04] PDoakORNL commented on #2168
I'm all for disallowing type 3

Well I've made a problem by writing lots of code with the convention
[code]

While I can obviously change my accessors naming without a great deal of trouble...

[2019-12-20 23:28] prckent commented on #2158
Following #2169, MPI will be needed + timing printout in subsequent improvements.

[2019-12-23 03:14] prckent commented on #2158
Still slow post OpenMP in #2169 , so we should consider possible efficiency improvements as well as MPI. 128 atoms takes O(2500) seconds with 16 threads.
<img width="868" alt="Screen Shot 2019-12-22 at 10 13 14 PM" src="https://user-images.githubusercontent.com/13683814/71333522-47a23400-2508-11ea-9bcc-abe2aba6763d.png">

[2019-12-23 03:19] prckent commented on #2158
64 atoms are noticeably faster:
<img width="868" alt="Screen Shot 2019-12-22 at 10 17 33 PM" src="https://user-images.githubusercontent.com/13683814/71333689-f777a180-2508-11ea-85f8-5690a0cfd6bc.png">

[2019-12-27 19:46] prckent opened #2174 "Timer needed in optimizers to indicate how long configuration generation took"
For large parameter sets the optimizers can take a non-trivial amount of time. They lack timers to indicate how long the optimization took vs the configuration generation.

[2019-12-27 19:58] prckent commented on #1859
Closing this because the discrepancy was solved.

[2019-12-27 19:58] #1859 closed

[2019-12-27 20:01] prckent commented on #35
Commenting at the end of 2019 that this is still needed and contributions are needed and welcome on any of these Output cleanup issues.

[2020-01-01 13:42] ye-luo commented on #2149
There was some issue with LCAO in v3.8.0 and fixed in #1830

[2020-01-03 05:20] ye-luo commented on #2069
1. Need further investigation.
2. was fixed. https://cdash.qmcpack.org/CDash/testDetails.php?test=7059667&build=97837
3. BGQ retired.

Re-open if needed.

[2020-01-03 05:20] #2069 closed

[2020-01-03 05:22] ye-luo commented on #2149
Please reopen if there is further questions.

[2020-01-03 05:22] #2149 closed

[2020-01-03 05:25] ye-luo commented on #1831
Everything looks good.
https://cdash.qmcpack.org/CDash/queryTests.php?project=QMCPACK&date=2020-01-02&limit=0&filtercount=1&showfilters=1&field1=testname&compare1=63&value1=short-H4-cjs

[2020-01-03 05:25] #1831 closed

[2020-01-03 05:27] ye-luo commented on #1746
Seems related to #2164

[2020-01-03 05:40] ye-luo commented on #1030
Fix by  #2048

[2020-01-03 05:40] #1030 closed

[2020-01-03 05:44] ye-luo commented on #452
Fixed by  #1780

[2020-01-03 05:44] #452 closed

[2020-01-03 15:30] prckent commented on #2158
The Ewald check is now fast enough. Thanks @jtkrogel and @ye-luo.

**64 atoms**
<img width="798" alt="Screen Shot 2020-01-03 at 10 21 41 AM" src="https://user-images.githubusercontent.com/13683814/71731493-dff6bd80-2e12-11ea-9573-762a6cadb399.png">
**128 atoms**
<img width="794" alt="Screen Shot 2020-01-03 at 10 28 40 AM" src="https://user-images.githubusercontent.com/13683814/71731879-d457c680-2e

[2020-01-03 15:30] #2158 closed

[2020-01-03 23:22] #2083 closed

[2020-01-06 16:57] jtkrogel opened #2185 "Anistropic grids for Ewald Coulomb evaluation"
As noted in #2105, QMCPACK's periodic Coulomb energy calculation has huge errors for quasi-2D systems with large enough vacuum.

In #2125, a reference Ewald implementation was added to safeguard all runs against errors of this type via a reference check followed by an abort in the event of large errors.

The checking code was slow, requiring further optimization to be usable for large scale produc

[2020-01-06 18:48] markdewing opened #2186 "Nexus unit tests should check and print stderr from command execution"
While running the Nexus unit tests, the 'qmc_fit' test failed (nexus/tests/unit/test_qmc_fit.py)  The issue was the qmc_fit executable was not found, because 'nexus/bin' was not on the PATH.

The issue would be faster to diagnose from test output if stderr from 'execute' calls is checked and output if not empty.    (The return code isn't checked, either, but the stderr output is more useful.)

[2020-01-06 20:29] prckent commented on #2186
Should we rely on PATH being set? For testing and installation test_qmc_fit could use the relative or absolute path to nexus/bin . e.g. The QMCPACK tests don't require the qmcpack binary on the PATH.

[2020-01-06 20:33] jtkrogel commented on #2186
`nexus/bin` should not need to be on PATH for the tests to work.  Do you get this behavior from `ctest` or from `nxs-test` directly?

[2020-01-06 20:46] markdewing commented on #2186
It happened from both ctest and nxs-test.

[2020-01-06 20:46] markdewing commented on #2186
I don't have '.' on the PATH, either.

[2020-01-06 20:50] PDoakORNL commented on #2186
no one should have '.' in the PATH

[2020-01-06 22:03] prckent opened #2188 "Residual Python 2 in QMCPACK"
Although NEXUS was updated and the QMCPACK cmake and test configuration appears to work, there is residual python2 that needs to be checked for and updated.

* Use of print as a statement print needs to be updated to function() usage. e.g. The skinetic_check.py fails due to this ( ctest -R skinetic -VV ).

There must be more updates beside print usage and #2187 - each script needs to be invoked an

[2020-01-06 23:39] prckent commented on #2185
Before we get too far in investigation or implementation, I think it would be prudent to discuss the goals of updating the Coulomb code and the conditions that should be met for the code to go in. This would apply to implementations and algorithms other than those in #2183 including any new ideas from the literature.

Goals
=====

1. Compute all the Coulomb interactions (usually ion-ion, electron-

[2020-01-06 23:58] prckent commented on #861
All the items on the task list are now completed. #2179 was the last item. Following the v3.9.0 release, removal of the AoS code will commence.

[2020-01-07 00:02] prckent opened #2189 "Removal of AoS code"
Following the completion of the topics in #861 the legacy AoS implementation can be safely removed. This will not be done before the v3.9.0 release which will serve as a long term reference and final version of the code capable of being built either AoS or SoA. The manual and tests will also need to be updated.

[2020-01-07 00:07] prckent commented on #2105
To summarize the situation: a bug was found in the Optimized Breakup implementation and fixed (#2137), but both this implementation and reference Ewald are also found to have slow convergence for anisotropic systems. A reference Ewald check on the ion-ion term has been added to the production code to catch this condition. A better algorithm and implementation is needed to (1) deliver good accuracy

[2020-01-07 03:19] ye-luo commented on #2188
Ubuntu 19.10 is totally python2 free but I don't have access to it.
On my local machine, I create a fake bash script named python and put it first on my PATH to detect python2 invocation.

[2020-01-07 13:44] afernandezody opened #2191 "Dependency of the number of walkers"
Hello QMCPACK Team,
I've run the same problem (input file is attached) on different CPU types with the same amount of memory (16 GB per core). The funny thing is that the Intel processors (Skylake and Scalable) compute 14 walkers per MPI rank whereas AMD (EPYC2-Rome) is computing only 8 walkers per rank, which was unanticipated. The output files show that the maximum and minimum number of walkers

[2020-01-07 13:56] ye-luo commented on #2191
Please provide the input xml, job script and output.

[2020-01-07 14:10] afernandezody commented on #2191
Hi @ye-luo,
I was uploading the input file as you were posting (had initially forgotten as usually). The command line is simply:
`mpirun -np 8 $HOME/qmcpack-3.8.0/build/bin/qmcpack NiO-example.in.xml > out_Rome8`  [Here NiO-example.in.xml is the input file previously uploaded] (PBS scripts for large clusters follow a similar pattern).
The attached files are the outputs from an Intel architecture a

[2020-01-07 15:54] prckent commented on #2191
The VMC implementation in QMCPACK does not allow any threads to be idle and requires an equal number of walkers per thread. This ensures perfect load balancing in VMC. Thus an input file specifying walkers=14 (this is the number of walkers per MPI task to use), when run with 8 threads will be rounded down to 8 walkers, i.e. one per thread. This constraint largely exists to protect users from poorl

[2020-01-07 16:52] afernandezody commented on #2191
Hi @prckent,
Thank you for your feedback. I understand what you say (the dependency of the number of walkers on the threads and other considerations) but I cannot figure out how the number of threads is set. As my systems don't enable OpenMP, I'm assuming that the software runs on a pure MPI mode and that the number of threads is chosen based on the underlying hardware. Is my assumption correct or

[2020-01-07 17:00] prckent commented on #2191
The outputs you sent indicate that QMCPACK was built with threading enabled. See the fifteenth line of output or so "OMP 1st level threads     = 8". Use export OMP_NUM_THREADS=1 or whatever you need before running.

[2020-01-07 18:05] afernandezody commented on #2191
Hi @prckent,
My recollection is that I needed to enable threading in order to compile (will have to double check later with my notes) even if each MPI rank is single-threaded. The missing piece was that one still has to tell the system about the number of threads or the system will choose it for you (apparently Intel prefers 2 and AMD 8 but there is probably some technical explanation for these ch

[2020-01-07 18:07] markdewing commented on #2188
Running with a python 3 on the path first should be sufficient to catch problems.

[2020-01-07 18:10] markdewing commented on #2188
Unless someone is already working on them, I can work on scripts/check_deriv.py and scripts/check_grad_lap.py  which are used with the 'bccH_2x2x2_ae' test.

[2020-01-07 18:54] prckent commented on #2188
Note that much of the current breakage on https://cdash.qmcpack.org from oxygen is NOT due to python 3 but due to configuration issues from the updated software stack (compilers, libraries, cmake etc.) built via spack as part of the python 3 updates. e.g. There is a problem with HDF5 in the nightlies.

[2020-01-08 00:53] afernandezody commented on #2191
P.S. It's actually slightly more efficient setting OMP_NUM_THREADS to 2 rather than 1 but both solutions work as desired. Closing the ticket. Thanks.

[2020-01-08 00:53] #2191 closed

[2020-01-08 14:32] kryczko commented on #2163
Hi @jtkrogel, I'm not sure if you have seen, but I have a pull request that is close to being finished :-)

[2020-01-08 14:37] jtkrogel commented on #2163
Great.  Please upload a working set of files here once it is in so I can ensure your case works with the eventual energy density fix.

[2020-01-09 08:32] ye-luo opened #2204 "Need an integration test using WF converted from QBox"
exposed in #2164

[2020-01-09 14:54] prckent commented on #2185
Comments are still welcome, but since no one has suggested an alternative route, the next step "is to do some timing tests to see where in the ballpark the current anisotropic code is performance wise compared to the production optimized breakup implementation."

[2020-01-10 17:25] tiihonej opened #2211 "Old (python 2) nexus pickle files fail to load in python 3"
The nexus' pickle files to store information and data on workflows are incompatible between the earlier code (python 2.7.x) and the recent (python 3). Trying to load and old pickle file with the new code leads to an error such as this:
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xd3 in position 6: ordinal not in range(128)`

The old file can be successfully loaded with 'encoding=latin1',

[2020-01-10 18:13] markdewing commented on #2211
I would think making a version converter tool might be the best option (versus 3).   That way users would be alert to potential problems with the conversion.

[2020-01-10 18:43] PDoakORNL commented on #2211
Object serialization isn't a good way to archive or record the configuration of anything.

[2020-01-13 14:08] ye-luo opened #2217 "qmca error"
Need help. On my desktop ubuntu 18.04.
[code]

[2020-01-13 14:22] jtkrogel commented on #2217
Please post a reproducer.

[2020-01-13 14:29] tiihonej commented on #2211
Thank you for your views. And sorry for what appears to be a false alarm in the big picture. The symptoms and the nature of the said problem seem to be limited to those pickle files created between the original python 3 transition and the recent encoding fix, PR #2210 . Any older or newer nexus files should work without a hitch. This short window is unlikely to affect many other users than myself,

[2020-01-13 14:29] #2211 closed

[2020-01-13 14:40] ye-luo commented on #2217
Fix the problem by
1. remove all the .pyc file under nexus. Then the new error indicates missing numpy.
2. install numpy and the error is gone.

[2020-01-13 14:40] #2217 closed

[2020-01-13 14:43] prckent commented on #2211
Thanks Juha. If this turns up again we should give more thought to it. I was not aware of the pickling issue before you mentioned it.

[2020-01-13 16:44] PDoakORNL commented on #1987
Still get this Warning noise from
AFQMCDistributedPropagatorDistCV.h, NOMSD.hpp, PHMSD.hpp,
And many others, It certainly encourages me to seldom build AFQMC since I do want to be able to pick out warnings from my own code.

[2020-01-13 16:55] rcclay opened #2219 "makeClone for Spinors needs to be defined"
Oversight very obvious APP_ABORT when running a multi-threaded spin-VMC calculation with spinors.  Easy enough fix.

[2020-01-13 18:11] rcclay opened #2220 "Integrated Tests and Reference Values needed for SOVMC/SODMC"
Unit tests are in place for SOVMC/SODMC, but the actual correctness of an integrated run has not yet been verified.  Need to establish reference values for the energy and it's various components in as fine grained detail as possible ASAP.

[2020-01-13 18:50] prckent commented on #2220
Please add deterministic tests at the same time.

[2020-01-15 00:55] ye-luo commented on #1746
#2164 has been merged. @kryczko thank you.

[2020-01-15 00:55] #1746 closed

[2020-01-15 15:34] kryczko opened #2224 "Error thrown when no ions are found in HDF5 file when converting XML output from QBox."
I have an 8 electron system, with 4 SPOs from Qbox. I am using a custom external potential which is read in from an HDF5 file. This is the following output of qmcpack:
[code]
You can download the files to reproduce this error here: https://drive.google.com/open?id=16PJvYmL3bShneQubkgmFWy7HlReM-B9L

[2020-01-15 16:01] kryczko commented on #2163
So the PR has gone through, but there is another issue now with reading in QBox info when there are no ions in the system. To work around this I modified line 133 of `qmcpack/src/QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp ` to have the following:
[code]
I have opened another issue for it, and there may be a better solution. In saying that, everything seems OK to me from what I have seen, an

[2020-01-15 17:28] lshulen commented on #2224
Perhaps someone could correct me on this, but I do not think this behavior is specific to QBox derived wavefunctions.  I believe QMCPACK will always produce an error if no ions are specified when starting from an eshdf (hdf5) wavefunction.  If I'm correct, we should discuss how the code deals with this situation.

My preference would be that the builder looks at the hdf file and if there are zero

[2020-01-15 17:32] lshulen commented on #2204
Could you explain the need a bit more?  Is this a request for a test within the qmcpack framework that actually runs qbox, converts the wavefunction and then runs qmcpack, or do we just need the last two steps?

If it's the former, I see the sense in this, but would benefit greatly from some help (at least a template python script) in getting it done.

[2020-01-15 18:10] kryczko commented on #2224
To work around this I modified line 133 of `qmcpack/src/QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp ` to have the following:
[code]
But I'm not sure what other implications this has.

[2020-01-15 18:24] prckent commented on #2204
I am also not sure what test was specifically requested here.

It would certainly be good to have a whole workflow/converter test, similar to how we do for QE:
- Presumably we would need a QBOX_BIN to point to the path where Qbox is, similar to QE_BIN.
- qmcpack/tests/pw2qmcpack/CMakeLists.txt runs LiH.

[2020-01-16 01:27] ye-luo commented on #2224
The reproducer provided has no ions in both xml and h5.

@lshulen correct. It is not specific to QBox WF. The builder which handles eshdf format always look for ions. Does h5 generated by qbox converter always not provide ions?

There are four cases, let us define the desired behaviour.
1. xml has ions, h5 has ions. Check against each other and run if the check pass.
2. xml has ions, h5 has no ion

[2020-01-16 01:34] ye-luo commented on #2204
Although testing the whole workflow is desired but I was thinking only the last step. Run qmcpack with h5 converted from qbox stored in the repo. Because its h5 is not exactly the same as h5 generated by QE converter. So the current h5 solid tests is not representative for qbox case.

LiH has very high cutoff and the h5 is not small. We can just reuse the h5 from test_NaCl_qbox converter test.

[2020-01-16 03:39] jcoulter12 opened #2226 "Timestep extrapolation with a twist grid"
I'm attempting to perform timestep extrapolation for a system where it's favorable to include twist averaging. However, it seems that the qmc-fit tool isn't currently set up to consider a twist grid.

Is there any recommended way to perform timestep extrapolation with a twist grid?

[2020-01-16 03:44] camelto2 commented on #2226
Hi. I had this issue a while back and issued a fix. See #1401

This will allow you to perform twist averaging with qmca, and by adding the --save_average option, it should write some averaged scalar.dat files. You can then use those new files alongside qmc-fit to perform the time step extrapolation on the twist averaged data.

[2020-01-16 03:58] mmorale3 commented on #1987
Peter, I fixed all the warnings from gnu. They are in the latest PR. I will look at whatever clang/intel still reports tomorrow.

[2020-01-16 05:49] markdewing opened #2227 "Configuration of tests in CMake is slow"
#2203 contains a workaround - the QMC_NO_SLOW_CUSTOM_TESTING_COMMANDS flag.

This issue is to collect data and look for a more general solution.

I ran strace on the cmake configuration to see what external commands are taking time.

(Details: `strace -o stmp2.txt -ttt -T -f -e trace=%process ./s1`, where s1 is the script that runs the cmake configuration.  A python script read the strace output a

[2020-01-16 13:55] PDoakORNL commented on #2227
This is useful. I built a profiled version of cmake but all it showed me was the outside commands were slow.

I can say I have cached the python dependency checks in the past. It didn’t make a significant difference with python 2 so I didn’t PR it.

[2020-01-16 14:45] kryczko commented on #2224
I can try to implement the above requests and create a pull request.

[2020-01-16 15:37] lshulen commented on #2224
@ye-luo, the qbox converter provides ions only when the input qbox calculation had them.  In this case, with the model potential there were no ions.  As for your suggestions:
1. Agree and 4. agree
2. I think this represents a problem, and I would suggest indicates a poorly formed hdf file (unless we are talking about case 4).  I would suggest printing a warning and aborting.
3. When xml has no ion

[2020-01-16 15:41] lshulen commented on #2204
@ye-luo, I will look into this.  I'm not sure that the h5 from test_NaCl_qbox is sensible for such a check.  I reduced the cutoff so much to make the file small that it may only be good for testing the converter still works.  I'll take this in two parts.  First, I will see if the NaCl in the repo can yield a good test.  If so, then I will work from there.  If a larger cutoff is necessary to get so

[2020-01-16 15:42] ye-luo commented on #2224
I think your suggestions for 2 and 3 are more reasonable. Let's do that.

[2020-01-16 15:45] jcoulter12 commented on #2226
Wonderful, this appears to have worked. I initially overlooked this issue based on the title, thanks for pointing it out!

[2020-01-16 15:45] #2226 closed

[2020-01-16 16:23] prckent commented on #2224
Abort if there is an inconsistency(i.e. 3,4), indicating the error and also the location of the abort. ("If you really intended this, note the check can be disabled in builder.cpp".) This is safe, saves us from adding an input parameter for a very rare case, and is still helpful to someone trying something novel.

[2020-01-16 16:24] prckent commented on #2188
Can we update the checklist at the top? What is not run/updated/checked yet?

Other than PySCF checks it looks like everything is running on oxygen with Python3 now. Can everything be checked off?

[2020-01-16 16:32] kryczko commented on #2224
I'm going through `QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp` now and it looks like we can look for the attribute 'atoms/number_of_atoms' to check for the number of atoms from HDF5, but I am not sure what variable holds information about the number of atoms found in the XML. Could someone clarify this?

[2020-01-16 16:37] ye-luo commented on #2188
@markdewing is the coverage also OK?

[2020-01-16 16:41] jtkrogel commented on #2188
Added `labs` to the checklist.

[2020-01-16 17:02] markdewing commented on #2227
For completeness, a copy of the strace processing script is attached
[read_strace.py.gz](https://github.com/QMCPACK/qmcpack/files/4072571/read_strace.py.gz)

(File is gzipped because it would not let me attach a *.py file)

[2020-01-16 17:04] markdewing commented on #2188
Coverage was updated in #2157
Converters were updated in #2139

[2020-01-16 18:02] prckent commented on #1007
This would be useful to have for many people.

Is it possible to PR into the repo? @rcclay @Paul-St-Young

[2020-01-16 19:42] jtkrogel opened #2230 "QE 6.5 support"
This is a request from Fernando Reboredo and Tomohiro Ichibha.  They are anxious to use QE 6.5 to generate spin-polarized states with the SCAN functional for use in QMCPACK.  This would require an updated `download_and_patch_qe6.5.sh` script.

[2020-01-16 19:42] jtkrogel commented on #2230
Refer to @ichibha.

[2020-01-17 13:33] ye-luo commented on #2230
Need a bit time to work on this. Expect ready mid Feb.

[2020-01-17 13:35] ye-luo commented on #2227
Another data point. I noticed using system python3 is much faster than anaconda.

[2020-01-17 14:40] ichibha commented on #2230
Thank you for your effort, @ye-luo. Requested by @prckent, I have confirmed that spin-polarized calculation works with SCAN with QE 6.5.

[2020-01-17 15:14] PDoakORNL commented on #2227
Anaconda is pretty bloated but I’m surprised it effects startup time which I think is a significant issue for us. I suggest miniconda and just the needed packages.

However other issues are Are system python and anaconda on different file systems? Which platform x86-64 or another?

[2020-01-17 15:21] ye-luo commented on #2227
Probably it is more of file system difference. On my workstation (bora), Anaconda is on a network files system while system python3 is on local SSD.

[2020-01-17 21:05] prckent commented on #2230
Thanks @ichibha

[2020-01-20 19:08] kryczko commented on #2224
Can someone help me here?

[2020-01-20 20:08] markdewing commented on #2224
I think SourcePtcl is populated from the XML file.   That's what's used to perform the ion position comparison.

[2020-01-20 20:15] kryczko commented on #2224
kk thanks!

[2020-01-20 20:36] kryczko commented on #2224
I have the current input file:
[code]

when I look at `SourcePtcl->R.size()` it yields 8. Is this the correct behaviour? Should I be looking for another variable when trying to compare the number of ions?

[2020-01-20 20:49] markdewing commented on #2224
The determinantset element specifies source="e", which sets the SourcePtcl to the electrons.

You probably need to create an empty ion particleset in order to have something to point to from the source element.  I don't know if the code will be happy creating an empty particleset or not?

[2020-01-20 20:57] kryczko commented on #2224
I found the following in `EinsplineSetBuilder.h`:

[code]

[2020-01-20 21:04] markdewing commented on #2224
In EinsplineSetBuilder_createSPOs.cpp, the line   "SourcePtcl = ParticleSets[sourceName];" sets the source particle set.

[2020-01-20 21:13] kryczko commented on #2224
Why is the SourcePtcl pointing to the electron particle set?

[2020-01-20 21:20] markdewing commented on #2224
[code]
The `source="e"` part of the input file.

[2020-01-20 21:22] kryczko commented on #2224
but in the code snippet I attached above it says:
[code]
so it looks like SourcePtcl is for the ions, and TargetPtcl is for the electrons.

[2020-01-20 21:25] kryczko commented on #2224
Ah I see what you're pointing to now.

[2020-01-20 21:34] kryczko commented on #2224
Based on this it looks like we must loop through each particle set and check the counts of each against eachother. I'm not sure where this should be done though...

[2020-01-20 21:47] markdewing commented on #2224
I think right before the `if (Super2Prim.size() == 0)` block, there should be a check for SourcePtcl / hdf file consistency (as outlined in other comments), and then that check can be skipped if both files have zero ions.

[2020-01-20 21:53] kryczko commented on #2224
In my case the SourcePtcl gives no information about ions. I have to find another way to get the number of ions from the XML. The SourcePtcl is just giving me the number of electrons.

[2020-01-20 22:03] markdewing commented on #2224
Yes, your input file is pointing SourcePtcl (source="e") to be electrons.   The input file needs to change.

[2020-01-20 22:10] kryczko commented on #2224
ah i see. Thanks.

[2020-01-20 22:21] kryczko commented on #2224
Should the target be set to "e", I was under the impression that the source of the orbitals to be read in were for the electrons.

[2020-01-20 22:53] markdewing commented on #2224
The whole 'target' and 'source' naming was meant to make the code general, but it winds up being confusing.   Looking at other input files (NiO performance tests), the "source" attribute points to the ion particleset.

[2020-01-21 10:12] ye-luo opened #2233 "LocalEnergy doesn't agree with the rest in batched driver"
I was running mixed precision code with NiO 32 atom performance test, the first VMC section. Values collected in Hamiltonian should always be in double precision. Both drivers the LocalPotential agrees with the rest terms.
However the Kinetic + LocalPotential has 1 order of magnitude larger error with batched driver.
non-batched driver
[code]
hand calculation: block 0 -2.9661472832e+03, block 1 -2

[2020-01-21 14:57] kryczko commented on #2224
after removing the "source" tag, I am not hitting the error in `ParticleSet.cpp`

[code]

[2020-01-21 16:01] markdewing commented on #2224
The input file needs a new particleset section (which should be empty - this is the part I'm unsure if it will work), and the "source" attribute needs to point to that particleset.

[2020-01-21 16:52] kryczko commented on #2224
I hit the same error as above when I define a particle set with size="0"

[2020-01-21 17:09] markdewing commented on #2224
What happens if that APP_ABORT is removed?    (We might consider converting that error to a warning)     More generally, the code probably assumes that a zero-sized particleset is an error.   The question is how many changes are necessary to lift that restriction?

If that gets too burdensome, we might also consider other ways to signal an empty particleset - all the particles have mass zero, or s

[2020-01-21 17:19] kryczko commented on #2224
adding this statement worked:
[code]

[2020-01-21 18:09] markdewing commented on #2224
That's great if this change is sufficient.     The only comment I have is to use 'app_warning()' instead of 'app_log()'.

[2020-01-21 18:17] kryczko commented on #2224
Done, I'm going to open a pull request with the changes I have made.

[2020-01-21 18:30] kryczko commented on #2163
I have added another PR to fix the no ion issue. Any updates on your end?

[2020-01-22 13:43] jtkrogel commented on #2163
Sorry, no updates yet.  I've been progressing slowly on this due to work on #2105.

[2020-01-22 13:56] ye-luo commented on #2224
I added the safeguard disallowing size 0 particleset. I feel better of we can make better use of SourcePtcl = nullptr to mean the non-exisit ions.

[2020-01-22 14:45] kryczko commented on #2224
@markdewing how do you think we should approach this?

[2020-01-22 15:04] ye-luo commented on #2224
I noticed the disturbance was from an unintended code path. I think now we can just focus on all the use of SourcePtcl and make proper protection with warnings.

Echo @markdewing the name "source" is very confusing. There is a consistent definition of "target" in the whole code, it refers to the particle participating random walking. It can be electrons, positrons and protons.

[2020-01-22 15:08] kryczko commented on #2224
thanks @ye-luo, could you let me know what the next steps for me should be? Should I wait for your PR to go through and then open a new PR?

[2020-01-22 15:19] ye-luo commented on #2224
The wrestling of ParticleSet in the old PR is not needed any more. I did not go through all the changes in the EinsplineSetBuilder. If you find the change from the old PR is not needed any more, start a new PR from the develop with my change merged in can be easier.

[2020-01-22 15:31] kryczko commented on #2224
okay, sounds good. Thanks.

[2020-01-22 15:54] camelto2 opened #2237 "Spack with AFQMC"
I have been using spack for all of my build purposes, and as I am now doing some AFQMC calculations, I noticed that AFQMC is not currently supported with the spack install. I have added it to my spack fork and would like to push it into the actual spack package.

However, I wanted to check here to see if there are any build conflicts or other issues that I am not aware of that should be included i

[2020-01-22 16:53] tiihonej commented on #2129
I agree there's a problem. A sample VMC run crashes immediately with the force estimator whenever OMP_NUM_THREADS>1, but works fine without it.

Sorry for taking to time to check this; been only running MPI so far. This does not seem to be an urgent matter for anyone else right now, but will have to be fixed for later applications of the forces. I'll try and pin down the cause sometime soon in the

[2020-01-22 17:21] markdewing commented on #2224
I'm okay with @ye-luo 's change.    It looks like it will simplify the code in this PR.

[2020-01-22 18:13] fdmalone commented on #2237
@naromero77 has the most experience with QMCPACK and spack I think.

[2020-01-22 18:20] camelto2 commented on #2237
The input I need from you @fdmalone and @mmorale3 isn't about spack in particular, it is essentially about any known issues or conflicts or dependencies with the build process other than what I listed above. If there are, then those should be added to the spack package. That way it would prevent other users from running into those problems when trying to build.

For example, are there any issues w

[2020-01-22 18:31] tiihonej opened #2238 "Force estimator broken by recent commits"
QMCPACK runs with the ACForce estimator crash at launch with the latest code (since around Jan 16). The error message is something like the following:

ERROR You cannot resize a constant size matrix beyond its initial max dimensions
Fatal Error. Aborting at Unhandled Exception
*** The MPI_Abort() function was called after MPI_FINALIZE was invoked.
*** This is disallowed by the MPI standard.
*** Yo

[2020-01-22 18:33] jtkrogel commented on #2238
Sounds like a good target for addtional unit/deterministic/integration tests.

[2020-01-22 18:57] fdmalone commented on #2237
gcc >= 6.1, clang >= 4.1 and intel2019 should all work and I believe they are tested on cdash. For cpu builds both real and complex builds should work. For cuda the code should be complex build only. Only very recent versions of mvapich should be used, openmpi and mpich should be ok.

[2020-01-22 19:49] prckent commented on #2238
Ack! A simple view of this would be that we need a simple integration test and preferably a deterministic integration test that uses ACForce. However, better would be a unit or small scale integration test that can catch this.

[2020-01-22 20:01] camelto2 commented on #2237
How recent for mvapich are we talking?

[2020-01-22 20:10] mmorale3 commented on #2237
This needs to be tested. Shared memory was not working correctly before mvapich2 v2.3. The fix was patched into LLNL compilers as of 2.3, but I don’t know if and when the fix was added to their official release.

Sent from my iPhone

[2020-01-22 20:25] camelto2 commented on #2237
looking at the changelog for mvapich, it was either patched in the official release in v2.3 or v2.3.1 depending on which issue you are referring to.

v2.3.1:
      - Fix issues with MPI-3 shared memory windows for PSM-CH3 and PSM2-CH3
      channel
v2.3:
    - Fix issue with allocating large number of shared memory based MPI3-RMA
      windows

[2020-01-22 20:31] kryczko commented on #2224
where is the Fatal error occuring now with the new change?

[2020-01-22 20:40] prckent commented on #2237
I think it is very reasonable to support only newer/the newest versions here, unless we know of existing users or systems that need to use old versions.

[2020-01-22 20:43] prckent commented on #2237
@fdmalone oxygen.ornl.gov which runs most of the nightlies only has AFQMC enabled for complex builds:
[code]
If there any reason we shouldn't invert this rule so that we always build AFQMC unless cuda+real?

Do the builds work without MKL sparse availability?

[2020-01-22 21:10] fdmalone commented on #2237
For develop I believe everything should build including cuda+real. There may not be tests for all of these build options, but that's a separate issue in a way. Setting this up on cdash would be helpful as I only use gcc on a daily basis.

For available release versions cuda + real should be avoided, but the code should at least build for real and complex. Note that real builds are only really prac

[2020-01-22 23:24] fdmalone opened #2240 "AFQMC unit tests are using ascii wavefunctions."

[2020-01-24 02:23] ye-luo opened #2243 "Uninitialized value M in DMCBatched::setMultiplicities"
GCC warning detects this in #2232
The original code in QMCUpdateBase::setMultiplicity sets M = walker.Weight.
DMCBatched::setMultiplicities is not doing the same way.
Please explain the change and fix the warning as well.

[2020-01-24 16:28] tiihonej commented on #2238
#2242 Did not fix it for me. I could write a simple integration test for ACForce, @prckent . Actually, the above inputs slightly modified would probably work?

[2020-01-24 16:40] prckent commented on #2238
@tiihonej Please modify an existing test, e.g. LiH dimer. This will avoid introducing new files for the wavefunctions and potentials. Of course, this assumes that LiH triggers the test. I suspect that parsing the force to check the numerical results will require writing some new python code in the test system, but for now that is not essential: the key test is whether the code crashes or not.

[2020-01-24 16:50] tiihonej commented on #2238
@prckent Modifying existing file should be alright and, and LiH already covers a great deal of force-related features (the only exception probably being the derivatives of some higher-order WF-components). Testing against the values of the Pulay terms should be straightforward and catch all there is to catch regarding the actual performance.

[2020-01-24 17:00] PDoakORNL commented on #2238
@tiihonej Do you mean you get the same resize error?

[2020-01-24 17:39] PDoakORNL commented on #2243
I'll fix it but GCC is incorrect.
[code]

[2020-01-24 18:51] tiihonej commented on #2238
@PDoakORNL Nevermind that, there was something else wrong with my build. I did a fresh checkout and everything works. I'll push an integration test and then close this issue.

[2020-01-24 20:50] tiihonej commented on #2238
There are a few issues with adding an integration test for the current ACForce estimator.

First, none of the needed observables (ACForce_{hf,pulay,wfgrad, Ewfgrad}_<ion>_<dim>) are implemented in the checking macros or nexus. Adding them is perhaps a bit tedious, considering that the final observable format is perhaps subject to discussion (ie, is scalar.dat a proper place for tensorial quantitie

[2020-01-25 19:28] prckent opened #2245 "Estimator sofk tests are crashing"
e.g. estimator-sofk_allp-collectables-1-16, estimator-sofk_pbyp-properties-1-16, estimator-sofk_allp-collectables-1-16, and more.

This is new behavior in the last ~week.

https://cdash.qmcpack.org/CDash/testDetails.php?test=7281820&build=101633
https://cdash.qmcpack.org/CDash/testDetails.php?test=7281819&build=101633
https://cdash.qmcpack.org/CDash/testDetails.php?test=7281819&build=101633

[2020-01-25 19:32] prckent opened #2246 "Deterministic unit test failure for wavefunction due to missing specialization"
https://cdash.qmcpack.org/CDash/testDetails.php?test=7289516&build=101766
[code]
Failure with gcc and intel2018 on hyperion with complex builds.

[2020-01-27 08:18] ye-luo opened #2247 "Exception handling causes MPI hanging"
When I introduced a bug in the code, the exception handling tricks me.
What I don't understand is why the throw from #17 triggers #10
The node hanging is understandable, #10 is for normal termination of the program and calls darshan to finallize I/O statistics. Because there is only one rank terminating and other ranks wait on a different barrier. The code hangs.
[code]

[2020-01-27 08:21] ye-luo opened #2248 "OutputManager needs a query mechanism"
When developing codes, sometimes I add app_log() but got nothing printed because the stream is paused. so need a way to query OutputManager the current status.

[2020-01-27 15:36] prckent commented on #2248
Perhaps OutputManager could always flush the stream. This would be simpler.

[2020-01-27 15:39] prckent commented on #2247
Does this problem occur without darshan?

We need exceptions to successfully bring down all MPI tasks to avoid wasted supercomputer time. Is this a Summit only issue or more general? I thought we checked this as a condition of using exceptions.

[2020-01-27 16:43] kryczko commented on #2224
Could someone help me find where this new error is being thrown?

[2020-01-27 16:57] ye-luo commented on #2247
I didn't try unloading darshan. It can be a workaround but not a fix.
I think it is our problem ending the execution at MPI_Finalize instead of MPI_Abort.
MPI_Finalize in most MPI implementation is an intercepting layer and computer centres can inject anything they need.

[2020-01-27 16:59] ye-luo commented on #2248
Unfortunately this is not a flush problem. OutputManager redirects output to nullstream if paused. I need to know if it is paused or not in a particular position of code.

[2020-01-27 17:01] PDoakORNL commented on #2247
I have seen this as of last week while debugging MPI.  I will look at it tonight/tomorrow.  I'm not sure its due to missing MPI_ABORT unless our APP_ABORT macro only calls MPI_FINALIZE.  I have not seen it except with spectrum MPI so far.

[2020-01-27 17:07] ye-luo commented on #2247
Our APP_ABORT calls MPI_ABORT.

[2020-01-27 18:18] prckent commented on #2247
All terminating exceptions should call MPI_ABORT.

[2020-01-27 20:16] prckent commented on #2233
Threaded CPU run?

[2020-01-28 18:48] prckent commented on #18
Still incorrect in 2020

[2020-01-28 20:45] markdewing commented on #2224
I ran the test case and reproduced some errors and segfaults.  There are many places that reference SourcePtcl in EinsplineSetBuilder, which then segfault if SourcePtcl is null.   I'm not sure guarding every use of SourcePtcl is a reasonable approach.
I changed ParticleSet.cpp to allow zero-sized groups, and the test case seemed to work (even with no modifications to EinsplineSetBuilder).   I also

[2020-01-28 21:45] kryczko commented on #2224
Looks good to me!

[2020-01-29 12:19] ye-luo commented on #2233
The behaviour is consistent. Production driver is fine but batched driver has larger error.

[2020-01-30 15:57] kryczko commented on #2224
Should the PR #2234 reflect these changes then?

[2020-01-30 16:58] markdewing commented on #2224
I will submit a PR with the empty particleset changes, and #2234 can be closed.

[2020-01-31 13:26] ye-luo commented on #2224
@kryczko I merged #2259. if the current develop works for you, please close this issue. Otherwise, please keep updating this issue.

[2020-01-31 14:41] ye-luo opened #2263 "Nexus needs to be tested by CI"
If this is duplication, please let me know.
#2262 indicates more automation is needed.

[2020-01-31 15:09] prckent commented on #2263
The nexus tests are missing the deterministic label that would cause them to run in the CI. Notice that they report under "nightly" results on cdash. By eye they take under 2 minutes in total to run.

[2020-01-31 15:15] ye-luo commented on #2263
I prefer not to add deterministic label to nexus tests. Instead we update CI scripts. Nexus can have a separate section on the cdash. Mixed in the nightlies is bad.

[2020-01-31 15:27] kryczko commented on #2224
worked for me, thanks!

[2020-01-31 15:27] #2224 closed

[2020-01-31 15:31] kryczko commented on #2163
No problem, let me know when you get some time to check it out. If there is anything I could do to get started you could let me know! A PR went through to allow for an empty ions particle set, so now I have that working natively with an external potential.  Basically, in the input file you must define:

[code]
followed by
[code]
and everything should work.

[2020-01-31 16:24] prckent commented on #2263
There are two issues around testing nexus the: First, CI != cdash. Second, how we label or identify the nexus tests. For CI it looks to be a one line change.

[2020-01-31 21:48] PDoakORNL commented on #2263
I think that we're getting to big for one repo, one PR queue, and One CI. Cmake/ctest/cdash are not a good look for python nor were they meant to be.

[2020-02-01 03:46] #2263 closed

[2020-02-04 02:25] #2243 closed

[2020-02-04 12:36] ye-luo opened #2271 "Wrong CloneManager::acceptRatio in certain builds"
The summation loop in CloneManager::acceptRatio seems causing problems.

On my workstation with Xeon Skylake and Ubuntu 18.04, if I build with GCC 6-8 (beyond 8 not checked), test_drivers fails. The default gcc option is -march=native. If I force -march=skylake, it passes. Instead if I force -march=skylake-avx512, it fails. If I change -O3 to -O0, it always pass.

Intel compiler works fine on this

[2020-02-04 13:17] ye-luo commented on #2188
@jtkrogel completed by #2270 ?

[2020-02-04 13:44] prckent opened #2273 "nexus tests fail due to missing new dependency matplotlib"
https://cdash.qmcpack.org/CDash/viewTest.php?onlydelta&buildid=103138

This optional dependency has become a requirement.

[2020-02-04 14:30] jtkrogel commented on #2273
That was unintentional.  I'll put in a fix shortly.  Do we have CI for "only required dependencies" and for "all dependencies"?

[2020-02-04 14:34] jtkrogel commented on #2188
#2270 covers the set of labs we have given in workshops (1-4).  The excited states lab still needs review, and there may be some issues separate from Python 2/3 considerations.

[2020-02-04 14:47] prckent commented on #2273
No.

I would be helpful to have a maintained list of the dependencies, both for Nexus and QMCPACK. e.g. WIthout lxml the pyscf spline conversion test can not work.

[2020-02-04 14:51] grahamlopez commented on #2273
Ideally, both such lists would be implicit in and enforced by the build system - and clear to find/read by humans.

[2020-02-04 14:56] jtkrogel commented on #2273
Nexus maintains its own list.  It is printed each time it is run by a user:

[code]

[2020-02-04 15:04] grahamlopez commented on #2273
nice. we could do similar for qmcpack in the cmake.

[2020-02-04 15:20] prckent commented on #2273
@jtkrogel Good. Can you please update the manual & readme to mention this and list these dependencies? somewhere in installation.tex

[2020-02-04 15:36] jtkrogel commented on #2273
The dependencies are described in section 3.2 of the Nexus user guide.  The Nexus README hasn't been updated for a while (Python 2 still discussed!).  I will make an update there.

If you want, I can repeat this information in the QMCPACK manual and readme, but I am leery of maintaining 4x duplicated information.  Possibly during the move to ReadTheDocs for both QMCPACK and Nexus, we can make a be

[2020-02-04 16:05] jtkrogel commented on #2273
See #2276.

[2020-02-04 17:13] prckent commented on #2273
I agree on avoiding duplication. We could add a link to the NEXUS manual PDF today https://docs.qmcpack.org/nexus_user_guide.pdf

[2020-02-05 23:10] prckent commented on #2273
Closed by #2274

Confirmed working https://cdash.qmcpack.org/CDash/buildSummary.php?buildid=103255

[2020-02-05 23:12] prckent opened #2284 "Python dependencies for QMCPACK and related tools should be tested for"
Per discussion in #2273 the cmake should check for required and optional modules and provide clear user feedback.

[2020-02-05 23:12] #2273 closed

[2020-02-06 03:15] prckent commented on #2246
Appears to be fixed.

[2020-02-06 03:15] #2246 closed

[2020-02-07 18:10] shivupa opened #2291 "Nonsquare MO coefficient matrices break AFQMC converter"
**Describe the bug**
If MOs were dropped due to prevent linear dependency, the MO coefficient matrix will be of shape `(num_ao, num_ao-num_dropped)`. The AFQMC converter doesn't handle this case.

**To Reproduce**
Steps to reproduce the behavior:
1. release version or git commit hash being built
latest develop 02078f8eabd9c42c10d772e35e1b2c4bae09a599

2. cmake command
Doesn't require compilation

[2020-02-07 18:24] fdmalone commented on #2291
This was an oversight on my side. It should be a quick fix.

[2020-02-07 23:45] #1954 closed

[2020-02-07 23:48] prckent commented on #2105
Improvements will be investigated in #2185 . Closing this since bugs have been fixed and safeguards introduced.

[2020-02-08 05:55] fdmalone commented on #2291
@shivupa  I opened a PR to fix this.

A couple of points:
1. -o and -w are hdf5 files for the hamiltonian and wavefunction respectively, not xml files. The help info for -w has a typo which I will fix. -w isn't necessary unless you want to write the wavefunction to a different file than the hamiltonian.
2. It's a bit misleading and I will change the variable name (the help message is clearer), but

[2020-02-08 06:25] shivupa commented on #2291
Thanks for the rapid response! The first point makes sense. Just a quick question about the second point, for the orthogonal AO case the matrix used is the X matrix right? Is this the S^{-1/2} matrix from symmetric orthogonalization?
[code]

[2020-02-08 06:33] shivupa commented on #2291
Ok I think I understand I should be looking at [this](https://github.com/QMCPACK/qmcpack/blob/93cb4243d551ad18216634b2d654f6fa22606aea/utils/afqmctools/afqmctools/wavefunction/mol.py#L52)

[2020-02-08 16:45] shivupa commented on #2291
Fixed by #2292

[2020-02-08 16:45] #2291 closed

[2020-02-09 02:10] fdmalone commented on #2291
Note that if you want to use the oao basis you will need to write the transformation matrix to the scf.chk file as follows:

[code]
where cutoff is the linear dependency threshold used in the SCF calculation. I need to submit a PR to deal with this rectangular matrix too.

[2020-02-10 20:29] scemama opened #2301 "CMake HDF5 non-MPI"
**Describe the bug**
On a Debian 9 machine, I installed HDF5 using apt install hdf5-dev.
The hdf5.h file is located in /usr/include/hdf5/serial/
I ran cmake 3.7.2 with -DQMC_MPI=0 and everything went fine.
When I compiled, I got this message:
[code]
To make it compile properly, I had to
```export CPLUS_INCLUDE_PATH=${CPLUS_INCLUDE_PATH}:/usr/include/hdf5/serial```

**To Reproduce**
Steps to reprod

[2020-02-10 21:09] markdewing commented on #2301
It could be an issue with the version of CMake.  Try a newer version and sees if the problem reproduces. (unfortunately, I don't know precisely which version you should try)

[2020-02-10 21:35] markdewing commented on #2301
I can reproduce the issue on Ubuntu 18.04 with cmake 3.7.2 (and 3.6.1).  It works with 3.8.1 (and presumably newer.) I didn't test 3.8.0.

[2020-02-11 00:28] scemama commented on #2301
Thank you for your help.
OK, so then you should just change the CMake requirement and set it to 3.8.1, right?

[2020-02-11 01:25] prckent commented on #2301
Thanks Anthony. It seems that indeed we need to raise the minimum version.

The oldest version that we intentionally test with is cmake 3.10.2, released 2018-01-18. As far as I can recall, we have never found a reason to not use the latest version of cmake. We are going to have to require more recent versions before long due to the improved CUDA language support.

[2020-02-11 01:42] prckent commented on #2301
See also https://github.com/QMCPACK/qmcpack/pull/2289 which requires 3.10.  Some variant of this PR will be merged in after v3.9.0 is out, which should be tomorrow. Sorry for the trouble in the meantime.

[2020-02-14 08:16] xuzpgroup opened #2310 "Issues of pw2qmcpack.x"
Dear all,

Now I am runing the example dft-inputs-polarized in qmcpack-3.8.0.

When I run pw2qmcpack, it returns as follow,

----------------------------------------------------------
     Program pw2qmcpack v.6.4.1 starts on 14Feb2020 at 15: 4:33

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al.

[2020-02-14 08:21] ye-luo commented on #2310
Did you run the scf step with pw.x first?
Were you able to run pw.x with out error?
Is your pw.x version 6.4.1 as well?

[2020-02-14 08:23] xuzpgroup commented on #2310
I run scf and nscf using pw.x firstly without errors.
The version of pw.x is 6.4.1 as well.

By the way, the version of HDF5 is 1.10.5.

[2020-02-14 08:43] xuzpgroup commented on #2310
Now I install on my personal computer using same version. It returns,

     G-vector sticks info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Sum        3115    3115    847               115339   115339   16145

     Generating pointlists ...
     new r_m :   0.2063 (alat units)  1.4644 (a.u.) for type    1
     new r_m :   0.2063 (alat u

[2020-02-14 08:46] ye-luo commented on #2310
Could you verify that your prefix string in both pw.x input and pw2qmcpack input files are consistent?

[2020-02-14 09:02] xuzpgroup commented on #2310
I am sorry to confusion.
Here, I change the prefix for these two runnings. But both retun wrong.

The first one is ran on cluster and the second is ran on my PC.

[2020-02-14 10:02] ye-luo commented on #2310
Could you attach your nscf input and output and your pw2qmcpack input and output files on your PC?

[2020-02-14 11:02] xuzpgroup commented on #2310
nsci.in
 &control
    calculation = 'nscf'
    restart_mode='from_scratch',
    tstress = .true.
    prefix='LiH',
    pseudo_dir = './',
    outdir='./out'
    wf_collect=.true.
    !disk_io='low'
 /
 &system
    ibrav=2, celldm(1) =7.100, nat=  2, ntyp= 2,
    nspin=2,
    tot_magnetization = 0,
    degauss=0.001,
    smearing='mp',
    occupations='smearing',
    ecutwfc = 450
    ecutrho =1800

[2020-02-14 11:15] xuzpgroup commented on #2310
Dear Ye Lou,

I have solved the issue.

I found pw.x and pw2qmcpack.x should **be compiled by the same setting**.
The pw.x is I used before is complied by others although the version is same.

Thank you very much.

Best,
Justin

[2020-02-14 12:02] ye-luo commented on #2310
Good to hear that your problem is solved. We are making effort to add the converter to pw.x and there will be no more a separate pw2qmcpack step. Thus your issue will never happen in future versions.

[2020-02-14 12:02] #2310 closed

[2020-02-14 12:36] xuzpgroup commented on #2310
Good news. Looking forward to use the new version

[2020-02-14 21:11] prckent commented on #2301
The CMake requirement on develop is now 3.10. We can reopen this if needed.

[2020-02-14 21:11] #2301 closed

[2020-02-17 16:32] #1913 closed

[2020-02-18 14:03] #1791 closed

[2020-02-18 14:05] kryczko commented on #2163
Any updates yet? Is there a reason why the energy density wouldn't work with a new potential?

[2020-02-18 17:01] jtkrogel commented on #2163
It is mainly a data routing issue.  Right now the energy density does not work with any potential, see #982.  It will take some time to fix. Due to a mix of work items, I may not be able to get to this before midsummer.

[2020-02-18 17:09] kryczko commented on #2163
do you know of anyone else who can look into it?

[2020-02-19 09:13] ye-luo commented on #1703
Our cmake now catches this case.

[2020-02-19 09:13] #1703 closed

[2020-02-19 15:13] prckent opened #2315 "New DMC bug causing deterministic failures"
**Describe the bug**
A clear and concise description of what the bug is.

The vmc-dmc trace checks are newly failing (e.g.  deterministic-diamondC_1x1x1_pp-vmc-dmc-trace_scalars-1-1) , indicating a new bug in DMC.
https://cdash.qmcpack.org/CDash/testDetails.php?test=7477769&build=104813
These deterministic tests have been totally reliable for a long time, but failed Tuesday evening. Possibly #2221

[2020-02-20 05:05] ye-luo commented on #2315
#2221 seems fine. The run one night before was OK.
https://cdash.qmcpack.org/CDash/testDetails.php?test=7470068&build=104698

I noticed that trace_scalars and trace_scalars_sel are not deterministic. The random seeds are not fixed. check_traces.py only "Performs consistency checks between traces.h5 and scalar.dat/stat.h5/dmc.dat files"

A fixed to this issue is fixing seeds in test input files. @j

[2020-02-20 06:21] ye-luo commented on #2315
I can reproduced the failing by injecting random seed 36. The code tries to load balancing 2 walkers and killed all the workings due to over correction at one step.

[2020-02-20 13:58] jtkrogel commented on #2315
The runs are not deterministic, but the check is.

The check is that the internal sum of per walker energies matches what is in scalar.dat and dmc.dat.
Since this equality should always hold, the check is deterministic.

Having additional entropy should help us catch subtle bugs that violate this constraint.

[2020-02-20 14:08] ye-luo commented on #2315
The current issue was that DMC cannot get completed due to load balancing with pathological electronic configurations. This needs to be resolved first.

[2020-02-20 15:31] prckent commented on #2315
It worked again this morning.

We need to avoid pathological configurations. I think that the correct way to do this is with a fixed seed.

[2020-02-20 15:34] jtkrogel commented on #2315
Is DMC's failure to load balance a bug or not?

[2020-02-20 15:36] ye-luo commented on #2315
In the current load balancing algorithm, all the walkers get killed all of a sudden in this test case. I consider it a feature not a bug.

[2020-02-20 16:13] jtkrogel commented on #2315
OK, probably some change has been made to the DMC algorithm at some point w.r.t. a subset of: load-balancing, weighting, when traces are collected.  I used to be able to verify scalar.dat and dmc.dat files for DMC from much longer DMC runs (including lots of load balancing).

It's sad that we can't currently benchmark in this way, but I agree that for the purpose of testing the code in its current

[2020-02-20 16:20] prckent commented on #2315
I think we simply got unlucky with the seed and the DMC run quit since it ran out of walkers. That is all. Checking the history I noticed a couple of other failures in the first week of January 2020.

[2020-02-21 04:28] #2315 closed

[2020-02-25 16:45] afernandezody opened #2319 "Building with Intel compiler and CUDA 10.2"
Hello QMCPACK Team,
I was trying to build QMCPACK using the Intel compiler 19.1 (20200117) and CUDA support. I upgraded to the latest release (3.9.1) but it's still telling me that it only supports releases ending in 0 (15.0, 16.0, 17.0, 18.0, 19.0). The full error reads:

[code]

Due to unrelated reasons, it's not easy for me to downgrade to icc 19.0 so I was wondering if there is way to go aroun

[2020-02-25 16:46] afernandezody opened #2320 "Building with Intel compiler"
Hello QMCPACK Team,
I was trying to build QMCPACK using the Intel compiler 19.1 (20200117) and CUDA support. I upgraded to the latest release (3.9.1) but it's still telling me that it only supports releases ending in 0 (15.0, 16.0, 17.0, 18.0, 19.0). The full error reads:

[code]

Due to unrelated reasons, it's not easy for me to downgrade to icc 19.0 so I was wondering if there is way to go aroun

[2020-02-25 16:56] prckent commented on #2319
The problem comes from NVIDIA CUDA support, not from QMCPACK. Until a newer CUDA is released supporting Intel's 19.1 compilers, unfortunately you can't use them with CUDA.  https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements

You should use a supported gcc, clang or older Intel compiler.

[2020-02-25 16:57] prckent commented on #2320
Closing since a duplicate of #2319

[2020-02-25 16:57] #2320 closed

[2020-02-25 17:18] afernandezody commented on #2319
Hi @**prckent**,
Thanks. I knew that CUDA is very picky when it comes to the gcc version (must agree with the one used to build the kernel) but this exactness about the icc compiler is new to me.
P.S. Sorry about the other thread, I got the unicorn and thought that it had not gone through

[2020-02-25 17:18] #2319 closed

[2020-03-01 04:56] yurivict opened #2323 "[regression in 3.9.1] error: use of undeclared identifier 'sched_getcpu'"
Build fails on FreeBSD 12:

[code]

In src/QMCTools/check-affinity.cpp you only call this function on linux:
[code]
but in external_codes/mpi_wrapper/mpi3/shared_communicator.hpp you use it unconditionally.

[2020-03-02 16:21] prckent commented on #2323
Thanks for the report and sorry for the problem.

@correaa Please can you fix this in your "upstream" mpi wrapper and plan with @markdewing how/when to update our copy? This breaks the build on FreeBSD.

[2020-03-02 20:26] correaa commented on #2323
Fixed upstream https://gitlab.com/correaa/boost-mpi3/-/blob/master/shared_communicator.hpp#L51
Seems that freeBSD doesn't have a dropin replacement for getcpu.

@markdewing , let's try to unify the versions. I can set up my repository to push changes automatically to your repository.

[2020-03-03 17:10] prckent opened #2326 "Unable to specify thread binding via MPIEXEC_PREFLAGS due to excess CMake quoting"
**Describe the bug**

OpenMPI will by default bind threads of MPI programs with a single task to a single core. This is always the wrong choice for QMCPACK (or any properly threaded application) and will always slow the tests. e.g.

[code]
will not do what we want, despite being a reasonable invocation on, say, an AMD Rome processor with lots of cores.

Users have to specify "--bind-to none" for t

[2020-03-03 17:27] markdewing commented on #2326
Try specifying as a CMake list - with semicolons separating the arguments

`MPIEXEC_PREFLAGS=--bind-to;none`

[2020-03-03 17:39] PDoakORNL commented on #2326
The shell quoting/parsing works that way by design, this is also how safe flag quoting works in pythons subprocess package without the unsafe shell flag for subprocesses set. I guess this is why most modern cli works with the -flag=value pattern. But the = at least doesn’t work with my openmpi mpirun.

The upshot is ‘--bind-to none‘ needs to be treated as two flags. The cmake flags are a list. And

[2020-03-03 18:19] ye-luo commented on #2326
Good to learn the semicolons syntax but I still have doubts why CMAKE_CXX_FLAGS can take spaces.

[2020-03-03 18:36] PDoakORNL commented on #2326
I agree it needs to go in manual. But you only need the ; because mpirun can only deal with argv[n]=“— bind-to” argv[n+1]=“none” and not argv[n]=“—bind-to none”

[2020-03-03 18:41] prckent commented on #2326
Thanks. The suggestion configures correctly, but does not execute as intended. While mpiexec does not give an error, it still seems to do the wrong thing in practice. I suspect that there are other ctest configuration options at play.

I also notice that the performance tests are invoked without mpiexec (!!), while the short tests are correctly invoked with mpiexec. Checking cdash I see that it is

[2020-03-03 18:57] ye-luo commented on #2326
I found the root cause of not invoking MPIEXEC. Pushed my change to #2328.
ctest also needs -j to run parallel on many cores.

[2020-03-05 17:11] jtkrogel opened #2330 "Final DMC energy varies with equilibration strategy"
The final DMC energy for a 20 atom cell of SrCoO3 differs when QMCPACK is run in two ways that should be equivalent:

1. A single DMC run with a timestep of 0.002/Ha.
2. DMC run first with a timestep of 0.02/Ha followed by 0.002/Ha.

In this case, a difference of 6.6(7) mHa/f.u. is observed in the final DMC energy using the CPU code on Theta (case 1) and CADES (case 1 and 2) with Theta and CADES a

[2020-03-05 20:42] prckent commented on #2330
Hoping to narrow this bug/feature: if you do a restart, does the problem persist?

[2020-03-05 20:43] prckent commented on #2330
Attention @camelto2 . Until resolved, this issue would preclude a smarter equilibration strategy.

[2020-03-05 20:48] camelto2 commented on #2330
Agreed. I've been chatting with @mcbennet about this offline. @lshulen and @rcclay have pointed out a number of issues that could be the culprit similar to what you mention above.

[2020-03-05 20:49] jtkrogel commented on #2330
This is for T-moves version 0.  Trying a restart is a good idea.  Right now, we are performing reruns on CADES with slightly smaller errorbars for 20, 10, and 5 atom cells as initial runs gave ambiguous results for the smaller cells.  This should tell us if the issue is reproducible and whether it appears for smaller systems as well.

The 20 atom runs take about a day on 8 Skylake nodes.

[2020-03-05 20:50] jtkrogel commented on #2330
@camelto2, @lshulen, @rcclay What are your suggestions for possible culprits for this issue?

[2020-03-05 20:50] camelto2 commented on #2330
It is possibly worth mentioning that @aannabe has seen similar problems with an independent code (qwalk) using tmoves. The tmoves used there would be equivalent to tmoves v0 in qmcpack.

[2020-03-05 20:52] rcclay commented on #2330
DMC propagator needs an E_trial and variance of E_local for things like adjusting the population size and determining if the walkers are stepping into weird places.  Depending on how these values are estimated/carried over between simulations could have some measureable consequences, especially for these energy scales.

[2020-03-05 20:52] jtkrogel commented on #2330
Any data for methods other than T-moves v0 (i.e. is there any reason to believe this is local to T-moves)?

[2020-03-05 20:53] jtkrogel commented on #2330
@rcclay, but these choices should fade out rapidly and should be no worse than starting from VMC (at least in principle), right?

[2020-03-05 20:55] rcclay commented on #2330
I need to dig into SimpleFixedNodeBranch and see how precisely and how often we update this stuff.

[2020-03-05 21:00] camelto2 commented on #2330
Not that I am aware of. If nothing is obvious from the propagator as @rcclay mentioned above, it would be useful to check the dependence on tmoves/locality

[2020-03-05 21:02] camelto2 commented on #2330
another thing to investigate is the whether or not you can recover the correct behavior using smaller jumps in the timestep. Rather than going from 0.02 to 0.002, trying a few intermediates to see if the problem is as drastic.

[2020-03-05 21:03] jtkrogel commented on #2330
A complicating factor is that at the entry point to each DMC sub-run, warmup is performed with stochastic reconfiguration.  In this case (and in others), we have observed that the trial energy behaves erratically (rapid fluctuations on the scale of the VMC-DMC energy difference), before settling down immediately following the warmup.

If a large error was introduced to the trial energy at this poi

[2020-03-05 21:06] jtkrogel commented on #2330
@camelto2 I agree that this is a good thing to investigate.  I had planned to move this direction once we have fully settled reproducibility.  Restarts are another good thing to try early on.

[2020-03-06 14:59] prckent commented on #2323
I hope we can move to using synchronized but also versioned/tagged releases of the wrapper in QMCPACK.

[2020-03-06 15:23] prckent commented on #2330
In view of the upcoming weekend it would be sensible to queue several independent series of runs that will tell us the most with the least amount of human effort. For example:

- Repeat these tests with the locality approximation to include/exclude t-moves as a source of problems. This is a few line change to the inputs.
- Repeat these tests using restarts and not multiple qmc sections. This is a

[2020-03-06 16:58] jtkrogel commented on #2330
Chandler is performing a series of runs.  He's been able to reproduce the problem in the 10 atom cell, so we can now get conclusive results in 12 hours on 4 nodes.

Runs we have planned:

* Restart runs w/ 0.002 a.u. starting from walker populations equilibrated to 0.02/Ha and "equilibrated" to 0.002/Ha following 0.02.
* Runs with larger intermediate timestep: i.e. 0.04 -> 0.002 and 0.1 -> 0.002
*

[2020-03-06 17:16] Hyeondeok-Shin commented on #2330
@jtkrogel @prckent I'm writing what I found today because it seems to be related with this issue.

 This DMC results are for 2D GeSe starting from 0.1, 0.05 and 0.01 to 0.005 a.u. time step, and v3 T-moves is used.

 I first thought DMC total energy is converted enough on 0.005 a.u., but when I restart with stored walkers on the same 0.005 a.u. final time step, it gives different equilibrium total

[2020-03-06 17:45] mcbennet commented on #2330
Hyendeok, interesting. The stored walkers that you use for the restart -- they were stored during the 0.005 a.u. timestep in the first run?

[2020-03-06 17:53] Hyeondeok-Shin commented on #2330
@mcbennet Yes, it is. They were from the first run with the same time step 0.005 a.u. to the restart run.

[2020-03-06 19:23] prckent commented on #2330
@Hyeondeok-Shin Have you checked that VMC restarts correctly and consistently in this system? Clearly it would be very difficult for it not to, but we thought DMC was safe as well...

[2020-03-06 19:39] Hyeondeok-Shin commented on #2330
@prckent I didn't check for VMC restart run, but I can quickly check it. I'll post here when VMC check has done.

[2020-03-07 01:57] Hyeondeok-Shin commented on #2330
I quickly did a restart test for VMC and it seems fine.

VMC test has done with total 400 blocks and 200 blocks + 200 restart blocks.

Total 400 blocks.
                                                   LocalEnergy               Variance           ratio
GeSe-S4-dmc  series 1  -105.390069 +/- 0.001767   2.487108 +/- 0.081797   0.0236

First 200 + 200 restart blocks.

                            Lo

[2020-03-09 10:56] ye-luo opened #2334 "Add a separate CMake target for communicate"
Although I refactored a bit our CMake system, there are more to be done in our CMake. I have some in mind and other people may help.

So far I'm using MPI::MPI_CXX target directly and it requires protection with `if (HAVE_MPI)`. Because our Communicate class is a layer to serve both MPI and non-MPI cases. It would be better to create a communicate target which hides both cases. Another benefit of

[2020-03-09 15:12] prckent commented on #2330
@mcbennet @jtkrogel assuming that the weekend runs have not flagged a clear culprit, I have an additional request: compile the code without MPI and run on the smaller cell with OpenMP threads on one node only. The run should use exactly the same number of total walkers as the 4 node runs so that it can be directly compared. This will rule out any problems with either our MPI implementation or that

[2020-03-09 16:14] jtkrogel commented on #2330
The weekend runs have not flagged a clear culprit, however we do have some new information:

1. Running with a larger intermediate timestep magnifies the effect (much larger bias in the following small timestep run), making it easier to study the effect and/or look for it in other systems.
2. The magnitude of the effect can vary greatly with different initial seeds (one run might show a large effe

[2020-03-09 16:28] ye-luo commented on #2330
@jtkrogel could you provide the DMC input sections and the full printout of QMCPACK corresponding to your run with two time steps?

[2020-03-09 16:35] mcbennet commented on #2330
@ye-luo attached here
[equil_strategy.tar.gz](https://github.com/QMCPACK/qmcpack/files/4307828/equil_strategy.tar.gz)

[2020-03-09 16:57] ye-luo commented on #2330
@mcbennet Could you rerun the one_ts and two_ts with warmupSteps=1000?

[2020-03-09 17:05] mcbennet commented on #2330
Yes, I can have a look at that.

[2020-03-09 17:19] prckent commented on #2330
Interesting results so far. Can you confirm that locality approximation shows the problem? I suggest focusing on it since all the different QMC codes have it implemented consistently.

[2020-03-09 18:00] mcbennet commented on #2330
It is present also when LA is used.
![la_transient](https://user-images.githubusercontent.com/1430804/76243146-3ebf2580-620e-11ea-8fd5-48cc8d282fb5.png)

[2020-03-09 19:41] #1775 closed

[2020-03-09 19:43] kryczko commented on #2163
@markdewing could you possibly help out here?

[2020-03-10 12:11] mcbennet commented on #2330
@prckent we have confirmed that the bias is still present when running without MPI. Additionally, this test was run on a separate machine which rules out the issue being "CADES" specific.

[2020-03-10 19:06] mcbennet commented on #2330
@prckent No noticeable differences in the trace of the acceptance ratio or the histogram (other than the two-timestep case looks non-symmetric and weighted to the right -- due to shifting average). Histogram shown below in a.u.

![hist](https://user-images.githubusercontent.com/1430804/76349533-91691200-62e0-11ea-8fbe-08cbbf813807.png)

[2020-03-10 19:37] prckent commented on #2330
Thanks. I don't see anything alarming here.

[2020-03-12 13:36] mcbennet commented on #2330
For the last couple of days, I have been searching for this issue in other versions of the code (I originally ran with 3.8.9). Plotted below are a number of those runs. Signs are now pointing to the issue being a bug and not a feature. Additionally, it looks like 3.7.0 and 3.8.0 are perhaps bug free.

I have other runs that are coming down the pipe that use 400 blocks (400b in figure) for all the

[2020-03-12 13:47] jtkrogel commented on #2330
It is reassuring to see that all of the releases are OK when using a single timestep.  It is also good to see that only the most recent 3.9.1 release has the two timestep bug.  This strongly limits the impact of the bug in the wild.

[2020-03-12 13:49] jtkrogel commented on #2330
A search to corner the bug from here should be straightforward.

[2020-03-12 16:26] prckent commented on #2330
For once, a bug like this is good news.

The hand-off between DMC blocks is presumably bad, and this area of the code was indeed refactored.

I suggest to make (and commit) a few step deterministic test with multiple DMC blocks. We have existing deterministic tests for DMC. Presumably old versions will pass this new test but not the current development version.

(Note that v3.8.9 is a random devel

[2020-03-12 17:05] mcbennet commented on #2330
For future reference, the commit hash corresponding to the 3.8.9 build I used was `25fddfc`.

[2020-03-12 19:08] mcbennet commented on #2330
After searching through the commit history, I am seeing that #1759 (3.8.0) is bias free while the next merge, #1704, contains the bias.

The baseline energy that I see when running with a single timestep is:

E_correct = -449.350880 +/- 0.001515

The following energies correspond to the smaller timestep of a two-timestep run for the relevant commits:
E_1759 = -449.351889 +/- 0.001466
E_1704 = -449

[2020-03-12 19:13] jtkrogel commented on #2330
For reference, as commits, these are:
[code]

[2020-03-12 19:15] jtkrogel commented on #2330
Assigning this to @PDoakORNL and @ye-luo.  Anyone can feel free to change this if in disagreement.

[2020-03-12 19:22] camelto2 commented on #2330
So briefly staring at the code, a major difference between (other than the refactoring) #1759 and #1704 is that in most of the drivers, the resetComponents was removed. I haven't checked to see if the functionality was reimplemented elsewhere, but resetComponents seems to have been called when reusing a driver in a subsequent run, which would be relevant here

[2020-03-12 20:09] prckent commented on #2330
It would be best for a deterministic test to be added by whoever has these different versions already compiled.

[2020-03-12 20:38] jtkrogel commented on #2330
We apparently already have a deterministic DMC test with varying timesteps.  See #1764 by @Hyeondeok-Shin .  This test was added immediately following the introduction of the bug (2 days later), but used v3.6.0 to make the test.

If it really used 3.6.0 and the test is currently passing (did not check), then a deterministic test of this type might not be sufficient.

[2020-03-12 20:41] jtkrogel commented on #2330
See also #1738.

[2020-03-12 20:43] Hyeondeok-Shin commented on #2330
As @jtkrogel  pointed out, we already have multi DMC section deterministic test for diamond. I'm
now testing with this input but using t-moves on the different versions, but this test is passing with 3.6.0, 3.7.0, 3.8.0, and 3.9.1. It seems hard to find that bug just for a few blocks for the deterministic test.

[2020-03-12 21:11] Hyeondeok-Shin commented on #2330
I think bug can be reproduced in the deterministic test with larger drop of the time step.
It is hard to find with the time step change with 0.02 -> 0.01 -> 0.005, but if I do with 0.5 -> 0.005, DMC total energy reference on 0.005 becomes,

3.6.0 : -10.44060255
3.7.0 : -10.44060255
3.8.0 : -10.44060255
3.9.1 : -10.60770742

I'll make the test with the references.

[2020-03-13 13:08] jtkrogel commented on #2330
Really interesting that the error shows up this way with timestep.  Likely this means that the probability that a given walker trajectory is affected by the bug scales with timestep, i.e. most trajectories are fine at lower timestep jumps but not at larger ones.

It might implicate a changed threshold at 955fb6c0a, such as the timestep dependent thresholds that appear in `max` functions in the bra

[2020-03-13 16:04] jtkrogel opened #2341 "No safeguard for oversize orbital counts"
QMCPACK currently crashes hard when more orbitals are requested in a determinant than are present in the ESHDF file.  It should abort with a warning instead.

This issue is currently catching new users and has caused delays in production calculations.

[2020-03-13 17:11] prckent commented on #2341
Please confirm if the following statement is correct:

For example, the user has modified the "size" entry in the determinant below, and the pwscf.pscf.h5 file (in this case) does not have sufficient orbitals.

[code]

[2020-03-13 17:47] jtkrogel commented on #2341
Yes.  It is more of a risk in spin polarized situations when there can be a degree of user choice/input, i.e. a too large spin polarization requested, resulting in `size` for the up determinant being larger than the orbital count in the file.

[2020-03-13 17:51] jtkrogel commented on #2330
I've just run @Hyeondeok-Shin's new test with AoS develop and it passes.

[2020-03-13 17:57] jtkrogel commented on #2330
SoA develop fails.  Both AoS and SoA develop pass the original multi timestep test.

[2020-03-13 18:34] prckent commented on #2330
Confirmed https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=bug-deterministic-diamondC_1x1x1_pp-vmc-dmc-lg_ts_sdj-1-1-2-totenergy&date=2020-03-13

[2020-03-13 18:48] jtkrogel commented on #2330
Chandler is running the original bug case on AoS develop.  It will be interesting to see whether the bug really is local to SoA.

At present, I don't have good ideas on how a bug could have been introduced in SoA under the refactoring in #1704 without also having created one in AoS.

[2020-03-13 19:06] jtkrogel commented on #2330
The above AoS pass is for the real code.  Complex AoS/SoA both fail.

[2020-03-13 20:21] Hyeondeok-Shin commented on #2330
@jtkrogel Different DMC reference on large time step between real/complex code seems older issue than the first SoA real code issue. I saw the same failure on 3.6.0 SoA/AoS complex build.

[2020-03-13 20:50] jtkrogel commented on #2330
Chandler and I are having some premonitions that the issue maybe more complex as well.  Chandler is currently running statistical tests of the original bug case across the following combinations: SoA/AoS, real/complex, 3.8.0/PR 1704/develop.

Hopefully this will add clarity.

[2020-03-16 19:01] naromero77 opened #2344 "QMCPACK.SETTINGS not track ENABLE_CUDA variable"
**Describe the bug**
Discovered this while adding CUDA support to AFQMC in the QMCPACK Spack package.

This is a really minor bug.

The qmcpack.settings that gets created in the `bin` directory does not track the ENABLE_CUDA variable which activates CUDA support in AFQMC. I am not sure if this is intentional or an oversight.

**To Reproduce**
Build QMCPACK v 3.9.1 with BUILD_AFQMC=1 and ENABLE_CUD

[2020-03-17 15:49] ye-luo opened #2346 "unit tests needed for RotatedSPOs"
As #2345, RotatedSPOs is gaining functionality but we need unit tests.
I think currently the LCAO + rotation is in production and thus we need a unit test to cover this.
@spinedaflores could you make one?
test_MO.cpp was for LCAO and we can create test_RotatedSPOs_LCAO.cpp.
Evaluation functions for energy and derivatives should be included.

[2020-03-17 16:55] mcbennet commented on #2330
I have performed stochastic tests for two different systems, the original bug case and diamond 1x1x1.

**Original Bug Case (Complex WF)**

Reference energy from one timestep (SoA and AoS agree): **-449.351323 +/- 0.001461**

Table below shows the energies for various versions/builds from a 0.002/Ha timestep after running at a 0.1/Ha timestep for 10 blocks. 1704 is the problem commit identified bef

[2020-03-17 17:44] mcbennet commented on #2330
After looking through the code last week, I notice that a call is not made to resetRun for the SimpleFixedNodeBranch when it is used for consecutive DMC sections. I modified 1704 to include this call and the preliminary results are as follows for the original bug case:

Reference energy from one timestep (SoA and AoS agree): -449.351323 +/- 0.001461

1704_Mod AoS LocalEnergy           =  -449.3533

[2020-03-17 18:01] jtkrogel commented on #2330
Interesting.  According to the SCO runs, a bug was introduced at 1704 for AoS, while SoA is incorrect for 3.8.0 and before.  From the vantage point of diamond, a bug is introduced at 1704 for both AoS and SoA.

Still worth trying to fix whatever bug was introduced at 1704 and then see what remains.

[2020-03-17 18:10] prckent opened #2347 "Converter tests failing with Intel2019.1 on oxygen due to spack openmpi contamination"
**Describe the bug**
Nightly converter tests appear to fail on oxygen with Intel ( https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=qe-atomO-polarized-no-collect-np-16-0-16-nk-1-0-1-scf&date=2020-03-17 )

The command line
[code]
indicates that cmake/ctest has picked up the openmpi mpiexec and not the Intel MPI one. OpenMPI v3 was never installed intentionally - it comes in as unwante

[2020-03-17 18:18] prckent commented on #2347
I'll work on this once the CI is fully restored. Rebuilding the spack packages loads the system.

[2020-03-17 20:20] mcbennet opened #2348 "CPU and GPU energies differ"
**Describe the bug**
I am seeing a discrepancy between VMC energies when using GPU and CPU code.

(GPU)  -1792.069 +/-      0.080
(CPU)  -1793.274  +/-       0.039

The system is 80-atom BM SCO.

**To Reproduce**
Steps to reproduce the behavior:
1. commit cf7e9bd4c1f3b27e162c402b5ce7c2e412347c9f
2. config/build_olcf_summit.sh is used to compile
3. Inputs and outputs for CPU and GPU runs are attach

[2020-03-17 20:45] jtkrogel commented on #2348
I'll just note that Tomohiro has seen similar issues but for a different system.

[2020-03-18 07:21] spinedaflores commented on #2346
Yes I will make the test

[2020-03-18 12:14] mcbennet commented on #2330
I see the following stochastic results for diamond with develop+modification mentioned above (DevMod).

![Energies](https://user-images.githubusercontent.com/1430804/76959484-0d221a80-68f0-11ea-9c09-b400e5fdcfca.png)

Also, for SCO, the modification appears to have resolved AoS.

One TS Ref: -449.351323 +/- 0.001461

AoS LocalEnergy           =  -449.350831 +/- 0.001897
SoA LocalEnergy           =

[2020-03-18 12:46] jtkrogel commented on #2330
Thanks Chandler.  So with your fix, diamond now looks clean with AoS/SoA, but there remains an additional (and possibly unrelated) bug in SoA, correct?

[2020-03-18 13:02] mcbennet commented on #2330
Yes, diamond looks clean to me. I am not yet sure however why my stochastic tests show failures for 1704 and Devel in AoS, but pass deterministic tests.

Also, SCO looks clean as well for AoS but SoA is still off. I do not know the nature of the SoA error in SCO.

[2020-03-18 13:11] jtkrogel commented on #2330
Good to fix the manifesting issue, anyway.  The remaining SoA issue was introduced prior to 3.8.0, right?  I guess a return to the bisection search with SoA should be revealing.

[2020-03-18 13:17] prckent commented on #2348
Thanks for reporting this. 80 atoms implies enough electrons that this would be a good run for GPU acceleration. Looking at cdash, where we test the CUDA version, I see more test failures than I would like for this version, but importantly the various solid state carbon diamond, LiH and NiO runs look to be OK. e.g. https://cdash.qmcpack.org/CDash/testDetails.php?test=7693162&build=108401 . The pro

[2020-03-18 13:25] mcbennet commented on #2330
Follow up regarding deterministic tests.

@Hyeondeok-Shin , I modified your tests by increasing number of VMC walkers to 20 then removing targetwalkers variables in DMC sections, i.e.,

[code]

After doing so, I see that this deterministic tests agrees with my stochastic tests

| Build | Test Result |
|------|------------|
| 380 AoS real | REF |
| 380 AoS comp | REF |
| 380 SoA real | REF |
| 380

[2020-03-18 13:29] jtkrogel commented on #2330
This is an important update to the deterministic test.  It's also consistent with the idea that only some trajectories (a subset of the phase space) are affected.

[2020-03-18 13:34] mcbennet commented on #2348
[code]

[2020-03-18 13:35] prckent commented on #2348
Ouch. So the wavefunctions are bad/different in some way - the kinetic energy disagrees. Implies bad orbitals, updates or jastrow gradients.

[2020-03-18 13:50] mcbennet commented on #2330
More observations worth noting regarding the above deterministic test.

1. For AoS, all versions agree for series 1 -- the intermediate timestep.
2. For SoA, 1704 and 3.8.0 agree for series 1 while Dev and DevMod disagree with 3.8.0 for series 1.
3. Dev and DevMod agree with each other for series 1.

[2020-03-18 15:08] prckent commented on #2330
Note that the VMC driver will round up the number of walkers to a multiple of the thread count. There is no way to change this because the existing VMC drivers require an equal number of walkers per thread, which makes sense from efficiency considerations although a route for more flexibility would be ideal. Therefore when specifying walkers you need to be careful about the number of threads that

[2020-03-18 15:13] mcbennet commented on #2330
For all of my tests of diamond 1x1x1, I have used 1 thread and 1 mpi task.

[2020-03-18 18:56] PDoakORNL opened #2350 "SOECPotential compiler warnings and incorrect copyright + authors"
**Describe the bug**
Following @ye-luo 's example we should use the `override` keyword when overriding a defined (i.e. not) `virtual ReturnType foo(...) = 0;` member function.

**To Reproduce**
Steps to reproduce the behavior:
1. build develop with llvm
2. cmake command
3. full program/test invocation command
4. Take a look at file.

**Expected behavior**
No compiler Warnings

**System:**
 - syste

[2020-03-18 21:04] camelto2 commented on #2350
I believe PR #2343 addresses all of the compiler warnings coming from SOECPotential. I add to that PR the copyright/author stuff

[2020-03-18 21:46] camelto2 commented on #2350
Maybe I can ask here since I don't see it documented anywhere or I've overlooked it.

Is the copyright year supposed to be updated every time a file is edited? Or does it stay as the year that the file was initially created?

There are other files that were create in relation to the SOECPotential, like SOECPComponent.h and SOECPComponent.cpp which were created in 2019 by Ray and developed by him a

[2020-03-18 22:15] ye-luo commented on #2350
The year should be consistent with the date when a file was touched for the last time.

[2020-03-18 22:18] camelto2 commented on #2350
ok. if that is the case then a number of them need to be updated to reflect some of the previous PRs for SO stuff. I'll update those and commit again

[2020-03-19 13:15] prckent commented on #2350
Good question Cody. For the spin orbit files that you are touching use the latest date as Ye stated above. For the developer list in all the SO files, please update them to make them correct to your knowledge. Since these are all recent files there should be few questions.

Commenting more broadly, we will need to take some advice on updating the headers and look at what some other large projects

[2020-03-20 20:36] aannabe opened #2352 "savetoqmcpack() bug"
**Describe the bug**
savetoqmcpack() function is not saving
[code]
if pyhon3 is used for open boundary systems. qmcpack will crash without these groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Release v3.9.1 and python3 environment
2. Use on open boundary system.

**Expected behavior**
When tested on Release v3.7 and python2 environment works fine.

**System:**
 - Nersc, Cori. Also t

[2020-03-23 12:31] xuzpgroup opened #2353 "Segmentation fault when running the example"
Dear all,

Now I am running the examples of "qmcpack_workshop_2019/day2_nexus/quantum_espresso/02_qe_diamond_dft_vmc".

When I run job for jastrow optimization, it returns as follow.

...
<parameter name="time_step" condition="au">3.0000000000e-01</parameter>
<parameter name="timestep" condition="au">3.0000000000e-01</parameter>
<parameter name="use_drift" condition="string">no</parameter>
<parame

[2020-03-23 14:01] ye-luo commented on #2353
It seems that you are using v3.4.0 which is more than two years old.
Please try most recent release 3.9.1 or develop.

[2020-03-23 14:04] prckent commented on #2353
Please can you try the latest release version (3.9.1) and also report which other runs & tests are successful or not. The attached run used v3.4.0. Thanks.

[2020-03-23 14:09] xuzpgroup commented on #2353
Dear Ye Luo,

Thank you very much for our suggestion.

Best,
Justin

[2020-03-23 14:10] xuzpgroup commented on #2353
Thank you very much for our suggestion.

[2020-03-23 14:14] prckent commented on #2352
Thanks. Hopefully this is a small missing update to NEXUS from the python3 transition.

[2020-03-23 15:11] camelto2 commented on #2350
Closed by #2343

[2020-03-23 15:11] #2350 closed

[2020-03-24 02:27] xuzpgroup commented on #2353
But When I use the example of diamond in the package of version 3.4.0, it also have  the same problem when I run qmcpack.

[log_diamond.zip](https://github.com/QMCPACK/qmcpack/files/4372800/log_diamond.zip)

[2020-03-24 07:29] xuzpgroup commented on #2353
It is OK when I use 3.9.1.
Thank you very much.

[2020-03-24 07:30] ye-luo commented on #2353
Glad to hear that.

[2020-03-24 07:30] #2353 closed

[2020-03-24 17:33] markdewing opened #2356 "Generic data structure for AoS vs. SoA layouts?"
Is there value in creating a generic 2-D data structure that can switch between AoS and SoA layouts while presenting a uniform interface?

The concrete place where this shows up is in creating batched versions of evaluation functions for parameter derivatives.
The current function (`TrialWaveFunction::evaluteDerivatives`) produces a vector of derivatives (`std::vector<ValueType>& dlogpsi`).  The s

[2020-03-24 18:58] prckent commented on #2356
The answer for now is, I believe, no. Are there cases where both layouts would be very useful other than for dealing with legacy?

For the optimizer the layout is not very sensitive, so we should use whatever requires the minimum amount of human effort for now. This could mean the batched code generating them in whatever the current layout needed by the optimizer is. The SoA CPU code does so succe

[2020-03-24 20:50] prckent commented on #2330
Does the discussion above still reflect the current status?

[2020-03-25 01:20] mcbennet commented on #2330
Some discussion has been continued within #2349. That WIP PR corresponds to the modifications that fixes AoS (mentioned above in present thread) -- though SoA remains broken.

[2020-03-26 13:04] jtkrogel commented on #2352
`savetoqmcpack` is not part of Nexus, though it is written in Python. @anbenali is the author.

[2020-03-26 13:08] jtkrogel commented on #2352
See https://github.com/QMCPACK/qmcpack/blob/develop/src/QMCTools/PyscfToQmcpack.py

[2020-03-26 15:20] anbenali commented on #2352
@aannabe
I am not able to reproduce your issue.
PyscfToQmcpack.py does not generate anymore KPTS_0 or Nb_KPTS since commit of May 2nd 2019...

Can you send me your pyscf input file, H5 file and PyscfToQmcpack.py (just to make sure)

Thanks

[2020-03-26 18:40] aannabe commented on #2352
I double-checked the inputs and it seems I used 3.7 binary for the newest PyscfToQmcpack.py which are incompatible with each other. Sorry for the trouble.

[2020-03-26 18:40] #2352 closed

[2020-03-30 12:26] mcbennet commented on #2330
For comparison purposes, I am sharing an analogous plot here to the diamond 1x1x1 figure above but for SCO. This again suggests an underlying issue with SoA while AoS appears clean for version 3.8.0, then a bias in #1704 and beyond. The suggested modification in #2349 again appears to remove the bias in AoS.

![Energies_SCO](https://user-images.githubusercontent.com/1430804/77911834-7c3c2f00-725f-

[2020-03-30 12:46] jtkrogel commented on #2330
OK, so #2349 is a fix for the bug introduced in #1704 to AoS.  SoA has a different bug that predates version 3.8.0.

Interesting that both bugs, introduced separately, affect the total energy in a similar way.

Would you mind running SoA with 3.6.0 and 3.7.0?

[2020-03-30 19:23] mcbennet commented on #2330
Submitted earlier today. Will prepend to the plot when complete.

[2020-03-30 20:11] #1007 closed

[2020-04-02 17:39] mcbennet commented on #2330
The discrepancy is also seen in 3.6.0 and 3.7.0

![Energies_SCO](https://user-images.githubusercontent.com/1430804/78280512-37c2c480-74e7-11ea-9862-43cfd5ed6e5a.png)

[2020-04-08 11:35] mcbennet commented on #2330
The following figure contains corrected SrCoO3 data. In my previous figure, all SoA builds corresponded to the development branch by mistake.

![Energies_SCO](https://user-images.githubusercontent.com/1430804/78779569-29ebc400-796b-11ea-9eeb-f1b5b2fc2824.png)

From the statistical tests here, we see that a bug was introduced in #1704 and the bug remains in the current develop branch. #2349 fixes t

[2020-04-08 15:40] #2237 closed

[2020-04-08 16:06] #1001 closed

[2020-04-08 21:19] jptowns commented on #985
I have taken a look at each of the s(k) estimators. Basically, they all do the same thing. The structure factor is held and handled by the ParticleSet, so all these estimators do is pull rho(k) out of the ParticleSet and writes it out.

Of the three, StaticStructureFactor is the simplest, and also it is the only one (after a cursory inspection) that writes a spin-dependent estimator.

I'd like to

[2020-04-08 21:27] rcclay commented on #985
I'm OK with this.  Alternatively, instead of adding the species resolved stuff into S(k), you could have an independent estimator that just spits out rho(k) for different species.

[2020-04-08 21:36] prckent commented on #985
Good idea to deprecate and delete the duplication.

Order would presumably be 3,4,5,1,2.