[2019-02-15 22:55] Paul-St-Young opened #1386 "Inconsistent twist directions between electron gas and einspline wavefunctions"
**Sympton**: electron gas momentum distribution n(k) is wrong at fractional twist (i.e. not 0 or 0.5)
**Direct cause**:  `MomentumEstimator::putSpecial` subtracts the twist vector from kpoint grid, whereas `HEGGrid::create_kpoints` adds the twist vector to the kpoint grid.
**Root cause**: einspline wavefunction puts negative sign in front of kgrid?

I found this bug when trying to calculate the mo

[2019-02-15 23:55] prckent commented on #1386
I agree with your intuition. We'll have to investigate how convoluted the spline wavefunction builder is though. There is also work going on with periodic Gaussians where this should be consistent.

Is anyone familiar with the twist vector handling in the splines?

[2019-02-18 14:57] jtkrogel commented on #1386
Wouldn't be surprised if it was a funny sign definition issue.

[2019-02-18 15:07] jtkrogel commented on #1386
Relationship between twist angle and phase in einspline:
[code]

[2019-02-18 15:41] jtkrogel commented on #1386
It looks like the sign is fixed once it is read in from h5, so probably the origin of the sign convention is propagated back into pw2qmcpack.

[2019-02-18 15:45] ye-luo commented on #1386
QMCPACK xml input twist for the splines is opposite to the QE input.

[2019-02-18 15:47] jtkrogel commented on #1386
@ye-luo Do you know where the inconsistency originates?

[2019-02-18 15:59] ye-luo commented on #1386
It was wfconvert and then carried over by pw2qmcpack if I remember correctly. @lshulen could you confirm?

[2019-02-18 16:44] anbenali opened #1388 "Cusp Correction AoS to SoA inconsistency (leading to "crazy" variance with SoA)"
CuspCorrection between AoS and SoA do not match. CuspCorrection parameters generated using AoS give a large variance but still "possible", parameters from SoA lead to a "crazy" variance.

Files can be downloaded from here:  https://anl.box.com/s/g1gba5hbmwv0laj83dfthlwidh79ntv7

keep in mind that the AoS version can only run the cuspCorrection (not the VMC) since the multideterminants are stored i

[2019-02-18 16:47] jtkrogel commented on #1388
By "possible" do you mean better than what is gotten with a short-ranged cusp-containing J1 (and no orbital cusp correction)?

[2019-02-18 16:52] anbenali commented on #1388
By Possible it is just a bad variance but it is linked to a bad initial
guess for the electrons... (OH-----O2) with 10A distance between the 2
molecules and QMCPACK puts 2 electrons up in the middle of the system. So
the "bad variance" might be due ti the wrong initial guess and the
unability of the system to balance correctly... I will open another issue
with the same system to deal with this iss

[2019-02-18 17:00] anbenali commented on #1388
Note that there is no Jastrow in purpose to not have any "interference".

Also, note that the values of the CuspCorrection parameters affect significantly the kinetic energy.

[2019-02-18 17:01] prckent commented on #1388
Does this bug persist when the molecules are close to each other?

Please give more details:
What system is this meant to be?
Are either of the molecules charged/meant to be charged?
What is the generating code and basis?

[2019-02-18 17:02] jtkrogel commented on #1386
So is there just a line somewhere in pw2qmcpack where we can apply a sign change to fix this?  Any anticipated consequences to just changing the sign in the converter so QE and QMCPACK will match?

[2019-02-18 17:06] prckent commented on #1388
Are the wavefunctions extended enough across the 10A gap that  standard QMC algorithms would have a chance to equilibrate and converge?

[2019-02-18 17:15] anbenali opened #1389 "Bad Kinetic Energy when 2molecules separated by large distance (multidets)"
In the multideterminant case, Two molecules separated by 10A (OH---O2), with 14 spin up and 11 spin down. If electrons put manually, the kinetic energy goes crazy and gives NaN on most HPC.

Files can be found: https://anl.box.com/s/g1gba5hbmwv0laj83dfthlwidh79ntv7

Note that this is not the case for Single determinants calculations.

[2019-02-18 17:23] anbenali opened #1390 "Bad Variance in LCAO code for single det calculation after long run"
Energy starts diverging after long runs (or large number of walkers) with unexplicable behavior.

This is the test case from Ken Jordan.

https://anl.box.com/s/64if0d8tuwonibaifbzgjgcpnrudq2un

[2019-02-18 17:45] anbenali commented on #1388
The molecule is HO3. It is a molecule found in high combustion Chemistry. The point is to study the barrier height from HO3 -> OH+O2.

Molecules not charged.

Used Gamess and cc-pvtz for HF then CIPSI for the multideterminant. Pyscf and QP give exactely the same WF for HF. CIPSI calculations started for the 3 different WF lead to same answer. Also tried CIPSI with B3LYP then tried with QMCPACK and

[2019-02-18 18:10] prckent commented on #1389
All electron or not?
Working when the molecules are close or not?

[2019-02-18 18:12] prckent commented on #1390
Please can you give full details of the run: what is the molecule, basis, electron count, generating code etc.

[2019-02-18 18:15] jtkrogel commented on #1390
The correspondence between long runs and large walker count strongly points to this being a sampling issue rather than error accumulation.  Likely there is a small part of phase space that when sampled reveals the bug.

[2019-02-18 18:42] prckent commented on #1390
<img width="1155" alt="image" src="https://user-images.githubusercontent.com/13683814/52970245-25d49f80-3381-11e9-83a2-526fece18759.png">

Besides the "failure" beyond >6000, notice that poor behavior manifests earlier - a few outliers around ~2000, and the region around ~4000 that the run seems to recover from.

Interestingly the initial acceptance ratio is reasonable across the entire run, even

[2019-02-18 19:02] jtkrogel commented on #1390
The acceptance ratio and potential energy are stable throughout the run.  The divergences at ~2000, ~4000, and >6000 are all in the kinetic energy.  The sampling (determinant updates) and wavefunction value are therefore likely fine.

The problem is in the wavefunction derivatives, at least the laplacian.  The run was done without drift and the first order derivatives could be qualitatively checke

[2019-02-18 19:18] jtkrogel commented on #1389
Is this issue just demonstrating the bug with manual electron coord specification?  If so, the single det input file does not manually place the electrons.

If this issue is meant to demonstrate something to do with the separation, then I can't see much of an issue based on the 10 block runs included here (with the exception of MSD with manual positions).

[2019-02-18 19:24] jtkrogel commented on #1388
@anbenali Please can you provide outputs much longer than 10 blocks (~10000)?  While there is clearly a problem with the variance, the lack of statistics makes it hard to meaningfully compare the outputs beyond seeing that there is a problem with the variance in SoA.

[2019-02-18 19:25] prckent commented on #1390
Thanks for looking in more detail @jtkrogel . I agree. Printing bad/interesting electron positions would be helpful e.g. is one far away?

Should we be suspicious of the numerical gridding of the Gaussians? I believe the cusp correction code is sadly dependent on numerical orbitals being used (transform=yes). If this is true one could still use larger and finer grids. However, despite my concerns

[2019-02-18 19:27] jtkrogel commented on #1390
@anbenali Is this output for AoS or SoA?  Is the problem specific to either build?

[2019-02-18 19:55] anbenali commented on #1390
So this is an SoA run but we see the same behavior with AoS.
The molecule is CH3CN with more diffuse functions for the Carbon atom. note
that if you use normal amount of orbitals for the Carbon you don't see this
behavior. Hence the possible issue with the grid size.

despite my concerns and suspicions, the default magic numbers for the grids
appear to have been sufficient to-date.
So far I have h

[2019-02-18 20:02] prckent commented on #1390
(Since putting the orbitals on a numerical grid is a QMCPACK runtime optimization unrelated to the specification of the wavefunction, it is unfortunate that it is specified in the HDF5 file...)

[2019-02-18 20:08] prckent opened #1391 "Cusp correction should be independent of basis set"
The current cusp correction implementation requires (1) gaussian basis sets and (2)  the orbitals described by these basis sets are put on a numerical grid (transform=yes). Since transform=yes introduces an approximation, the implementation should be independent of this latter setting and ideally totally independent of basis set. This is a plumbing/design issue because the cusp correction algorith

[2019-02-18 20:16] anbenali commented on #1389
All electrons

Yes working when molecules close.

specification? If so, the single det input file does not manually place the
electrons.
The manual input of electrons only fails with multidets. (more sensitive)
The single determinant is to show that single det have no issue. Multidets
is the one to blame.

On Mon, Feb 18, 2019 at 1:18 PM jtkrogel <notifications@github.com> wrote:

--
-------------

[2019-02-18 20:17] anbenali commented on #1388
Machines at Argonne down for Maintenance for the day. Will upload longer
runs at the end of the day.

On Mon, Feb 18, 2019 at 1:24 PM jtkrogel <notifications@github.com> wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 252-0058

[2019-02-18 20:20] anbenali commented on #1390
This "feature" can be easily removed from the HDF5. when the HDF5
implentation was made we never thought to test the grid.  it was always
assumed to be "enough". If/when it is demonstrated that it is responsible
of the bugs, we might try to just think of an automated algorithm that will
find the best grid automatically instead of putting it by hand.

On Mon, Feb 18, 2019 at 2:02 PM Paul R. C. Kent

[2019-02-18 20:25] jtkrogel commented on #1390
The inputs you provide are in xml format, so in addition to the abort+print+debug I mentioned, whoever picks this up should just try increasing the number of grid points first, which would presumably result in a better quality representation for the diffuse functions.

I.e. replace
[code]
with larger cutoff (rf) and more points (npts) everywhere in the input xml and see if the problem persists.  T

[2019-02-18 20:30] anbenali commented on #1390
agreed.

On Mon, Feb 18, 2019 at 2:25 PM jtkrogel <notifications@github.com> wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 252-0058

[2019-02-18 20:51] jtkrogel commented on #1389
What are the ground state multiplicities (really want nup/ndown) of HO3, OH, and O2?

[2019-02-18 21:08] anbenali commented on #1389
HO3 multiplicity of 2 (13 up 12 down)
OHO2 multiplicity of 4 (14up 11 down)

On Mon, Feb 18, 2019 at 2:51 PM jtkrogel <notifications@github.com> wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 252-0058

[2019-02-18 21:20] jtkrogel commented on #1389
What is the expected multiplicity of the separated OH and O2 molecules?

[2019-02-18 21:22] anbenali commented on #1389
2 and 2

On Mon, Feb 18, 2019 at 3:20 PM jtkrogel <notifications@github.com> wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 252-0058

[2019-02-18 21:41] jtkrogel commented on #1389
In order to get this right, QMCPACK has to place 5 up/4 down on OH and 9 up/7 down on O2.

I don't see how we can count on this in general since we do not provide any such information as input (unless of course it is in the form of initial electron coords).  As such, I would expect the single det run to show the same problem (bad starting coords) with enough reruns.  Overall, I don't see how this

[2019-02-18 22:17] anbenali commented on #1389
I completely agree.  you can modify the code to allow for giving the
coordinates of the initial guess of the electrons (for now only 10
electrons are printed). You can plot them and see that the initial guess is
to put 2 electrons in the middle of the bond which "increases" the chances
of sending the correct electrons where they are supposed to be. If you are
unlucky and they are sent to the wrong

[2019-02-20 15:16] prckent commented on #1389
Convergence:

There is a science issue here that should be mentioned: at sufficient separation standard QMC algorithms will show very long equilibration or even never equilibrate due to the inability to generate trial moves that move electrons from one molecule to the other. This is not necessarily the case here - presumably there is a little bit of electron density between the molecules - but the

[2019-02-20 15:22] prckent commented on #1383
Any luck with 1x1x1? i.e. When the phase is zero?

[2019-02-20 16:50] Hyeondeok-Shin commented on #1383
In 1x1x1, observables in real & cplx are not identical but they are closer to each other compared to 2x1x1. But KE is still failing with current tolerance.

i.e) local energy 2x1x1 vs. 1x1x1
2x1x1
Tests for series 0
  Testing quantity: LocalEnergy
    reference mean value     : -22.59701007
    reference error bar      :   0.00000100
    computed  mean value     : -22.59206540
    computed  error

[2019-02-20 18:58] prckent commented on #1383
Please can you commit the 1x1x1 tests? These are very close to being acceptable. Running them on more architectures might find some variation with e.g. maths library, optimization settings.

[2019-02-21 20:30] PDoakORNL commented on #1369
These are both expected behavior from the old school einspline c library.  We now assert on out of bounds values for UBSplines.  Of course you will not get the performance hit of checking or the safety unless you build in Debug. But ultimately this is something that should not be address in einspline but in a future C++ bspline implementation.

[2019-02-21 20:30] #1369 closed

[2019-02-22 20:43] ye-luo opened #1400 "Magic numbers used in grids"
Use this PR to track the magic numbers of grids used in the code.
1. When LCAOs AOs are transferred to quintic splines, a grid is used.
2. Cusp correction also uses a grid (for what exactly?)
3. Coulomb potentials are evaluated with cubic splines, a grid is used.
4. NLPP projector radial potentials are on a grid as well.

Please expand the list if you know anything not listed here.

[2019-02-22 21:01] prckent commented on #1400
There must be a best practice for this, e.g. all magic numbers are well named defines.

[2019-03-01 16:34] Paul-St-Young opened #1408 "nexus tile may duplicate atom position"
I have attached an example where nexus.Structure::tile produced a supercell with two atoms on top of each other. @jtkrogel do you see an easy fix for this?

I found a workaround by adding "use_ase" flag to tile(). May I PR this as a feature?
[code]

[tile.zip](https://github.com/QMCPACK/qmcpack/files/2920268/tile.zip)

[2019-03-01 16:55] Paul-St-Young commented on #1386
The `reduced_k` fields in the wavefunction hdf5 file is typically positive, which is consistent with QE convention. The sign change actually first happened in `EinsplineSetBuilderESHDF.fft.cpp:303`. Here is the surrounding excerpt:
[code]

Is it enough to reverse `EinsplineSetBuilderESHDF.fft.cpp:303` together with `
EinsplineSetBuilderOld.cpp:608`?

[2019-03-02 00:57] rcclay opened #1412 "Long Range Handlers Need Refactoring"
I think the way the long range handlers deal with different breakups, (i.e. for energy, force, and stress), is a mess (I'm to blame for this :P).  Basically, a single handler (lets take LRHandlerTemp) for example, is designed to do the breakups and simultaneously manage breakups for the energy, force, and stress.  Moreover, if I want to do some but not all of these breakups, I have to add more fun

[2019-03-03 18:13] dcyang opened #1414 "[WIP] solid helium"
Hi,
I'm trying to implement solid helium and got to the point where I added the Lennard-Jones potential, and two-body Jastrow functions for like-atoms (McMillan form).
[Note: The solids in the examples directory have frozen nuclei and moving electrons ... my case is different, with entire atoms as the fundamental particles.]

The problem I came to now is to correctly apply another Jastrow factor t

[2019-03-03 21:12] ye-luo commented on #1414
In your specialized one-body, define an internal mapping table, associate each moving He with one grid point He. J_AB is no zero only if He_A and He_B satisfy the mapping.

[2019-03-05 03:03] ye-luo commented on #1412
The idea of base class is to use virtual functions. virtual function cannot be templates functions.
The derived class is supposed to be template functions. Currently, LRHandlerTemp and LRHandlerSRCoulomb have a template parameter of the breakup basis which implicitly refer to the break up method used.
However, I only found LRHandlerTemp using LPQHIBasis and LRHandlerSRCoulomb using LPQHISRCoulombB

[2019-03-05 16:33] rcclay commented on #1412
The breakup basis is less important here than the breakup equations that need to be solved to get the breakup coefficients.  Basically, the equations you need to solve for energy, force, and stress differ by k-dependent weighting factors.  This is why LRBreakup.h has DoBreakup, DoGradBreakup, etc.  As it stands, LRHandlerTemp and LRHandlerSRCoulomb solve the same equations, they just populate the

[2019-03-05 17:35] prckent commented on #1408
Better to fix the bug in tile. This should never happen.

[2019-03-05 20:18] #1341 closed

[2019-03-05 22:34] Paul-St-Young commented on #1414
@dcyang if I understand correctly, you want to localize the He atoms to hcp lattice sites. If this is the case, then the `ionwf` may work for you out-of-the-box. Please search for "ionwf" in the manual.

[2019-03-05 23:56] rcclay opened #1422 "Cannot reproduce PySCF diamondC_Xx1x1-Gaussian-pp Workflow"
For the tests/solids/diamondC_1x1x1-Gaussian-pp and tests/solids/diamondC_2x1x1-Gaussian-pp test problems, running the pyscf scripts provided in "dft-input" fails to generate a properly populated h5 file that convert4qmc can successfully use.  I should mention that I used the current dev branch of PySCF, and the current develop branch of QMCPACK.  The issue seems to be a crash in this line:  https

[2019-03-06 01:09] prckent opened #1423 "QMCPACK does not abort when XML includes are misssing"
Running the oxygen atom lab 2, with unmodified example input, should generate an abort. Instead a SEGV occurs. The "I/O warning" should abort but does not.

/home/  ...  /qmcpack/labs/lab2_qmc_basics/oxygen_atom

[code]

[2019-03-07 01:46] prckent commented on #1422
Thanks Ray. @anbenali While the remaining 3.7.0 milestone tasks are somewhat aspirational, this is an important one to try to fix.

[2019-03-07 21:03] prckent opened #1424 "Updated tests for AFQMC code"
This is a reminder that we need to update and (re)activate at least a few nightly integration and unit tests for the k-point AFQMC code ahead of the new release.

[2019-03-08 18:35] jtkrogel commented on #1408
I'm looking at this now.  Apparently performing the shear operations to obtain the diagonal tiling can depend on the order in which you perform them.  I will explore whether an alternative based on row reduction and pivoting would do the right thing.

[2019-03-08 19:46] mmorale3 commented on #1424
We have unit tests that can test the kp code and the cuda code too, we mainly need to integrate them into ctest properly. We should be pushing something soon.

[2019-03-08 21:05] #1423 closed

[2019-03-11 17:32] markdewing commented on #794
The code in src/formic should probably not be formatted, since it comes externally.

[2019-03-11 17:55] prckent opened #1431 "unit_test_hamiltonian calls WaveFunctionComponent::evalGradSource"
The unit test invokes this function in the base class. This function should abort, but the abort is currently commented out so the test passes. The integration tests do not invoke this function. See #1430

[2019-03-11 18:15] markdewing commented on #1431
The call comes from test_ecp.cpp
PR #1395 added the line to the test that triggers the abort (Value3 updated with the call to evaluteOneWithForces)
It looks like #1359 added evalGradSource to the one body Jastrow, but not the two body Jastrow, which is where the unit test aborts.

[2019-03-11 19:34] jtkrogel commented on #1408
@Paul-St-Young, please see #1432.  Can you confirm that the fix works for you?

[2019-03-11 21:22] Paul-St-Young commented on #1408
Yes, I can confirm the problem is fixed. Please go ahead and close this issue once #1432 is merged.
Thanks!

[2019-03-12 12:58] jtkrogel commented on #1408
Resolved by #1432

[2019-03-12 12:58] #1408 closed

[2019-03-12 17:30] jtkrogel commented on #934
In regards to what might be special about the first DMC block, I noticed the following during some data analysis.

The number of walkers fluctuates little in the first block, and much more in other blocks:
![nwalkers_trace](https://user-images.githubusercontent.com/24547905/54221741-7b0c5880-44ca-11e9-81de-26b6eb55a2aa.png)

The weight varies even less (almost none) than the walker count in the fi

[2019-03-12 21:54] ye-luo opened #1436 "Naming rules for cmake flags and macros"
I found a list of cmake flags and macros with the following pattern
BUILD_XXX
ENABLE_XXX
HAVE_XXX
QMC_XXX
I'd like a consistent way to define new ones. The existing ones should not be changed.

1. BUILD_XXX, ENABLE_XXX, QMC_XXX can are cmake flags.
2. HAVE_XXX should not be user provided cmake flags but should be flags set by CMAKE internally.
3. BUILD_XXX, ENABLE_XXX are expected to be 1/0.
4. QM

[2019-03-13 13:59] jtkrogel opened #1440 "DMC LocalECP incorrect in GPU code on titan using CUDA 9.1"
Disagreement between CPU and GPU DMC total energies was observed for a water molecule in periodic boundary conditions (8 A cubic cell, CASINO pseudopotentials, Titan at OLCF, QMCPACK 3.6.0).  Issue originally reported by Andrea Zen.  Original inputs and outputs: [TEST_DMC.zip](https://github.com/QMCPACK/qmcpack/files/2961648/TEST_DMC.zip)

From the attached outputs, the VMC energies agree, while t

[2019-03-13 14:58] prckent commented on #1440
The local ECP kenel is one that is known to not be reproducibile between runs, i.e. is buggy. Something to do with walker and GPU thread/block count. Previously the differences have been small enough to be ignorable; this problem indicates it must be fixed.

You don't state explicitly, but is the non-local ECP term correct?

[2019-03-13 15:02] jtkrogel commented on #1440
The non-local ECP term appears to be correct.

[2019-03-13 20:42] jtkrogel opened #1443 "Weighting in scalar and dmc data files differ"
It has been noticed more than once that averages based on scalar.dat and dmc.dat files differ.  This is due to different weighting schemes used during accumulation of the data.

Let W(s,p) and E(s,p) be the weight and local energy of the p'th walker at MC step s.  The total population at step s is P(s), i.e. p in [1,P(s)] and the number of steps is S.  A block is a set of B consecutive steps, inde

[2019-03-13 20:43] jtkrogel commented on #1443
I had a discussion with @lshulen and @kgasperich over a year ago on this, so they may have some thoughts.

[2019-03-13 22:35] ye-luo commented on #1443
It is wired to me that in the code, the concept of total population and total population weight is mixed.
The code sometimes use the number of walkers after branching as the total population weight.
In principle, the rounding effect should cancel but I feel unsafe using it.
Instead, I'm thinking that all the statistics should be accumulated before the branching and taking account each walker's wei

[2019-03-13 23:02] lshulen commented on #1443
My general preference is along the lines of what @ye-luo wrote.  I'll go back and review your references to see it it changes my mind.

[2019-03-14 11:48] jtkrogel commented on #1443
What @ye-luo writes is essentially Umrigar 1993 eq. 19.

Also see Foulkes 2001 eq. 3.53 (https://doi.org/10.1103/RevModPhys.73.33), the line before transforming the integral into a sum.  In the absence of the limit, this defines a DMC energy at time t, or equivalently, at step s:

E_DMC(s) = int_R f(R,s)E(R) / int_R f(R,s)

In the limit of large population, this integral is exactly represented at

[2019-03-14 13:20] jtkrogel opened #1446 "Add reblocking to qmca"
It would be useful if qmca implemented the reblocking method outlined in https://doi.org/10.1063/1.457480.  This will be implemented sometime, but sooner if there is broad interest.

Add a comment or thumbs up if you want this feature.

[2019-03-14 16:17] zenandrea commented on #1443
Hi guys,
my opinion is that for each value of s, the E_dmc(s) defined by @jtkrogel in the first message
should have a weight:
W_step(s) = sum_p<P(s) W(s,p)
and the qmca tool should compute the weighted average, that is:
E_dmc = {\sum_s W_step(s) E_dmc(s) \over \sum_s W_step(s) }.

When the blocks (scalar.dat file) are instead considered, the weight associated to a block energy E_scalar(b) should b

[2019-03-14 16:26] ye-luo commented on #1443
@jtkrogel Actually I didn't understand the notion of `sum_p<P(s) W(s,p)` in your original note. Does it mean sum over p in P(s) instead of P(s) W(s,p) multiplied together?

[2019-03-14 16:31] zenandrea commented on #1446
Hi Jaron,
I really like the idea of having the reblocking into qmca.

It might be of help to consider that a python module to perform this kind of analysis has been already developed:
https://pypi.org/project/pyblock/
https://github.com/jsspencer/pyblock

It might be simpler to interface qmca with that rather than code it from scratch.

[2019-03-14 17:22] prckent opened #1449 "Test of MPC interaction needed"
This popular feature is untested. A variant of the diamond 1x1x1 test could be made.

[2019-03-14 17:42] prckent commented on #1446
Agreed. We need at least reblocking.

Note that a better algorithm for error analysis exists https://onlinelibrary.wiley.com/doi/full/10.1002/jcc.20746 that does away with blocks. This is also suitable for on-the-fly analysis.

[2019-03-14 19:58] prckent opened #1450 "Make SOA build the default"

[2019-03-14 20:02] prckent opened #1451 "Quantum Espresso v6.4 converter"
Now that QE 6.4 is available, the converter should be updated to support it.

[2019-03-15 10:34] jtkrogel commented on #1443
@ye-luo It means \sum_{p=1}^{P(s)} W(s,p).  GitHub would be much better w/ LaTeX support.

@zenandrea I should have been more clear about the population control correction factor.  In the above, I meant \Pi(s,Tp)=1, or Tp=0, which is a choice for Umrigar's mixed estimator without population control correction.

[2019-03-15 14:40] prckent commented on #861
Note: We intend to flip the default to SOA shortly, since nearly all common features are implemented and we have observed that some users are overlooking the performance benefits of the SOA code. If anything critical is missing, please update this issue and the checklist at the top.

[2019-03-15 14:42] prckent commented on #1260
Adding as a gating issue for v3.7.0 following discussions this week.

[2019-03-15 15:04] prckent commented on #1002
Duped by #1449

[2019-03-15 15:04] #1002 closed

[2019-03-15 15:05] prckent opened #1454 "MPC tests needed for short and long diamond 1x1x1"
Will close #1449 when completed.

(Creating this issue to capture the comment in #1453)

[2019-03-15 15:26] PDoakORNL commented on #1339
What we are talking about with function calls clang-format call bin-packing.
It's not very flexible i.e. it either goes to the max width or does one per line.
I prefer one per line to parsing several lines of max character width arguments but not enough to be a no vote.

Since @ye-luo is a strong BinPackArguments:true vote it's currently 1:0 to change this.

Thumbs up to change to true for remaind

[2019-03-15 15:41] ye-luo commented on #1339
@PDoakORNL I'd like to have BinPackArguments true but BinPackParameters false. Do you have any preference of BinPackParameters?

[2019-03-15 15:44] ye-luo commented on #1339
from `src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h` with `BinPackArguments=false`
[code]

[2019-03-15 16:40] prckent commented on #1236
@markdewing is there an "important" level of progress you would like to get to by 3.7.0 or should I move this to 3.8.0?

[2019-03-15 17:02] markdewing commented on #1236
@ye-luo raised the possibility of removing OOMPI w/o necessarily replacing the use of all the templates in CommOperatorsMPI.h.   It looks like OOMPI functions and data structures are only explicitly used in WalkerControlMPI.cpp in one function.     I'm looking at this, and if it works, being able to remove OOMPI would be a big step.

[2019-03-15 17:23] prckent commented on #1236
We have a couple of weeks before the actual release - I have updated the milestone to be less aspirational and more realistic. Removing OOMP would be great. Please can you comment here if - after spending enough time looking at it - whether it is doable for v3.7.0 or not.

[2019-03-15 17:28] prckent commented on #1450
Switch when #1260 implemented

[2019-03-15 18:42] prckent opened #1456 "QMCPACK workshop 14-15 May 2019"
See https://qmc2019.ornl.gov for full details

# QMCPACK USERS WORKSHOP 2019

14-15 May 2019
Oak Ridge National Laboratory, Tennessee

**Registration deadline: Tuesday 2 April 2019**

This 2-day workshop is intended for current users, developers and potential future users of the QMCPACK quantum Monte Carlo code. QMC methods are among the most accurate electronic structure methods, providing an imp

[2019-03-15 19:04] PDoakORNL commented on #1339
BinPackParameters will remain false I think we have broad agreement on that.

As far as the previously done directories, we have to format those directories again.  I was thinking I'd do the entire source tree once the incrementtals are done.  That way we will also pick up files that are added or deformatted during the formatting PR.

[2019-03-18 13:54] #1283 closed

[2019-03-18 15:01] ye-luo commented on #1315
This has been completed.

[2019-03-18 15:01] #1315 closed

[2019-03-18 19:53] #1424 closed

[2019-03-19 21:16] prckent commented on #1440
To save time debugging this, for the next 3 weeks the necessary pwscf file is at
<https://ftp.ornl.gov/filedownload?ftp=e;dir=WATER>
Replace WATER with uP24qpBh6M3N

[2019-03-19 21:24] prckent commented on #1440
I did some VMC experimentation. On a single Kepler GPU with a fixed seed and either 1 or 320 walkers, I was able to reproduce the previously noticed non-determinism with just a few moves. i.e. Multiple runs of the executable generate slightly different results. From this short run and my current inputs we can't say if the energies are "bad" but the local electron ion and electron-electron terms ar

[2019-03-20 15:15] prckent commented on #1440
VMC runs with 320 walkers are essentially the same, i.e. no 0.3 Ha shift.

All inputs and outputs from test including wavefunction: https://ftp.ornl.gov/filedownload?ftp=e;dir=ICE
Replace ICE with uP21fJWh6csV

[code]

[code]

[2019-03-20 15:49] prckent opened #1464 "VMC sets walker count to multiple of number of threads without warning"
I hit this while testing prime numbers of walkers in the GPU code. The GPU code will correctly run with the number of walkers read from the input. However, the CPU implementation will currently run modulo the number of threads, e.g. walkers=1025 in the GPU code will use 1025 walkers, while a CPU run with 16 threads will use 1024 walkers. It does this e.g. without printing any warnings. What is act

[2019-03-20 15:59] jtkrogel commented on #1464
An abort is too strong for this IMO.  The rounding to number of threads is efficient and hence beneficial to users generally.

I think we should document this as default behavior and add a user override (round_walkers="no"?) for the less typical case where one must be able to demand an exact number of walkers (like comparative testing).

[2019-03-20 16:35] ye-luo commented on #1464
I think we need to start with default walker 0;
If not specified in the user input, override it to the number of threads. Otherwise, respect user input.

[2019-03-20 16:37] ye-luo commented on #1464
walker(should be rename to walker_per_rank) should be hide from user as much as possible.
Users should specify total population size.

[2019-03-20 16:54] jtkrogel commented on #1464
I agree with this (at least for VMC): "If not specified in the user input, override it to the number of threads. Otherwise, respect user input."

The default (no input) in VMC should be 1 walker per basic processing element (whether thread, gpu, group of threads, or something else).

We need ways to specify either (exclusively) the total number of walkers or the number of walkers per basic process

[2019-03-20 17:40] prckent commented on #1464
Perhaps we fix this when we introduce new keywords that include the normalization explicitly? (total_num_walkers etc.) Then by default, as per @jtkrogel  comment above, we have (1) a standard automatic route, where the user does not request anything and the code chooses appropriately, (2) a route where what the user requests is respected and the code aborts for any unsupported settings.  This make

[2019-03-20 18:49] prckent commented on #1440
@jtkrogel where and how were you able to produce the cpu-gpu energy shift? machine, qmcpack version, software versions, node/mpi/thread counts etc.

[2019-03-20 19:12] jtkrogel commented on #1440
The results are from runs performed by Andrea Zen (@zenandrea) on Titan with QMCPACK 3.6.0 on 4 nodes, 1 mpi task per node, 1 thread per mpi task (see files job_qmcpack_gpu-titan,  input_dmcgpu.xml, and out_dmcgpu in TEST_DMC.zip).

The build details, as far as I know, are according to our build_olcf_titan.sh script, but with changes to the boost and fftw libraries as follows:  boost/1.62.0 fftw/3

[2019-03-21 10:15] zenandrea commented on #1464
Hi all,
connected to this discussion, I was wondering what is the ideal number of walkers that I should use per gpu unit.
I saw in this report
https://asc.llnl.gov/coral-2-benchmarks/downloads/CORAL2_QMCPACK_vFeb13.pdf
that it is suggested to use 14 walkers per GPU in titan, as it equals "the number of SMs on K20X GPUs".

Do you think that
walker_per_gpu = SM_per_GPU
is the optimal choice, or shou

[2019-03-21 10:35] zenandrea opened #1467 "Failure of tests in Titan with either CPU or GPU"
Hi,
I have performed the ctests ( -R 'short|converter|unit' ) on titan for qmcpack-3.6.0,
compiled as indicated in the manual and for the cases of:
1) cpu_real
2) cpu_real_SoA
3) gpu_real

All of them pass the tests "converter-*" and most of the "deterministic-*"
The only failure is in "deterministic-unit_test_wavefunction" in the case 2.

Concerning the tests "short-*", there are several failed t

[2019-03-21 10:52] zenandrea commented on #1440
Dear @jtkrogel and @prckent,
almost everything as you told, but I used fftw/3.3.4.8, which is loaded as default.
I confirm that I compiled for real AoS code.

In particular, this is my compilations script:

[2019-03-21 14:34] prckent commented on #1464
@zenandrea  This is notthe optimal choice in general. It is system size dependent and also GPU dependent. Generally one should write a script to try a variety different walker counts, e.g. scaling up in factors of 2. A few steps/blocks of VMC provides a reliable enough timing in my opinion. Kernels have work varying as number of walkers * number of electrons or number of electrons^2, so larger sys

[2019-03-21 14:48] prckent commented on #1467
Frankly this sounds about right for the current state of the testing system. You'll see from other issues here on GitHub with the testing label and the nightly test results ( https://cdash.qmcpack.org ) that it is not possible for all these tests to pass currently - we have so many tests and build configurations that at least some of the short tests will fail stochastically. Additionally some of t

[2019-03-21 14:50] prckent commented on #1440
Thanks.  Nothing unreasonable in the above. It should work without problems.

FFTW would not cause the failures. If FFTW were wrong - and I don't recall a single case ever where it has been - the kinetic energy and Monte Carlo walk in general would also be wrong.

[2019-03-21 17:31] prckent commented on #1454
@Hyeondeok-Shin any luck with creating the reference data?

[2019-03-21 17:47] prckent commented on #1467
I followed your link and checked the results. There is nothing to worry about in my opinion
[code]

(Slow) SoA cpu build:
[code]
Numerical orbital check. You are not using this

(Faster) AoS cpu build:
[code]
Failure in orbital optimization, FDLR wavefunciton, numerical orbitals, and a derivatives check you are not using.

CUDA GPU:
[code]
These are all unimplemented features in v3.6.0 and still u

[2019-03-21 17:54] grahamlopez commented on #1467
We could consider starting to use things like [!mayfail], [!shouldfail], etc.

https://github.com/catchorg/Catch2/blob/master/docs/test-cases-and-sections.md#special-tags

[2019-03-21 18:00] prckent commented on #1467
This is what the test labeling effort is/was meant to address, but there has not been much progress recently due to bandwidth issues.

*All* our catch2 tests (unit tests) should pass 100% reliably, and nearly do. Yesterday we had only two failures over all build combinations: the utilities unit test fails with PGI18 (only), and a still new AFQMC matrix test is failing (https://cdash.qmcpack.org/CD

[2019-03-21 18:02] markdewing commented on #1467
I reproduced the CPU/SoA wavefunction unit test failure on Titan.  It seems to be some interaction between the unit tests - if I run them one at a time they pass.

[2019-03-21 18:16] Hyeondeok-Shin commented on #1454
@prckent Reference data for MPC were created and they are now in test in my side before making a PR. The PR will be made in late today or early tomorrow.

[2019-03-21 19:34] prckent opened #1468 "Description of how to choose walker count for GPUs needed in manual"
e.g. We have a "how to run efficiently/fast" section. This could be updated to cover GPUs.

[2019-03-21 19:37] prckent commented on #1468
(Users should  run a test vs number of walkers.  )

[2019-03-22 10:34] zenandrea commented on #1467
Many thanks for the feedback.
Can I ask a few of other questions (mostly because I am not familiar with how ctest works):

1) Is there a clever way to do all the tests in titan despite having a max walltime of 2 hours?
(I mean, maybe they can be broken in fragments, or I can continue from the test where they stopped?)

2) The command in my job-script is
ctest -D QMC_CUDA=1 -DCMAKE_C_COMPILER=cc -D

[2019-03-22 14:28] prckent commented on #1467
1. Please run ctest as described in the manual and do not build the code in the job on titan. Once you have built the code (cmake; make) you can invoke tests by running ctest. e.g. ctest -R unit in a job (only). The way you are invoking ctest right now will rebuild the code during the job. This performs very poorly on titan for various Cray and OLCF reasons, leaving very little time to actually ru

[2019-03-22 15:54] ye-luo commented on #1467
@zenandrea Make sure you specify -j 8 or -j16 with ctest to use all the cores for testing.

[2019-03-22 16:06] zenandrea commented on #1467
Dear @prckent,

concerning 1 and 2, I was expecting that I did not need to rebuilt, but I was obtaining many failures (also in the deterministic tests on the version AoS CPU version). That is why I ended up with rebuilding.
I have just discovered what was my mistake: I was not loading the cmake3 modulus into the running script when I was not rebuilding, but the default ctest version was 2.6-patch

[2019-03-22 17:32] prckent commented on #1467
Re:3. We tried on a workstation first since it is dramatically easier to work with. We suspected a simple CUDA bug, and this should have showed up there. Will try titan next.

[2019-03-22 17:34] prckent commented on #1467
Good to hear about the cmake module solution.

[2019-03-22 20:44] ye-luo opened #1473 "Real and complex disagree in deterministic test"
Currently, the deterministic test reference values are generated from the real code and the complex code failed. I did an experiment by rotating the phase of the orbital. The real code do change values but the complex code doesn't. It is suspicious to me that there might be a bug in the real code.

[2019-03-22 21:22] fdmalone commented on #1467
@prckent  is it possible to find the build configuration somewhere?

[2019-03-22 21:23] ye-luo commented on #1467
@fdmalone Titan build configuration is listed both in the manual and config/build_olcf_titan.sh

[2019-03-22 22:41] prckent commented on #1473
Which tests? Please be as specific as possible.

[2019-03-22 22:42] prckent commented on #1467
Quick note here that I have reproduced @zenandrea 's bug. Will comment further in #1440

[2019-03-22 22:54] prckent commented on #1440
I have reproduced this problem using the current develop version and with builds that pass the unit and diamond and LiH integration tests. I used the updated build script #1472 i.e. Nothing out of the ordinary.

Using 1MPI, 16 OMP threads and 0/1 GPU I have a 0.6 Hartree (!) difference in the DMC energies (series 2 & 3 below), while the VMC energies agree. The difference is in the local part of th

[2019-03-22 22:56] ye-luo commented on #1473
Deterministic integration tests are not labelled correctly as deterministic. It is in the nightly category now.
https://cdash.qmcpack.org/CDash/viewTest.php?onlyfailed&buildid=49206

[2019-03-22 23:39] prckent commented on #1440
Also worth noting that the DMC energy is *above* the VMC one...

[2019-03-23 18:21] prckent commented on #1473
I think what you are seeing is simply that these tests don't work yet. They are developmental and not production unfortunately. Fixing this needs real effort to be spent understanding the difference and then fixing them, not simply increasing the tolerance as some have suggested. Whikei would like to be wrong I suspect there is a subtle bug in at least QMCPACK's periodic spline handling.

[2019-03-24 02:06] fdmalone opened #1475 "Test failure of deterministic-unit_test_afqmc_matrix"
Opening an issue for the test failure noted in #1467. The test fails with gcc/8.2.0 on oxygen and I can reproduce with gcc/8.1.0 locally. The copy assignment on line 222 of AFQMC/Matrix/tests/test_csr_matrix.cpp seems to be causing the code to crash. Potentially a c++17 issue. Could you take a look @correaa

[2019-03-24 03:04] correaa commented on #1475
Are csr matrices being used now? I will be glad to work on it, but didn't
maintained in a while because I was told it is not a priority.

On Sat, Mar 23, 2019, 19:06 Fionn Malone <notifications@github.com> wrote:

[2019-03-24 05:30] fdmalone commented on #1475
The sparse code isn't the focus right now, but ideally the unit tests should pass always.

[2019-03-24 14:09] prckent opened #1477 "QE6.4 needed in nightly integration tests"
After #1457 is merged

[2019-03-24 14:10] prckent opened #1478 "Verify and update Summit QE6.4 recipe and documentation"
After #1457 is merged

[2019-03-24 17:15] #1451 closed

[2019-03-25 13:22] prckent commented on #1473
@jtkrogel What is the procedure for assigning the correct label to these tests?

[2019-03-25 13:33] prckent commented on #1454
Closed by #1470

[2019-03-25 13:33] #1454 closed

[2019-03-25 13:34] prckent commented on #1449
Completed. Thanks @Hyeondeok-Shin . Will need to monitor, assess and possibly improve if the code fails on certain builds or the tests prove "too unreliable".

[2019-03-25 13:34] #1449 closed

[2019-03-25 13:39] prckent opened #1480 "Broken mixed precision HDF5 converter tests"
Probably a trivial precision issue but should be checked carefully in case there is serious breakage. The failing tests are converter_test_HDF5_FeCO6 and converter_test_HDF5_LiH_qp.
Besides being important to check, these  tests are the ones blocking us from having an aesthetically pleasing "all green" set of converter checks.

<img width="1549" alt="image" src="https://user-images.githubuserconte

[2019-03-25 14:07] jtkrogel commented on #1473
I will label them over the next couple of days.  The labeling script needs a small update for this (originally meant to add descriptive labels to failure cases of statistical tests, now used for general labels).

I will post instructions for adding tests to the deterministic category as well as for adding new labels in the future.

[2019-03-25 14:12] #1343 closed

[2019-03-25 14:41] jtkrogel commented on #1473
I assume we just want pattern based labeling in this case (tests with names starting with "deterministic" are labeled as such) so we don't have to update any internal lists.

[2019-03-25 14:50] prckent commented on #1473
Pattern match would be simplest here and save work in future.

[2019-03-25 15:18] prckent commented on #1422
Any progress on this?

[2019-03-25 15:19] #1477 closed

[2019-03-25 15:54] prckent commented on #1440
Attempting to bracket the problem:
1. QMCPACK v.3.1.1 (August 2017) also has the error. i.e. It is not a recently introduced bug in our source code.
2. Using the lastest develop version but with no Jastrow in the wavefunction the bug persists.

Still puzzling is why our existing carbon diamond or LiH tests don't trigger this bug.

[2019-03-25 16:52] prckent commented on #1440
3. Using the BFD potentials from examples/molecules/H2O the problem persists. This rules out handling of CASINO format potentials. Again the DMC energy is above the VMC energy on the GPU while the CPU result appears OK.

[code]

[2019-03-25 17:54] prckent commented on #1440
4. Persists with no MPI, -DQMC_MPI=0

[2019-03-25 19:25] jtkrogel commented on #1473
See #1483.  Any deterministic tests added in the future will be labeled automatically.

If new labels are desired later on, the test labeling script (`qmcpack/tests/scripts/test_labels.py`) can be easily updated in the following way.

To add a labels for a new fancy test type, you can pattern match based on the test name as follows:
[code]

[2019-03-25 20:38] prckent commented on #1260
@rcclay Do you have an eta for this, or should we defer making SoA the default for another v0.1?

[2019-03-25 23:49] prckent commented on #1440
By varying the number of walkers I was able to break VMC (good suggestion by @jtkrogel ). The bug is back to looking like a bad kernel.

[2019-03-26 14:26] prckent commented on #1475
Yes, we would like to get to a point where the unit tests are always passing on all platforms for all builds.

[2019-03-26 18:00] prckent commented on #1440
The linked VMC test gives incorrect results on titan.
titan_vmc_only.zip 146.46 MB <https://ftp.ornl.gov/filedownload?ftp=e;dir=FRUIT>
Replace FRUIT with uP10HwMh8qGU

Puzzlingly, these same files give *correct* results on oxygen (Intel Xeon + Kepler + clang6 +cuda 10.0 currently). A naively incorrect kernel would give reproducible errors.

[2019-03-26 19:10] atillack commented on #1440
@prckent I can reproduce your numbers on Titan.

[2019-03-26 20:14] atillack commented on #1440
@prckent When I go back to Cuda 7.5 (using Gcc 4.9.3 and either an older version of QMCPACK) I get the correct results:

qmc_gpu  series 1
  LocalEnergy           =          -17.1716 +/-           0.0021
  Variance              =             0.490 +/-            0.017
  Kinetic               =            13.481 +/-            0.025
  LocalPotential        =           -30.652 +/-            0.025

[2019-03-26 21:09] prckent commented on #1440
@atillack Interesting. If you are using a standalone workstation with CUDA 7.5 (!), the question is whether you can break VMC by e.g. varying the number of walkers, or if running Andrea's original DMC case still breaks.

[2019-03-27 01:05] prckent opened #1488 "Update documentation to reflect SOA default"

[2019-03-27 01:51] #1468 closed

[2019-03-27 11:29] zenandrea commented on #1467
Dear @prckent,
I noticed a pair of aspects that I guess it is worth sharing (although maybe they were clear to users familiar with cmake).

1) following your suggestion I run tests without rebuilding during the job. I built the tests on the $HOMEPROJ directory in titan, then I copied the all qmcpack-3.6.0 directory into the $PROJWORK directory, and ran the tests. I had a lot of failed tests, and f

[2019-03-27 11:32] jtkrogel commented on #1440
@atillack Is there a specific build config + QMCPACK version you can recommend that does not display the problem on Titan?  This may represent a practical way @zenandrea can get correct production runs sooner.

[2019-03-27 13:43] prckent commented on #891
I believe that this has been solved in develop. Will reopen if not.

[2019-03-27 13:43] #891 closed

[2019-03-27 14:23] zenandrea commented on #1467
I am performing also the tests for qmcpack-3.6.0 on eos, for the four possible build:
[code]
First thing to mention:
the script `config/build_olcf_eos.sh` is not working,
as the default (and latest available) module version of boost is `boost/1.60.0`.
Thus, I dowloaded and installed boost version 1.69.0, and defined accordingly BOOST_ROOT.
Building the code in this ways works and most of the tests

[2019-03-27 15:14] ye-luo commented on #891
Fixed by #1403

[2019-03-27 15:16] rcclay commented on #1260
The safest thing would be to set the default for +0.1, since I'm bogged down with other projects for this week and next.  It should only take a few days for coding+debugging once I can get the time.

[2019-03-27 16:04] atillack commented on #1440
@jtkrogel QMPACK 3.5.0

Here are the modules I have loaded (for gcc/4.9.3, module unload gcc; module load gcc/4.9.3 after "module swap PrgEnv-pgi PrgEnv-gnu" works):

Currently Loaded Modulefiles:
  1) eswrap/1.3.3-1.020200.1280.0
  2) craype-network-gemini
  3) craype/2.5.13
  4) cray-mpich/7.6.3
  5) craype-interlagos
  6) lustredu/1.4
  7) xalt/0.7.5
  8) git/2.13.0
  9) module_msg/0.1
 10) mod

[2019-03-27 16:29] jtkrogel opened #1494 "OneShiftOnly should abort when cost function is provided"
The OneShiftOnly optimizer minimizes only the total energy and is not capable of variance minimization, or minimization of mixtures of energy and variance.

Additionally, the default cost function (0.9*energy+0.1*unreweightedvariance) is used by OneShiftOnly for reporting purposes to alert the user if the variance component is getting out of hand (reported cost function in log output is different

[2019-03-27 16:38] atillack commented on #1440
@prckent @jtkrogel I just looked into the Cuda 9 changeling and found this wonderful snippet:

PTXAS now includes a new option --new-sm3x-opt=false that allows developers to continue using the legacy back end. Use ptxas --help to get more information about these command-line options.

This at least may explain what is going on. I am not sure how to pass down this parameter to ptxas though ...

[2019-03-27 17:59] atillack commented on #1440
@prckent @jtkrogel Cuda 7.5 is still the temporary solution. The ptxas flag (-Xptxas --new-sm3x-opt=false can be put in CUDA_NVCC_FLAGS) only helps to get results halfway to the correct number on Cuda 9.1 on Titan:

qmc_gpu  series 1
  LocalEnergy           =          -16.9815 +/-           0.0021
  Variance              =             0.797 +/-            0.015
  Kinetic               =

[2019-03-27 18:30] prckent commented on #1494
Good point.

Is there not a more general issue of optimizers appearing to accept parameters that are actually unused?

[2019-03-27 18:41] jtkrogel commented on #1494
Yes, there is.  It's just that the cost function is presented as a general feature in the manual (see XML blocks there combining cost and OneShiftOnly), and so I fully expected cost to be compatible with OneShiftOnly.

The optimizer silently ignoring your request to optimize the variance is like DMC ignoring all walker input, i.e. it is a big enough issue to require its own fix.

[2019-03-27 18:43] atillack commented on #1440
@prckent @jtkrogel After talking with our Nvidia representatives, there is a code generation regression in 9.1 which is fixed in 9.2. So on Titan, it seems the only work-around is to use 7.5 for the time being.

If a newer version than QMCPACK 3.5.0 is needed some (minor) code changes are needed in order to compile with Cuda 7.5:
- lines containing cudamemadvise need to be commented out in QMCWave

[2019-03-27 18:47] markdewing commented on #1467
@zenandrea about question 1 - the tests are built around CMake/CTest, and as you found out, these do not work right when the build directory is moved.   It might be possible to make tests that can be moved, but that would likely require moving away from CTest.

I usually leave the source directory in $HOME, create a build directory in $PROJWORK, and build there with -DQMC_SYMLINK_TEST_FILES=FALSE

[2019-03-27 18:53] atillack commented on #1440
@prckent @jtkrogel Another data point. I also get correct results if the Cuda 9.1 toolkit is loaded when executing QMCPACK that was compiled with Cuda 7.5. This does seem to point to the code generation being the issue.

[2019-03-27 20:06] prckent commented on #1450
closed by #1489

[2019-03-27 20:06] #1450 closed

[2019-03-27 20:30] ye-luo opened #1499 "Need CI for ENABLE_CUDA"
We need a third CI configuration to test ENABLE_CUDA. It is basically replace QMC_CUDA with ENABLE_CUDA.

[2019-03-27 21:43] prckent commented on #1499
I suggest we get this working in the nightlies ahead of the CI

[2019-03-27 21:46] fdmalone commented on #1499
We also should enable afqmc with ENABLE_CUDA for complex and mixed precision builds.

[2019-03-27 21:48] prckent commented on #1499
@fdmalone Is there a preferred config? e.g. clang+cuda+mkl?

[2019-03-27 22:06] fdmalone commented on #1499
gcc+cuda. This is what is used for CI at the moment right? For Nightlies clang appears to be used as well, but a number of afqmc tests are failing currently due to file name changes. It's probably safer to leave afqmc out of it until after the release.

[2019-03-27 22:36] #1488 closed

[2019-03-28 00:59] anbenali commented on #1480
So I found the reason why this is failing.
The Atomic coordinates don't match after 10^-7 since the ParticleSet is defined as RealType and therefore will be half precision. The clean solution would be to keep the Atomic Positions as double but unfortunately we use   ParticlePos_t for both atoms and general particles (electrons etc.. ). Forcing the type to double would be risky as it propagates dee

[2019-03-28 01:02] ye-luo commented on #1480
h5diff allows tolerance -d or -p. We probably just need an appropriate tolerance.

[2019-03-28 01:41] anbenali commented on #1480
these options dont work but if I find the correct syntax it would be the best solution

[2019-03-28 01:48] anbenali commented on #1480
Yes this works.
I will push

[2019-03-28 03:21] #1480 closed

[2019-03-28 05:03] ye-luo commented on #1499
I checked ENABLE_CUDA + BUILD_AFQMC + QMC_COMPLEX both full precision and mixed precision pass all the unit tests.

[2019-03-28 14:03] prckent commented on #1494
Another way to implement this in OneShiftOnly would be to abort if the cost function is not pure energy minimization. This is an important restriction since it implies that if OneShiftOnly is similarly robust to other pure energy minimizers, then it should only be used from a reasonably good starting point.

[2019-03-28 14:09] ye-luo commented on #1494
It is funny that when proposing a new set of parameters, all the optimizers do energy minimization with linear method. After that, cost function is used to gate the final target. For me, this logic is broken but it can work to some extend.

[2019-03-28 14:15] zenandrea commented on #1494
Hi @jtkrogel and @prckent ,
I also find that the manual is misleading in this point.
Although the manual tells this:

I found the point very cryptical, especially in view of the fact that in the input example at page 124 of manual v3.6.0 there is the definition of the cost function and of MinMethod=OneShiftOnly.

I would find useful if the manual would provide some proper reference at the beginnin

[2019-03-28 14:37] ye-luo commented on #1494
For the CUDA build, it is still recommended ot leave gpu="yes". However I noticed that if you put gpu="no" the code will crash in some cases. We are working on a new GPU implementation in which both yes and no will be maintained and tested.

[2019-03-28 14:49] ye-luo commented on #1494
@zenandrea If you do not put Jastrow, does the VMC variance agree?
page 124 is misleading. It was intended to break up the long optimization input section and explain you briefly what each part does. If you go down to OneShihftOnly, you will see clear example blocks.
quartic was the oldest one. adaptive is for Berkeley. OneShiftOnly is from me.
You clearly see different flavours here.

[2019-03-28 15:38] zenandrea commented on #1494
@ye-luo Thanks for the quick response.
I am sorry but there is a point I do not get when you say

Do you mean that it is recommended to leave or do not leave gpu="yes" in the qmc attribute?

Then, let me check if I got the correct behavior reading the manual:
If I am running a CPU-only qmcpack version (ie, not compiled with CUDA) the flag is just ignored (because, clearly, it would be gpu=no).
If

[2019-03-28 15:50] prckent commented on #1494
Comment: the CUDA code largely ignores the gpu="yes" or "no" tag, and always uses the GPU.  In future this will be respected, so is worth including. While we want to do this ASAP, realistically the new GPU version is a long way off.

[2019-03-28 16:00] ye-luo commented on #1494
Leaving gpu="yes" or not in the input file doesn't matter really, just don't put "no". I did see runs crash if I put gpu="no" somewhere and ran the CUDA code.

Correct. This was intended originally to allow users select using GPU or not via input.
Unfortunately, this is no more well maintained and the CUDA build can only guarantee working gpu="yes" in every place.

Correct, this is the default as

[2019-03-28 16:56] ye-luo opened #1508 "New Nexus test failures"
https://cdash.qmcpack.org/CDash/viewTest.php?onlydelta&buildid=50013

[2019-03-28 17:08] zenandrea commented on #1494
@ye-luo many thanks.

You also asked the difference between QMCPACK and CASINO if I have no Jastrow.
I just made the VMC calculations.
* With CASINO I get (everything in au):
Energy: -53.4242(3)     Var: 9.73(2)
* And with QMCPACK:
vmc_cpu  series 1  -53.424455 +/- 0.000666    1.0   9.803351 +/- 0.081267    1.0   0.1835

It seems that the agreement is good.
But, with a 3-body Jastrow in CASINO I h

[2019-03-28 17:11] prckent commented on #1508
Something broke last night.

Note that several PRs went in yesterday, before and possibly also after the nightlies started.

[2019-03-28 17:12] atillack commented on #1440
@prckent @jtkrogel On Summit using Cuda 9.2 the correct results are also obtained:

qmc_gpu  series 1
  LocalEnergy           =          -17.1707 +/-           0.0020
  Variance              =             0.489 +/-            0.016
  Kinetic               =            13.480 +/-            0.025
  LocalPotential        =           -30.651 +/-            0.025
  ElecElec              =            1

[2019-03-28 17:20] zenandrea commented on #1440
Dear @atillack @prckent @jtkrogel
it seems very likely that the source of the issue was the cudatoolkit version 9.1.
Shall we ask the  OLCF's system administrators if they can install the 9.2 version?

Maybe there might be other packages other than qmcpack affected by this kind of problem!

[2019-03-28 17:24] prckent commented on #1440
@zenandrea Please ask - I am not sure that 9.2 will be installed given that Titan has only a few more months of accessibility, but other packages are certainly at risk. Are you able to move to Summit or is your time only on Titan?

This is a scary problem and I am not keen on recommending use of older software.

[2019-03-28 17:35] zenandrea commented on #1440
@prckent I have half the resources on titan and half on summit.
I'm going to ask straight away.

[2019-03-28 17:43] atillack commented on #1440
@prckent @zenandrea As Cuda 9.1's behavior was seen as mostly a performance regression, the Nvidia folks are looking at our kernel giving bad numbers under 9.1 to see if there's a possible workaround.

@zenandrea It's a good idea to ask but like Paul I am uncertain if this will happen in time to be useful. In the interim, with small code changes (see post above) it is possible to compile a current

[2019-03-28 17:52] prckent commented on #1440
I am still open to the idea that we have illegal/buggy code, and that different CUDA versions, GPUs, etc. expose the problem in different ways. However "bad generated code" is the best explanation given the established facts. What is so strange still is that all the difficult and costly parts of the calculation involving the wavefunction are correct.

[2019-03-28 17:57] prckent commented on #1508
Run by hand on oxygen
[code]

[2019-03-28 18:06] zenandrea commented on #1494
@ye-luo
Well, I suspect the optimizer is not minimizing the variance because, in output, I see this kind of stuff
[code]
where the cost function seems to be the energy, and not something related with the variance,
that I would like to minimize. This, despite my input was:
[code]

[2019-03-28 18:24] jtkrogel commented on #1508
If you run with "ctest -R nexus --verbose", do you see lines similar to this:
[code]
Note `nexus/library` rather than `nexus/lib`.

[2019-03-28 19:13] ye-luo commented on #1494
It is true. The adaptive optimizer is also targeting energy just like the OneShiftOnly.

[2019-03-28 19:14] ye-luo commented on #1494
If you only include 1 and 2 body, does the energy and variance agree between CASINO and QMCPACK?

[2019-03-28 19:16] ye-luo opened #1511 "Segmentation fault when using Casino PP"
It should be simple to fix.

[2019-03-28 19:25] jtkrogel commented on #1494
@zenandrea You could consider using the quartic optimizer.  It does respect the cost function (you can perform variance minimization with it) and it is still the primary optimizer that I use in production.

You could try optimization blocks like the following:
[code]

[2019-03-28 19:36] ye-luo commented on #1440
I have a solution to use 7.5 with the current QMCPACK. Will PR soon.

[2019-03-28 19:45] atillack commented on #1440
@ye-luo Thanks!

[2019-03-28 20:30] markdewing commented on #1467
I have found the cause of the wavefunction unit test failure - one of the tests does not clean up the wavefunction properly at the end of the test.  This is purely a unit test issue and does not affect the main code.

If you want to apply the change to the code to get to passing unit tests, the diff is
[code]

[2019-03-28 21:22] prckent commented on #1508
Works now
[code]

[2019-03-28 21:22] #1508 closed

[2019-03-28 21:42] prckent commented on #1511
Ugh. Any hints what is causing this? e.g. Andrea will have to use the AOS build or convert potentials until fixed.

[2019-03-28 22:21] ye-luo commented on #1511
I just tried the files from Andrea, SoA runs fine on my workstation. I need more clues for what is going on.

[2019-03-28 22:27] prckent commented on #1511
Crash on titan, summit?

[2019-03-28 22:50] ye-luo commented on #1511
It is on Titan. I'm asking Andrea to provide more info.

[2019-03-28 22:55] zenandrea commented on #1494
Well, no. But I guess it might be because I never performed a proper variance minimization in QMCPACK.
Now I am trying to optimize using quartic and the input suggested by @jtkrogel (many thanks for that).

With J2 and same cutoffs and number of parameters I get:

CASINO:
VMC #3: E     = -54.659(1) ; var  = 1.034(6) (correlation.out.2)

QMCPACK:
opt_cpu  series 9  -54.682430 +/- 0.002176    1.0

[2019-03-28 23:12] ye-luo commented on #1440
I failed to find a clean solution through the source because I need to hack cmake.
To enable our production needs, I'm making all the build variants and will put it in a place anyone can access.

[2019-03-29 04:16] ye-luo commented on #1494
I got the following:
OneShiftOnly:
-54.738030 +/- 0.001163   1.043964 +/- 0.008735   0.0191
quartic:
-54.735507 +/- 0.001377   1.034825 +/- 0.012227   0.0189
But I'm not sure if my orbitals are the same as yours.

[2019-03-29 04:19] ye-luo commented on #1494
I was running on 128 nodes of Titan with the following optimization blocks. I first optimize J1 and J2. Then J3 is included with empty coefficients (namely zero).
[code]

[2019-03-29 09:15] zenandrea commented on #1467
@markdewing thanks for the suggestion.
I was indeed rebuilding everything using your suggestion.
However, I faces another problem: the qmcpack directory became huge and I finished my quota in $PROJWORK.
I see that the directory `tests` became huge (16GB before crashing my building because quota was reached).
I guess this is a consequence of `-DQMC_SYMLINK_TEST_FILES=FALSE`. Am I correct?

[2019-03-29 09:22] zenandrea commented on #1467
@markdewing I was also using this other flag
`-D QE_BIN=/ccs/proj/cph005/QMCPACK/qmcpack-3.6.0/external_codes/quantum_espresso/qe-6.3_eos/bin`
which could be involved in this issue!

[2019-03-29 10:29] zenandrea commented on #1494
@ye-luo , are there the results for J123?
In the J123 case I get similar results in terms of variance, but my energy is slightly worse:
OneShiftOnly:
-54.720183 +/- 0.000793   0.973202 +/- 0.004048
quartic (cost=unreweightedvariance):
-54.717147 +/- 0.002450   0.985512 +/- 0.008854

Well, if our orbitals are different, a little difference in the energy can be expected.
Also, my results are obtaine

[2019-03-29 11:26] prckent commented on #1440
I'll note thank an initialization bug similar to #1518 could explain these problems.

[2019-03-29 12:09] jtkrogel opened #1519 "DMC unstable at long times"
I woke up to this beauty this morning:
![DMC_LocalEnergy_trace](https://user-images.githubusercontent.com/24547905/55229903-a09ca000-51f4-11e9-915f-11a8cb2e377a.png)

This is with Ye's build of QMCPACK v3.6.0 SoA complex on Theta in a pre-production DMC run of VO2 + oxygen vacancy (394 electrons).

The sharp change in the local energy is reflected in every energy term (except for ion-ion of course

[2019-03-29 12:28] zenandrea commented on #1511
@ye-luo @prckent
maybe not connected with the bug, but with the casino PP format:
in input I specify that I will use a casino PP in the following way
[code]
I wanted to point out that in the manual the attributes `lmax, l-local, nrule, cutoff` are mentioned but not really discussed. Although they can be guessed, I think it is worth to tell what `nrule` is.

Moreover, if it is not too complicated,

[2019-03-29 13:14] #1511 closed

[2019-03-29 13:28] prckent commented on #1519
How would we differentiate between a bug and a not good enough wavefunction?
Since this is a not a bulk cell, the wavefunction could be poor.

[2019-03-29 13:39] anbenali commented on #1519
Fantastic! You guys are finally seeing the same things I see in molecules!!!

On Fri, Mar 29, 2019, 08:28 Paul R. C. Kent <notifications@github.com>
wrote:

[2019-03-29 13:58] prckent commented on #1519
@anbenali Your previously reported issues have been for systems where it is likely the wavefunction is poor e.g. separated/separating molecules. Do you have problems like this way the wavefunction should be good, such as isolated closed shell systems? These would be easier to investigate than the 394 electron system here.

[2019-03-29 14:07] ye-luo commented on #1440
I checked. Un fiortunately #1518 is not related to this bug.

[2019-03-29 14:09] jtkrogel commented on #1519
@prckent Good question.  For VO2, we now have a great deal of prior calculations in both bulk and defective settings.  The variance/energy ratio is a fairly transferable indicator of wavefunction quality for atoms, molecules, crystals, and crystals+defects.

The current calculations have the same or better variance/energy ratios as prior ones.  The total energies for M1 phase + vacancy (current ca

[2019-03-29 14:15] jtkrogel commented on #1519
For reference, below is J2 optimization for a V-O dimer I ran a long time ago using PBE0 orbitals and the same pseudopotentials:
[code]

[2019-03-29 14:32] zenandrea commented on #1519
@jtkrogel
I think you are just observing an instability due to a walker going to close to the nodal surface.
Usually you can eliminate almost any instability of this kind by using T-move instead of the locality approximation, because in the T-move scheme the diffusion step is followed by the T-move step which can drive the walker away from the nodal surface where it can accidentally end up.
(Is th

[2019-03-29 14:41] jtkrogel commented on #1519
@zenandrea You might be right, and no there isn't a special reason to use LA (though some do prefer it generally).  IMO it would be best if our LA algorithm was stable for whoever wished to use it.  In past experience w/ QMCPACK I had not observed differences in stability w/ LA and TM.

I've sent off runs with T-move variants (and also a rerun with LA) to see if the issue persists across runs or l

[2019-03-29 14:47] zenandrea commented on #1519
@jtkrogel
I have not much experience w/ qmcpack, but w/ casino I have seen several cases where LA is unstable and TM needs to be used.
I mean, sometimes LA is instable, so you might be observing a bad feature of the algorithm, not a bug.

[2019-03-29 15:10] ye-luo commented on #1511
@zenandrea Indeed, the bug was exactly in the place where the cutoff is determined by scanning through the value of all the grid point. However, I think there is a numerical bug and the scanning stopped at the largest grid point because it already exceeds 1e-5 but it should not. I will take a closer look.

[2019-03-29 15:20] ye-luo commented on #1519
LA is unstable by itself. If your run hits stability issue, either using more accurate WF or turn on T-move. I don't think this is a bug. On the other hand, our branching scheme 'classic' is not strong enough. If one configuration goes bad and the branching propagate it faster than the rate at which Monte Carlo can cure, you will see a final break down. This is indicated by the plot of total weigh

[2019-03-29 15:24] zenandrea commented on #1511
@ye-luo
I had a look at where you corrected the code.
It seems to me that the code is not checking where local and non-local potentials deviates by more than the tolerance = 1.0e-5 from the −Z/r, but where the deviates from themselves.
I honestly do not understand how that can be useful.
Moreover, I do not understand what this `rc_check` ("Maxium cutoff for non-local pseudopotentials").
I mean, I

[2019-03-29 15:33] zenandrea commented on #1519
@ye-luo I agree with you.
Only a comment: ZSGMA (and YL, which I have seen is essentially the same as ZSGMA, with the variance obtained in realtime instead of an approximated pre-fitted one) will improve w.r.t. instabilities, but will not solve the issue completely with LA.

[2019-03-29 15:38] jtkrogel commented on #1519
I have noticed LA instabilities in CASINO before.  Identical runs in QMCPACK were stable.  We have run large-ish transition metal oxide systems with LA and QMCPACK before and not seen this problem.

[2019-03-29 17:09] prckent commented on #1511
@zenandrea I agree that the checks aren't helpful. They should also be independent of data source.

I think there are two radii of interest: when the local potential becomes purely Coulombic, -Z/r, and the radius when the non-local channels deviate from the local channel, necessitating the non-local integral be performed for electrons inside this radius.

[2019-03-29 17:10] prckent commented on #1511
We should discuss what is useful+wanted here and simply implement it.

[2019-03-29 19:14] atillack commented on #1440
@prckent The problem seems contained on Titan. Cuda 9.1 on Summit also gives the correct results:

qmc_gpu  series 1
  LocalEnergy           =          -17.1703 +/-           0.0020
  Variance              =             0.496 +/-            0.017
  Kinetic               =            13.479 +/-            0.024
  LocalPotential        =           -30.650 +/-            0.024
  ElecElec

[2019-03-29 20:02] markdewing commented on #1467
The QMC_DATA flag could also be an issue if you are using it - it points to input files for the NiO performance tests.    If you are using it, dropping it will save space.
The cause of the issue depends on which stage uses the space.  The flag to turn symlinks off will use space copying files during the configuration step.  The QE_BIN option causes the QE converter tests to run, and the intermedia

[2019-03-29 21:09] zenandrea commented on #1511
@prckent I totally agree with the two radii idea.
Indeed, I think a good solution could be to implement an automatic definition of the two radii that you described, for a `tolerance` that could be defined from input but has a reasonable default value of 1.0e-5. This would make the definition of `cutoff` useless (but maybe it could be kept for backward compatibility, with a warning that the `tolera

[2019-03-29 21:30] ye-luo commented on #1440
I put both v3.6 and 3.7 binaries at
/lustre/atlas/world-shared/mat189/qmcpack_binaries_titan
They should last till the retirement of Titan.

To workaround the bug in CUDA 9.1 which gives wrong results.
The following steps are taken to compile CudaCoulomb.cu with CUDA 7.5.
After building QMCPACK CUDA version,
1) From the build folder, cd src/QMCHamiltonians
2) find -name qmcham_generated_CudaCoulom

[2019-03-29 22:27] prckent opened #1523 "Outdated links in NEXUS manual"
Minor updates/spring cleaning:

The "Helpful Links" sections has some broken links
qmcpack.org/downloads ->qmcpack.org/releases
The user guide should link the PDF
wfconvert should perhaps be hidden

Possibly executable names of main applications and utilities also need updating.

[2019-04-01 13:52] prckent commented on #1519
In order to help distinguish this as a "feature" and not a bug it would be interesting to know of some successful "long" DMC runs.

@jtkrogel After how many steps/block and how many walkers does this go wrong? How long are the bulk VO2 runs in comparison?

@anbenali Can you categorize your successful and unsuccessful molecular runs?

I agree with the commentary about LA vs t-move above. I think th

[2019-04-01 14:38] ye-luo opened #1526 "verbose = high not printing all atomic positions"
Currently the code only prints 10 atoms no matter what verbose is.

[2019-04-03 12:43] jtkrogel commented on #1519
I can confirm that the issue is unique to LA in this case.  Other fairly large cases in the past (e.g. defects in ZnO) were run without any (reported) issues.  I've also never witnessed an LA instability in QMCPACK for transition metal atoms/dimers (have run lots of these with LA).

In the sense of the discussion above, this is a "feature" of LA.  However, QMCPACK's behavior is still buggy in this

[2019-04-03 12:47] jtkrogel commented on #1519
Discussion from this point on should be redirected around the new topic of focus.  If further discussion of LA vs. TM is desired, it should occur in a separate issue.

[2019-04-03 12:51] jtkrogel commented on #1519
Edited requested change in the description at the top: "QMCPACK should abort with a message about the diverging walker population instead of silently wasting computer time after the run has obviously failed."

[2019-04-03 13:48] prckent commented on #1519
Perhaps a max ratio of walkers to the target population could be used to indicate that the population control has failed. Should not trigger during the warmup/cool down phase.

[2019-04-03 13:56] jtkrogel commented on #1519
I agree.

This is what QMCPACK uses already as internal guardrails (if memory serves): population is not allowed to grow if current_pop > 2.0*target_pop, population is not allowed to shrink if current_pop < 0.5 target_pop.  The ceiling was hit here and you can see it in the # of walkers plot above.

Since the guardrails are active (population cannot get larger than max_pop = 2.0*target_pop, popula

[2019-04-03 13:59] jtkrogel commented on #1519
Alternately, just replace the enforcement of the guard rails with the aborts.

[2019-04-03 14:29] prckent commented on #1519
Yes, keep it simple. No need to introduce additional constants. The guard rails will need an input parameter to act as an override if there is not one already.

[2019-04-03 17:09] jtkrogel commented on #995
Resolved by #1509.  Closing.

[2019-04-03 17:09] #995 closed

[2019-04-03 18:16] prckent commented on #1052
Is this fixed by #1509 or are there still problems to be resolved?

[2019-04-03 18:24] jtkrogel commented on #1052
I will look into this soon.  I suspect it may be a real vs. complex issue.  The real orbitals are not orthogonal in general and might lead to the pattern in the 1rdm seen above.

[2019-04-03 19:28] prckent commented on #1052
Could we measure using a distinct complex-valued orbital set or an orthogonal real-valued set even with the real build?

[2019-04-03 19:41] jtkrogel commented on #1052
If the set of orbitals is orthogonal within QMCPACK, then everything should work fine.  I would prefer to require orthogonal orbitals within QMCPACK overall.

[2019-04-03 21:04] zenandrea commented on #1519
I have just a pair of observations:

1) I have never seen a case where the population size collapses.
I think that the only dangerous case is when the population becomes too large.
Thus, I think it is enough to trigger abort for large population.

2) Population fluctuations are, in relative terms, size dependent. I mean, if I study the same system with populations of different sizes I have fluctua

[2019-04-03 22:13] zenandrea opened #1531 "Rescaling of drift in DMC?"
I am wondering if the DMC algorithm implemented in qmcpack uses any rescaling of the drift in proximity of the nodes to avoid its divergence.
I cannot find anything about that in the manual.
I imagine that something similar to eq. 34 of Umrigar, Nightingale, and Runge JCP 1993 paper could be implemented.
However, there is a parameter `a` in Umrigar's rescaled drift that should be fixed.
So, if the

[2019-04-03 22:18] zenandrea opened #1532 "Pade form of Jastrow factor"
In the manual I can see that qmcpack implements also the Pade form of the Jastrow one-body factor.
The expression given in eq. 8.11 (v.3.7.0 of manual) seems  a little strange to me, as it diverges linearly for x\to\infty.
Is that correct?

[2019-04-04 02:44] Paul-St-Young commented on #1531
@zenandrea eq. 34 is implemented in `DriftOperator.h`. The `a` parameter is currently hard-coded to 1.0.

As far as I know, the last time the drift routines were touched was in PR #546 in response to issue #544.

[2019-04-04 08:32] zenandrea commented on #1531
@Paul-St-Young Many thanks for the quick answer.
Would it be a big trouble to introduce the possibility to enter the value of parameter `a` from input?

I am asking that because, around three years ago, Cyrus Umrigar suggested me and Dario Alfe to use a value of `a=0.5`, which is typically better than `a=1.0` (here better means better time-step dependence and stability). Our tests confirmed his cl

[2019-04-04 11:44] jtkrogel commented on #1531
It would not be hard to introduce this from input.  Suggestions for an input parameter name?  `drift_scale`?

[2019-04-04 12:27] zenandrea commented on #1531
What about being a little more specific, like `drift_umrigar_a` or `drift_unr_a`?

[2019-04-04 12:34] jtkrogel opened #1533 "evaluateHessian needed for J1/J2 SoA"
This is needed to support both Stress evaluation and L2 potentials.  Both are currently broken in SoA.  This issue was listed in #861, but did not have its own issue until now.

[2019-04-04 13:34] zenandrea commented on #1531
I am trying to understand what is performed inside `DriftOperator.h`.
I am not very familiar with C++, but I think I roughly got what it is in there.

I am not sure about a pair of points. Can somebody help me with them.

1) I was trying to check that the drift rescaling is always performed in a particle-by-particle way, as defined in eq. (3) of http://link.aps.org/doi/10.1103/PhysRevB.93.241118.

[2019-04-04 13:45] prckent commented on #1531
Extra comment: I seem to recall that the functions for modifying and defining drift are defined many times over to cope with different types and uses cases, as opposed to being defined once. It is also important that the CUDA code uses the same functions. If this discussion results in some improvements for the drift implementation (and other parts of the Greens function) and options for setting wh

[2019-04-04 21:15] #1499 closed

[2019-04-08 15:26] ye-luo commented on #1533
@jtkrogel close and update 861?

[2019-04-08 15:42] jtkrogel commented on #1533
Agreed.  Closing this issue as resolved by #1535.

[2019-04-08 15:42] #1533 closed

[2019-04-12 00:25] chrislzhao opened #1545 "SoA and AoS inconsistency of simple solid Jastrow parameter optimization"
In the simple LiH 1x1x1 unit cell, Jastrow parameter optimization with LM gives different results with SoA and AoS. The AoS optimized energy is 60mH lower than the SoA results, along with a 3-times-lower variance.

[inputs.zip](https://github.com/QMCPACK/qmcpack/files/3071114/inputs.zip)

[2019-04-13 19:02] ye-luo commented on #1197
OpenMPI 4 works with #1540

[2019-04-13 19:02] #1197 closed

[2019-04-14 17:25] ye-luo commented on #125
My experience in #1546 shows:
APP_ABORT can be safely called from every rank even if only one rank calls APP_ABORT. Unfortunately, if there were error messages sent to app_error (on rank 0), they might not be sent out when a rank!=0 stops the code first.
if the APP_ABORT is uniformly processed by all the ranks, it is better to use
[code]
All the error messages are guaranteed to be printed before t

[2019-04-15 14:06] markdewing commented on #125
Could this pattern be bundled into a function or macro, like APP_ABORT_ON_ALL_RANKS? or some other name?

[2019-04-15 16:27] ye-luo commented on #125
APP_ABORT itself is a brute force stop by calling MPI_Abort directly.
I don't feel it write adding `app_error() << msg` but I'd like to print the message one once.

I prefer to stop in a more clean way.
probably add Communicate::barrier_and_abort()?

[2019-04-15 18:51] markdewing commented on #125
Yes, that would at least combine the barrier and abort to make it easier to implement the guaranteed error output idiom.

[2019-04-15 23:02] #1545 closed

[2019-04-16 19:36] rcclay commented on #1260
This is closed by #1549 .

[2019-04-16 19:36] #1260 closed

[2019-04-17 15:45] ye-luo commented on #1531
@zenandrea
1. QMCPACK all the p-by-p drivers implements eq.(35) of Umrigar's JCP 1993. #1550 now allows you to change the `a` parameter
2. There are some all-p drivers (VMC/RMC) still use eq.(34) to modify drifts. We will move all of them over to the new framework I just added.
3. In my opinion, some terms of `a(r)` dependence in JCP 1993 is not general and the parametrization seems customized to

[2019-04-17 15:47] ye-luo opened #1551 "DriftOperators.h"
All its routines which are still in use needs to be moved to DriftModifier.

[2019-04-18 20:34] naromero77 opened #1555 "CMake with Intel Compiler and External Fortran libraries"
When QMCPACK is built with the Intel compiler, the most logical choice for external BLAS/LAPACK is Intel MKL. However, according to the QMCPACK manual we also support other external BLAS/LAPACK libraries, e.g. OpenBLAS, NETLIB BLAS/LAPACK. These libraries contain Fortran source, and when compiled with the Intel Fortran Compiler require that `-lifcore` be specified on the QMCPACK binary link line.

[2019-04-18 20:44] ye-luo commented on #1555
How do QMCPACK know a provided library was built in a certain way and needs extra dependency?
In the case of libhdf5, it depends on libz and findHDF5 module handles that not QMCPACK.
For your request, it is the responsibility of FindLAPACK (from CMake).

[2019-04-22 04:28] Hyeondeok-Shin opened #1558 "Deterministic test in the mixed precision."
[mixed_precision.xlsx](https://github.com/QMCPACK/qmcpack/files/3102137/mixed_precision.xlsx)

The attached file is a table of full vs. mixed precision for all deterministic tests. Tests were done with gcc, intel, and clang in the workstation.

We already discussed that we need to increase the tolerance in the mixed precision, and there are three important issues in the deterministic test for the

[2019-04-22 14:40] jtkrogel commented on #1558
There is a lot of data in the spreadsheet.   I've tried to cut down the data in a couple of ways.

First, I looked at relative errors instead of absolute ones.  After inspection of the data, this did not yield any clear advantage (i.e. an approximately common scale) over the absolute difference data, so I won't pursue it further.

Second, I looked at max errors across quantities and compilers for

[2019-04-22 14:44] jtkrogel commented on #1558
Both diamond and LiH display max absolute errors approaching 1e-3 for MP when compared to FP reference values.

Hopefully we can agree that numerical agreement to only 1e-3 is too large to be useful for deterministic tests (which are meant to be relatively high precision).  Also, these are pretty simple systems, so it is likely that we will see max deviations larger than this for other systems.

T

[2019-04-22 14:48] jtkrogel commented on #1558
For the diamond data you present, the complex MP are referenced against complex FP.

Comparing the real FP and complex FP reference data shows differences approaching 1e-2, which is again far too large.

This directly implies that we cannot usefully benchmark complex runs against real ones.

[2019-04-22 14:53] jtkrogel commented on #1558
This leaves variation across compilers.  @Hyeondeok-Shin please can you attach a version of the spreadsheet with raw data values from the different compiler runs?  Currently they can't be compared directly with each other due to the use of abs() after subtracting off the reference values.

[2019-04-22 20:29] Hyeondeok-Shin commented on #1558
[mixed_precision_compiler.xlsx](https://github.com/QMCPACK/qmcpack/files/3104762/mixed_precision_compiler.xlsx)

Thank you for comments, and sorry for the confusing with too much data.
Here I'm attaching the raw data from the different compiler runs.

[2019-04-23 12:47] jtkrogel commented on #1558
Thanks Hyeondoek.

Maximum disagreement among compilers approaches 1e-3, which is similar to variations seen above between MP and FP and between real and complex.

Given all the data above, we either live with tolerances set above 1e-2, or we give up having a single reference.

Giving up a single reference is not so bad for MP vs FP or real vs complex, but it is untenable IMO to give it up for var

[2019-04-23 13:03] jtkrogel commented on #1558
Another strategy is to live with large tolerances for quantities involving wavefunction derivatives (which show the largest deviations).  The potential terms are much better.

[2019-04-23 14:42] jtkrogel commented on #1558
I suggest we set tolerances to some factor (say 10x) larger than the maximum observed variation away from the reference.  This should also include (via max) the largest variation observed between compilers.

The attached script performs this analysis for the data from deterministic-diamondC_2x1x1_pp-dmc_sdj-1-1:
[tolerance_bounds.py.gz](https://github.com/QMCPACK/qmcpack/files/3108050/tolerance_bo

[2019-04-23 14:50] jtkrogel commented on #1558
Below is the output of the script for this test case.  Using real FP as reference for complex MP results in the largest set of tolerances needed.  Using complex FP as reference for complex MP reduces the tolerances significantly, but by far the most for the terms depending on wavefunction derivatives.  Moving to MP as reference reduces the required tolerances by up to an order of magnitude in some

[2019-04-23 14:51] jtkrogel commented on #1558
Once we settle on an acceptable reference and tolerance factor, the script above can be used to generate tolerance data for all the test cases.

[2019-04-23 15:50] Hyeondeok-Shin commented on #1558
Thank you very much for the fruitful comments and helps Jaron.
 I'll be starting with larger tolerance for MP test.

[2019-04-25 01:10] rcclay opened #1563 "UseBoundBox can be true in OpenBC's"
To handle open boundary conditions, it appears as though the UseBoundBox flag used by ParticleSet to auto-reject moves outside of a bounding box is set to "false" by initializing molecular type SPO's, and defaults to "True" otherwise.  It's NOT set out of explicit regard for the boundary conditions.  Doing a jastrow-only wave function in OpenBC's results in an insidious bug.

I think that the defa

[2019-04-25 02:23] ye-luo commented on #1532
My vague impression is that this Pade is only intended to reproduce results in an old paper.
@lshulen Could you answer this question? I remember you went through Pade recently.

[2019-04-25 02:27] #1531 closed

[2019-04-25 12:26] jtkrogel commented on #1563
Is this in place to prevent attempted out of bounds evaluation of the B-spline table for the orbitals?  If so, it is better logic to set to true only when B-spline orbitals are present.

[2019-04-25 16:15] rcclay opened #1565 "Add force to CoulombPotential.cpp"
Forces have not been implemented for CoulombPotential.cpp.  This means that in open boundary conditions, ion-ion forces or e-I forces for all-electron calculations will not be computed and included in the ACForce estimator.

[2019-04-25 17:22] lshulen commented on #1532
@ye-luo is correct.  I was puzzled by the expression diverging myself.  I've been meaning to look up the reference, but I believe this form was used in an older Umrigar paper.  I have a stale branch that I'm meaning to refresh that will put in what I consider to me more sensible pade jastrows as well as one inspired by casino's old form.  As soon as I finish up some urgent tasks I will get back to

[2019-04-25 17:38] prckent commented on #1565
@rcclay Does the code abort currently for these cases? It would be good to have aborts for all unsupported combinations to avoid suprises.

[2019-04-25 17:38] markdewing commented on #1532
For straightforward functional forms for the radial Jastrow, look at #1557

[2019-04-25 18:10] prckent commented on #794
@PDoakORNL What remains to be formatted? Can this issue be closed? (We should add a formatting step to the release procedure from now on. Anything else? )

[2019-04-26 02:48] rcclay commented on #1565
It doesn't abort!  I agree that it'll be a good addition.

[2019-04-26 03:59] rcclay opened #1566 "Zero-Variance Force Term Not Zero in OpenBC's"
For a sodium dimer with bond length of 6 bohr, in open BC's and using only a slater determinant only of GAMESS orbitals (Hartree Fock + BFD pseudopotential), the ZV term is roughly -0.7mHa/bohr, and statistically significant. (15 sigma).

Checks using only the kinetic energy in the Hamiltonian indicate the problem is not with the kinetic energy, meaning the problem is likely in the non-local pseud

[2019-04-26 18:50] prckent commented on #1555
I think it is fine to not support other BLAS than MKL when Intel compilers are used. We should try to have this work, i.e. use the official CMake FindLAPACK functionality etc., but otherwise not spend much effort on this. The opposite case - non-Intel compilers with MKL - is far more important since MKL is effectively free and it is usually fastest on Intel. This combination is tested each night.

[2019-04-26 18:51] rcclay commented on #1566
Cause found.  The current evalGradSource function assumes that the slater determinants' matrix inverses correspond to the input particle set.  For quadrature points however, the matrix inverse needs to be updated before the force can be computed.  Recomputing the matrix inverse for each quadrature point, while definitely not long term sustainable, fixes the bug.

[2019-05-02 16:19] anbenali opened #1574 "Cmake versions higher that 3.14.3 cannot find packages"
with cmake versions equal and newer explicitely than 3.14.3 there is a change in policy that makes it hard to find libraries like HDF5.
[code]

The Cmake output gives this warning:
[code]
==============
And the code dies at compilation with:
[code]
because neither include path nor linking path are added properly.

[2019-05-02 16:22] prckent commented on #1574
Please try setting the cmake_policy in the CMakeLists.txt. If this works we can onboard "old" usage for now.

[2019-05-02 16:39] markdewing commented on #1574
I'm a little confused - the FindHDF module explicitly checks HDF5_ROOT.   How does the policy introduction affect this?

[2019-05-02 17:04] ye-luo commented on #1574
[code]

[2019-05-02 18:20] markdewing commented on #1574
I think the message for the policy refers to the CMake core, not the individual modules.   With the change (the NEW) policy, the CMake find_package command automatically adds the `<pkg>_ROOT` variable to the list of places to look.   With the OLD policy, the find_package command does not.
The individual 'find' modules can do whatever they want.  In the case of FindHDF5, it uses HDF5_ROOT.

I suspe

[2019-05-03 04:50] ye-luo commented on #1563
Current code
[code]
It is not clear to me if the outOfBound check is really helpful. I did see some random LiH runs failed due to this check and the electron gets stuck.
isValid check seems reasonable.

The other way of fixing this removing all the checks. Assign orbital values to zero if the electron goes out of the box at open directions with spline orbitals. Such moves are rejected naturally du

[2019-05-03 14:31] prckent commented on #1440
I modified the title for posterity to record the actual determined problem.
Should we close this issue? @zenandrea are the new binaries working for you?

[2019-05-03 15:47] markdewing opened #1577 "Questions on implementing a new wavefunction"
I'm trying to implement a simple sample wavefunction (He with STO orbitals and Pade Jastrow) that derives from WaveFunctionComponent.

Some questions
- Distance tables
  - For e-e (like particle) distance tables, which triangle is valid and when?   It seems the whole table is valid sometimes, but only one triangle is value during some parts of particle-by-particle moves.
  - How are the temporary

[2019-05-03 20:15] ye-luo commented on #1577
STO and Pade are both available in the code. Why would you like to implement a new one?
For a distance based jastrow, we only need to implement a functor instead of a whole J2.
STO is implemented at atomic orbital level in the LCAO route.
None of them needs to be involved with WaveFunctionComponent.

[2019-05-03 20:28] markdewing commented on #1577
I'm trying to write an example with some documentation on how to add a new WaveFunctionComponent, and this is the simplest example (that has both e-n and e-e terms).
By copying from something that already exists, I can debug and test by comparing the code in detail.   Without this, I really don't know how I could get all the conventions correct.

[2019-05-03 22:13] prckent commented on #1577
This will be a helpful example and I think will e.g. clarify the requirements, what needs to be implemented, and improve error handling (an unimplemented evaluateDerivatives should abort).

[2019-05-06 10:15] zenandrea commented on #1440
Dear @prckent, new binaries seems to work well on the cases I have tested so far.

[2019-05-06 10:26] zenandrea commented on #1532
@lshulen, Yes, I would be interested in that.
@markdewing, I cannot find the `UserFunctor.h.in` and `user_jastrow.py` files you mention in #1557.

[2019-05-06 16:40] markdewing commented on #1532
The files should be in the pull request (in src/QMCWaveFunctions/Jastrow/codegen).   The PR has not been merged, so they are only in the PR.

[2019-05-07 21:03] jtkrogel opened #1584 "QMCPACK segfaults with multiple DMC blocks"
Running QMCPACK on a simple system (diamond, fcc tiled to cubic, BFD potential) segfaults when there is more than one DMC section.  The segfault occurs on the first step of the second DMC section.

This is observed in the current develop, but not an earlier version (Dec. 2018).  The segfault happens for SoA/AoS, real/complex, mpi/serial.  I've observed it both on my laptop and within an AWS instan

[2019-05-07 21:08] anbenali commented on #1584
I noticed the bug on my laptop and on BGQ for the Gaussian code too. If
tehre are more than one DMC block it fails.

On Tue, May 7, 2019 at 4:03 PM jtkrogel <notifications@github.com> wrote:

--
-----------------------
Anouar Benali, PhD
Leadership Computing Facility
Argonne National Laboratory
Building 240 Office - 2127
9700 S Cass Av., Argonne Il, 60439
(630) 252-0058

[2019-05-07 21:30] prckent commented on #1584
This is a critical bug to fix. I wonder if the MPI updates are implicated.

[2019-05-07 21:49] prckent commented on #1584
I saw some crashes around QMC section start/end when compiling with Skylake as a target on AWS. This was avoided by targeting an older platform, but possibly this was further evidence of a bug. It would be helpful to know if others can reproduce it.

[2019-05-07 21:50] markdewing commented on #1584
I see it seg faulting in DMCUpdatePbyPFast.cpp, in advanceWalkers - is there where others see the crash?

[2019-05-08 15:41] rcclay opened #1588 "ACForce Estimator has Spikes in Trace of Force"
For C2 dimer in openBC's (determinant only wavefunction), there are observed spikes in the trace of the "Hellman-Feynman" force term from the ACForce estimator.  There are no observed spikes in an alternate code path.  While such spikes are expected for other terms in the estimator, there shouldn't be any in the Hellman-Feynman term.

[2019-05-08 16:08] ye-luo opened #1589 "Change of DriftModifier type not allowed when reusing a driver"
Due to #1585, changing DriftModifier type is not allowed when reusing a driver.
This will be an issue when a second DriftModifier type is added to the code.

DriftModifier is created in QMCDriver::process() when a driver is initialized.
virutal QMCDriver::resetComponents() handles refreshing some internal objects when a driver is reused.
For the moment, resetComponents() is called before process()

[2019-05-08 16:22] #1584 closed

[2019-05-08 17:09] prckent commented on #1589
Perhaps we only have one drift modifier class and can avoid both inheritance and pointers.

[2019-05-08 17:28] PDoakORNL commented on #1589
I think that's a good path until we need another. Is there another already planned?

[2019-05-08 18:01] prckent commented on #1456
For anyone interested in this workshop but unable to attend, we will use BlueJeans videoconferencing to broadcast the video and audio. Contact me for connection info (kentpr at ornl dot gov).

[2019-05-08 18:05] ye-luo commented on #1589
There are at least two on their way.
The true problem is the more than necessary layers in the drivers.
I'd like to solve that and then this issue should disappear as well.

[2019-05-10 15:23] rcclay opened #1592 "Issues with Cartesian Spherical Harmonics between QMCPACK and pyscf"
For solids, it appears as though the default basis set type in pyscf is standard spherical harmonics for the angular piece of the LCAO basis.  Currently, the pyscf->QMCPACK converter can handle this, and I can match Hartree-Fock energies between the two codes.  However, when I force pyscf to use the cartesian spherical harmonic basis instead, I converge to a similar energy as before, but after con

[2019-05-10 15:52] anbenali commented on #1592
This is strange as I had implemented everything with cartesian at first but
we have changed the order lately... there is an order in the converter
where I force pyscf order into "gamess" order since it is the one used in
qmcpack. If it works for molecules it should work for solids.. let me try
to look at it quickly..

On Fri, May 10, 2019, 10:23 rcclay <notifications@github.com> wrote:

[2019-05-10 19:23] kayahans opened #1593 "pw2qmcpack.x error with large cell/cutoff"
I have failed to convert the orbitals of an 56 atom (~580 electrons, ecutwfc=320 Ry) unitcell using pw2qmcpack.x.

First, I have tried with qe.6.3, which was compiled with serial hdf5 1.8.12 and intel 18.0.0  using -D__HDF5_C -DH5_USE_16_API flags. This is the output from p2q:

[code]

Obviously pwscf.wfcxx files aren't in pwscf_output, but with the same system but smaller ecutwfc these files are

[2019-05-10 19:46] ye-luo commented on #1593
I don't remember when but `wf_collect` has been deprecated in QE. This doesn't affect pw2qmcpack which still can run in serial and parallel. It is a QE issue if it can't load its own WF. This can be highly possible with a large WF without using hdf5 in QE. With hdf5 enabled in QE, not just in pw2qmcpack, there should be no problem.

For your second issue, I believe it is due to some simple mistake

[2019-05-13 00:52] #1440 closed

[2019-05-13 00:56] ye-luo commented on #1272
Resolved by #1360

[2019-05-13 00:56] #1272 closed

[2019-05-13 18:26] prckent commented on #1339
Closed by #1583

[2019-05-13 18:26] #1339 closed

[2019-05-13 18:32] prckent commented on #1593
Note that to test the converter it is not necessary to have a converged wavefunction. Set a very large convergence tolerance or limiting the number of electronic steps to check errors such as files not being present.

@kayahans Are you certain that some strange escape characters have not entered your pw2qmcpack.in entries or the inputs are mixed up? This error occurs before the postprocessor has d

[2019-05-13 20:35] kayahans commented on #1593
@ye-luo Thanks for your suggestions. I think first I had the same issue posted in the forum, but correcting this led to another problem:
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
     Error in routine read_rhog (1):
     error reading file pwscf_output/pwscf.save/charge-density
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Wh

[2019-05-14 02:10] ye-luo commented on #1593
pw2qmcpack use pw.x restart infrastructure to load WF and density. Does your pw2qmcpack.x built the same way as your pw.x? I mean both using -D__HDF5 flag or both using -D__HDF5_C.
Did you always have -DH5_USE_16_API ?

[2019-05-14 04:22] shivupa opened #1597 "Jastrow optimization high variance with reasonable starting guess"
Hi,

We have run into a jastrow optimization issue.

C60 is the system of interest, but we have used C20 as it is a simpler test system which should be chemically similar. Trial wave functions used were UHF trial wave functions in gamess with the ccecp pseudopotentials and the corresponding double zeta basis sets. For both systems the vmc without a Jastrow reproduces the uhf energy.

C20
[code]
C6

[2019-05-14 12:30] ye-luo commented on #1597
Please upload your structure file for C20 and C60

[2019-05-14 13:08] shivupa commented on #1597
Added

[2019-05-14 13:11] ye-luo commented on #1597
I don't need xyz file. I need the structure.xml which you used in your qmcpack run.

[2019-05-14 13:18] shivupa commented on #1597
Sorry I misunderstood. Added those files.

[2019-05-14 13:29] ye-luo commented on #1597
I need C.qmcpp.xml as well

[2019-05-14 13:32] shivupa commented on #1597
Added

[2019-05-14 15:07] ye-luo commented on #1597
I started from a J1+J2 optimized on the C20.
[code]

[2019-05-15 02:49] prckent commented on #1597
@ye-luo Can you paste your optimization settings here? How did they differ from @shivupa 's ? Or was QMCPACK misbehaving in one of the builds?

[2019-05-15 13:36] ye-luo commented on #1597
@prckent After a bit investigation, we found the issue is not the optimization but the VMC went wrong already at the first step. We tried the whole input set from @shivupa on AWS and there is no issue at all. So we are inspecting the binary now.

[2019-05-16 13:09] shivupa commented on #1597
Yup I will update this once I get it figured out, but it's pretty clear this is on my end. My inputs worked on AWS and for @ye-luo with no problem with the same versions of the code. I appreciate all the help with this so far!

[2019-05-16 15:44] prckent commented on #1597
Hopefully we can find something easier than running a full VMC calculation that can catch this. e.g. Supposing HDF5 library is bad, perhaps we can add a check at the level of one of the unit tests.

[2019-05-16 16:08] ye-luo commented on #1597
This is LCAO using large xml files. It reminds me the bad days with libxml2.

[2019-05-16 20:32] prckent commented on #1383
Fixed in https://github.com/QMCPACK/qmcpack/pull/1490

[2019-05-16 20:32] #1383 closed

[2019-05-16 20:33] prckent commented on #1367
Fixed in https://github.com/QMCPACK/qmcpack/pull/1576

[2019-05-16 20:33] #1367 closed

[2019-05-16 20:36] #534 closed

[2019-05-16 20:38] prckent commented on #1048
Update: glibc versions and gnu compiler are now error trapped during cmake configuration.

[2019-05-16 20:46] prckent commented on #1456
Presentation materials, example files, and tutorials from this workshop are at https://github.com/QMCPACK/qmcpack_workshop_2019

[2019-05-21 16:10] prckent commented on #1593
Thanks @kayahans

[2019-05-21 16:10] #1593 closed

[2019-05-22 14:13] prckent commented on #1475
Has there been any progress on this? This test is still broken. We can not have deterministic tests failing since they are e.g. an install criterion.

<img width="820" alt="image" src="https://user-images.githubusercontent.com/13683814/58181515-eff1d080-7c79-11e9-92b3-eb448c385561.png">

[2019-05-22 15:05] prckent opened #1608 "Requests for docker/singularity image for QMCPACK"
At the QMCPACK workshop a couple of people asked about containers for QMCPACK. If there are any specific suggestions or requests for how these should be built please add them here.

e.g. While there is already a QMCPACK container in NVIDIA's NGC, practical calculations need SCF codes and the analysis tools available. This implies one or more of the patched version of QE, Quantum Package, PySCF, GA

[2019-05-22 17:57] prckent commented on #1456
Videos from the workshop are now available on the QMCPACK YouTube channel.
Playlist https://www.youtube.com/playlist?list=PLZ3WPqWe6k8sjpdmwYyPdyEkKUN9pKGex

[2019-05-24 03:56] #1475 closed

[2019-05-24 20:58] prckent commented on #1597
@shivupa Since you have a working reference, can you check to see if any of the output before the first QMC step is different?

[2019-05-25 18:04] shivupa commented on #1597
This is definitely something on my end. I've opened a ticket for the local resources to see which dependency specifically is an issue. The outputs were similar (except for the things that should be changing such as the date, time, host, etc.). I'm going to close this as it doesn't seem its a bug.

[2019-05-25 18:04] #1597 closed

[2019-05-29 15:59] ye-luo opened #1616 "Raise boost minimum version"
Current minimum is 1.61 which is 3 years old. It is time to raise the version.
Any preference?

On the other hand, I was thinking how to support boost version.
libboost is 1.70 now. So 3 releases per year.
Do we need to support all versions? Can we pick one release per year and make sure it works?
We list these versions to users. For intermediate version, it is on your own.
With a two year rule, w

[2019-05-29 19:35] prckent commented on #1616
The two year "rule" we have discussed for compilers would indicate v1.64.0 as the oldest to support
https://www.boost.org/users/history/

Now that we have the deterministic tests, working through different combinations is relatively quick.

[2019-05-30 17:26] jtkrogel opened #1619 "1RDM needs to support spin dependent bases"
Currently the 1RDM in VMC/DMC is projected onto a single SPOSet as a basis.  In the event that the basis corresponds to molecular/Bloch orbitals (typical case so far), use of a single basis for up and down electrons is likely to be a poor choice for spin-polarized systems.

Support is needed to handle separate bases for up and down electrons to appropriately cope with systems exhibiting local magn

[2019-06-02 20:15] prckent opened #1623 "Cusp correction crashes"
See e.g. https://cdash.qmcpack.org/CDash/testDetails.php?test=5233020&build=60682
These are Intel2018 release builds. short-chn_ae_cuspCorrection-vmc-1-16 is crashing somewhere in the initial VMC. A PR from last week is likely at fault since the runs appeared stable before.

<img width="802" alt="image" src="https://user-images.githubusercontent.com/13683814/58766803-fec96480-8550-11e9-96ae-643ab6

[2019-06-02 20:47] #1456 closed

[2019-06-02 20:52] prckent commented on #861
Update: SoA is now the default, but this issue remains relevant: at some point the AoS code will simply be deleted along with the legacy CUDA code. This will restore QMCPACK to having a single implementation "fork". To access functionality not ported will then require running an old version of QMCPACK or first porting the functionality to the current version.

[2019-06-03 14:53] ye-luo commented on #1623
This was triggered by my change of removing VLA.
After looking at the code, I found a deep issue in how the code is handling thread private copies in lcao. I think it is good case study and demonstration how to use smart pointers instead of manage pointers ourselves. Later, we propagate the new way throughout the code. Before a clean fix is provided, I will fix this bug by defining variables local

[2019-06-03 14:58] prckent commented on #1623
Do valgrind or msan catch this bug in a useful way?

[2019-06-03 15:19] ye-luo commented on #1623
Every thread owns a pointer to a data structure A which contains a vector B. Every thread tries to resize B via the pointer and caused a data race. The real issue is not the race but every thread should own a copy of A instead of sharing a pointer to A.

1. ThreadSanitizer is a tool that detects data races.
2. MemorySanitizer (MSan) is a detector of uninitialized memory reads in C/C++ programs.
3.

[2019-06-03 15:42] prckent commented on #1623
If a long term fix will take a while,  a short term fix is desirable so we can make a post-workshop release.

[2019-06-03 18:38] ye-luo opened #1624 "Need smart pointers. Using LCAOrbitalSetWithCorrection as a starting example"
#1623 exposed a problem that we need to reduce the use of raw pointers and use smart pointers if pointers are needed to share data between class objects.

I extract lines of code to better describe a right way to do in my mind.
[code]

Each thread has a copy of `LCAOrbitalSetWithCorrection`. The makeClone function triggers the copy constructor and copies the pointers of `SoaCuspCorrection::LOBasis

[2019-06-03 18:51] jtkrogel commented on #1624
I don't really understand part of this.  From my point of view, makeClone was created to handle per thread copies (partial deep copy) of objects in all cases, not just for base and derived classes.

I don't see how proper makeClone (deep copy as appropriate) does not provide a fix for your issue.  From this point of view, I don't see how smart pointers are strictly needed (of course it is easier t

[2019-06-03 19:52] ye-luo commented on #1624
@jtkrogel I'm not saying removing all the makeClone.

makeClone requires lines of code while copy constructor can be handled by compilers. So if it is possible to reply on copy constructors, we should avoid makeClone. Because copy constructor cannot be virtual, to make a copy of a derived class object when only the base class pointer is known, we must use makeClone function. This use pattern exist

[2019-06-03 19:56] ye-luo commented on #1624
@jtkrogel A partial deep copy can also be achieved with a customized copy constructor and this is not the reason for using makeClone.

[2019-06-03 21:01] prckent opened #1626 "Evaluation performance of cusp correction"
Follow up to #1625  . Performance pre/post should be checked once molecular performance tests are added. Will the simple code with vector heap allocations in the evaluate functions suffice?

[2019-06-04 15:32] #1623 closed

[2019-06-04 20:00] prckent commented on #1624
I think part of the problem is that it is not clear who/what is responsible for an object over its lifetime. Reference counting is one way of avoiding leaks, e.g. via smart_ptr, but we should still have the overall life of objects made clearer.

[2019-06-04 20:19] ye-luo commented on #1624
I think when we use pointers, we need to ask
1. Is this pointer necessary? (justification)
2. Who own the pointer? (ownership)
3. When and where the pointer is created? (lifetime)
4. When and where the pointer is destroyed? (lifetime)

[2019-06-06 18:15] PDoakORNL opened #1632 "Lets follow the Coding Conventions"
There are a number of conventions, detailed in the manual.
Most importantly (to me) type and variable naming usage of typedef syntax instead of type alias syntax.

I propose we add no new code violating current coding standards.
I'd hope people would see fit to update the whole files they touch in a leading or following PR.
But at least lets stop adding more noncompliant code.

[code]

[2019-06-06 19:17] PDoakORNL commented on #1624
Why do I need this pointer?
Is there more fundamental problem with the design?

[2019-06-13 17:56] markdewing commented on #1624
In MultiQuinticSpline1D, Coeffs and first_deriv seem very similar conceptually - they are both spline parameters.   They are treated differently in the class, though, because of the size differences (Coeffs is large, first_deriv is small).   It seems that nothing in MultiQuinticSpline1D  needs to be per-thread.  A single copy of MultiQuinticSpline1D would work across threads, and Coeffs would not

[2019-06-15 04:38] Paul-St-Young opened #1640 "Improve RPAJastrow Usability"
From #1635, we identified a few issues with the current implementation of RPAJastrow.
This issue will serve as a tracker for a future PR with the desired fixes

- [ ] `nparam`, `npts`, and `tiny` should be input parameters
- [ ] enhance wavefunction output
- [ ] more explanations needed in the manual
- [ ] validate unit test and check Bspline as well as kSpaceJastrow coefficients
- [ ] enable HEG

[2019-06-17 12:44] jtkrogel commented on #1608
I think these would be generally useful.  It would allow people to get their feet wet easily and try things out.  Images would also allow for some common "machine definition" when users see bugs; potentially users and developers could address the bugs in the same environment.

[2019-06-19 13:29] prckent opened #1646 "Complex builds broken: CountingFunctor.h"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=62701

gcc8 + complex is now having trouble.

Intel compiler is fine. Probably gcc8 is being stricter about conversions of types than Intel and the earlier versions run for other builds, as we should be.

[2019-06-19 14:33] PDoakORNL commented on #1646
This looks to be a compiler bug in intel then, this shouldn't compile when QMC_COMPLEX is defined.

[2019-06-19 14:44] jtkrogel opened #1647 "Estimating autocorrelation time"
The purpose of this issue is to document options for estimating the autocorrelation time for Monte Carlo data.  Of particular interest is how to gather more information from multiple independent Markov chains and how to deal with short chains (best possible estimate of autocorrlation time, detection of non-convergence of autocorrelation time).

To start things off, consider this interesting blog p

[2019-06-19 15:06] PDoakORNL commented on #1646
This would be trivial to fix if I could tell what getNameAndValue() in gaussian functor was supposed to do.

I would assume return the NameAndValue vector from myVars which should obviously be
const std::vector<std::pair<std::string, opt_variables_type>>&

GaussianFunction::getNameAndValue is not used in the code as far as I can see. I think the proper fix is to delete the method.Then @chrislzhao

[2019-06-19 15:20] PDoakORNL opened #1649 "Counting Jastrow Code"
Since this code is getting touched again the following should be resolved.

##QMCWaveFunctions/CountingFunctor.h
Mismatched class declaration and file name
No Unit Test.
typdef vs using
Inherits from QMCTraits
Has template parameter it doesn't use.

##QMCWaveFunctions/CountingRegion.h
Mismatched class declaration and file name
No Unit Test.
typdef vs using
Inherits from QMCTraits
Has template para

[2019-06-19 15:25] ye-luo commented on #1646
It happened to me in the past that unused template class member functions are not checked and compiled by Intel but gcc usually does it. However, I don't understand why the CI with gcc 6 passes. Probably some behaviour changed from 6 to 8.

[2019-06-19 15:29] PDoakORNL commented on #1646
Its a good point that a "lazy" compiler would just ignore this function. I wonder what the standard says about this.

[2019-06-19 15:31] ye-luo commented on #1649
@bwvdg Could you have a look?

[2019-06-19 21:31] ye-luo opened #1651 "Cleaning up ParticleSet"
ParticleSet has multiple issues at the moment.
1. ParticleSet::addTable and copy constructor has hard-coded table 0 as the e-e distance table
2. distance tables are exposed as public member objects.
I would like to clean up all the related pieces and enhance security.
There will be multiple PRs before the goal is achieved.
3. Update the He example in the manual.

[2019-06-20 14:09] prckent commented on #1646
GCC8 complex builds are now passing.

Good to learn about these compiler differences.

[2019-06-20 14:09] #1646 closed

[2019-06-21 01:09] bwvdg commented on #1649
I made the appropriate code convention changes. I'm currently writing the unit tests for these classes and will submit a pull request soon.

[2019-06-21 14:05] jtkrogel commented on #982
Update: there is also an incompatibility with mixed precision.  Runs do not complete.

[2019-06-21 14:51] prckent commented on #1058
Is this list still current? Some look done, but there may be residual problems.

(512 atom NiO probably broke due to lack of memory. Ye has been running an equivalent by hand, however we don't have a large memory machine reporting to cdash yet.)

[2019-06-21 15:01] ye-luo commented on #1058
512 atom problem with 16 walkers needs only 32 GB memory. Probably due to time out.

[2019-06-24 13:32] ye-luo commented on #1563
A cleaner logic.
When a bound box is necessary?
1. OpenBC like a molecule, no latticed provided from input. using default lattice, a huge box.
2. A lattice from input and mixed P and N boundary conditions. outOfBound to guard too large moves. isValid only make coordinates out side the box in the open directions. A lattice with OpenBC or PPP are covered in this case.
So we only need to activate the

[2019-06-24 13:49] jtkrogel commented on #158
Saving this comment before editing at the top:

Core Nexus workflows can include:
1.1 QE/VASP (relaxed structure) or XSF/POSCAR/CIF file read
1.2 QE (orbitals)
1.3 pw2qmcpack (conversion)
1.4 QMCPACK (opt)
1.5 QMCPACK (vmc/dmc)

2.1 GAMESS (orbitals/multidet)
2.2 convert4qmc (conversion)
2.3 [QMCPACK (cusp correction)]
2.4 QMCPACK (opt)
2.5 QMCPACK (vmc/dmc)

3.1 SQD (orbitals)
3.2 QMCPACK (opt)
3

[2019-06-24 14:49] prckent commented on #1563
What are "too large moves"  and when do they occur?

[2019-06-24 14:54] ye-luo commented on #1563
For a proposed move, the reduced coordinates of delta R are restricted to [0, 0.5] in each direction. This is the currently choice in the code. IMO, [0,1) is more reasonable.

[2019-06-24 17:31] PDoakORNL opened #1658 "QMCDrivers/QMCOptimize, QMCCostFunction, etc. have no unit tests."
While in general the unit testing for QMCDrivers is quite poor it is not nonexistent and these drivers and support classes must gain unit tests if they are going to be part of the production code.

Unit tests define expected behavior for functions and methods while indicating dependencies via objects that must be mocked in order to test. If the tests are too "difficult" to write then clear problem

[2019-06-24 19:08] PDoakORNL opened #1660 "Python unit testing"
If we are going to generate important results with python we should consider (must in my opinion) python unit test.
I've used python's built in [unittest](https://docs.python.org/2/library/unittest.html) in the past.

[2019-06-24 19:56] markdewing commented on #1660
I prefer the syntax of pytest, but there is a definite advantage to using a built-in facility.

[2019-06-24 20:06] PDoakORNL commented on #1660
I'll take a look at it.  I don't think unittest is optimal its just the one I've used.

[2019-06-26 12:09] jtkrogel commented on #1660
N.B. Nexus related tests take a slightly different philosophy.  The tests there (see https://github.com/QMCPACK/qmcpack/blob/develop/nexus/bin/nxs-test) are most fairly termed integration tests as they do not contain mock classes, however, once complete, the tests will be called in bottom up dependency order which has a similar effect to unit tests plus mocks.  I have no firm opinion about Python

[2019-06-27 12:56] ye-luo opened #1669 "User defined Jastrow unit test failed on BGQ"
https://cdash.qmcpack.org/CDash/testDetails.php?test=5403231&build=64108

[2019-06-27 14:34] #794 closed

[2019-06-27 14:38] #1473 closed

[2019-06-27 16:48] eneuscamman commented on #958
To follow up on this, I noticed that there is likely a memory leak in the way the DiffOneBodyJastrowOrbital class handles the pointers inside its Funique vector.  This class's makeClone function uses new to create copies of the objects pointed to by the Funique pointers, but there does not appear to be anything that can delete these copies.  Am I missing something?

[2019-06-27 18:21] #1669 closed

[2019-06-27 19:17] PDoakORNL commented on #942
Since step 1, 2, 3 etc. to QMCDriver mk2 involve touch these API's this should get punted to 3.9+

[2019-06-27 19:31] PDoakORNL commented on #970
@rcclay Will your force code be able to replace this?  If so then we can drop this from the AoS to SoA port list.

[2019-06-27 19:42] prckent commented on #188
This feature should be removed from the code

[2019-06-27 19:46] prckent commented on #1229
An example with gold reference data in the examples directory would be helpful

[2019-06-27 23:55] Hyeondeok-Shin commented on #1061
I'm now working with the real space wavefunction tests (including deterministic test), but please let me know if someone is already working with a certain test in order to avoid conflict.

[2019-06-28 10:19] jtkrogel commented on #1061
@Hyeondeok-Shin You mean via the wavefunction tester?  I expect pass/fail criteria for the finite differences will require some tinkering.  If this is the case, perhaps make a new issue for further discussion on that topic.

Please can you add the deterministic integration tests you will be working on next to the header comment under the appropriate section?

[2019-06-28 13:50] prckent opened #1674 "Broken Intel 2018 complex build due to AFQMC KP3IndexFactorization problems"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=64229

[2019-06-28 13:51] prckent opened #1675 "Broken Clang7 Complex build due to AFQMC THCOpps failed assert"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=64255

[2019-06-28 14:35] PDoakORNL opened #1676 "Base class type alias convention."
I propose the following, which is compatible with our current coding conventions. Recall type should be the only entities with leading caps.

[code]
MI case
template<typename T>
class Derived : public A<T>, B
{
  using BaseA = A<T>;
  using BaseB = B;
...
}
[code]

[2019-06-28 14:44] prckent opened #1677 "Broken Clang6-CUDA10-Complex build due to AFQMC MPI3 issues"
https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=64336

Another breakage. There is a chance that this is related to the build configuration.

[2019-06-28 14:59] ye-luo commented on #1676
I think for template base class, this is useful to avoid the long template base class name when accessing base class members.
In the case of non template base class, I think this is optional right?
Could you point somewhere in the source code as a real example?

[2019-06-28 15:04] Hyeondeok-Shin commented on #1061
@jtkrogel I see. I'll be adding the deterministic integration tests list I'm (will be) working on.

[2019-06-28 15:15] PDoakORNL commented on #1676
In case of non templated base class, non MI ambiguity I think it is to be avoided.

An example of what?  Use the type naming convention well?  We do well with classes.

[2019-06-28 15:59] PDoakORNL commented on #1676
Examples of type aliases for template base class in:
## base_type
src/Numerics/OneDimQuinticSpline.h
src/Numerics/OneDimLinearSpline.h
src/Numerics/OneDimCubicSpline.h
## base_t
src/Lattice/CrystalLattice.h
## BaseType
src/QMCWaveFunctions/lcao/SoaLocalizedBasisSet.h
src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
src/QMCWaveFunctions/B

[2019-06-28 18:54] #1651 closed

[2019-06-29 00:38] prckent commented on #1061
Please steer clear of the "wavefunction tester" for new tests. It is another layer of indirection and uncertainty to investigate when something goes wrong.

A test of traces would be preferred by far, be simpler, and achieve the same coverage.

[2019-06-29 02:20] #1674 closed

[2019-06-29 02:20] #1675 closed

[2019-06-29 02:20] #1677 closed

[2019-07-01 17:20] prckent commented on #1555
Lets examine this if someone reports a problem.

[2019-07-01 17:20] #1555 closed

[2019-07-01 18:42] #1010 closed

[2019-07-01 20:50] prckent opened #1687 "Replace FindLibxml2QMC.cmake by standard cmake find_package"
Support for libxml2 is much better than when libxml2 integration was first implemented and I suggest/question whether our custom code is needed any more.

- Directly calling find_package(LibXml2) worked on both oxygen and summit and correctly picked up e.g. spack installed versions of LibXml2, unlike the existing code.
- Nearly all our build recipes use the default LibXml2 location, which the CMak

[2019-07-01 20:57] ye-luo commented on #1687
`git log FindLibxml2QMC.cmake` you wrote that this was motivated by Cray breakage on Cori at NERSC. If you can verify that Cori builds fine, we should remove our own customization.

[2019-07-01 21:14] prckent commented on #1687
Good point. Checking. Hopefully the Cray env is less quirky now.

[2019-07-01 21:38] prckent commented on #1687
Cori is fine.

[2019-07-02 02:31] #1687 closed

[2019-07-02 02:56] ye-luo opened #1689 "Need more unit tests for spline orbitals"
- [x] Currently C2R is not covered. Need diamondC_2x1x1.
- [x]  spline2 unit tests need to cover offload evaluation routines.

[2019-07-02 15:12] prckent opened #1691 "Short and long excited state statistical integration tests needed"
Once the tests in #1690 have run successfully, we should add long reference tests.

[2019-07-02 15:16] Hyeondeok-Shin commented on #1691
@prckent I can generate references for the integration tests in 1~2 days, it can be updated soon.

[2019-07-02 18:29] prckent opened #1692 "AFQMC deterministic tests are missing deterministic label"
Hence they appear under the catch-all Nightly category and not under the Deterministic one on cdash. See Clang6-CUDA-Complex-Release on the last row.

<img width="1447" alt="image" src="https://user-images.githubusercontent.com/13683814/60537100-c050d200-9cd5-11e9-886a-1a8b84d2b541.png">

[2019-07-02 21:03] prckent commented on #1616
Is there any functionality in a newer Boost that you would like to use?

The "two year rule" means we could bump the version, but there is no need to be disruptive unless we have good reasons.

[2019-07-02 23:57] #954 closed

[2019-07-03 13:31] prckent opened #1696 "No MPI build broken by spline updates"
It appears that #1684 broke the no-MPI build.

[2019-07-03 15:25] #1696 closed

[2019-07-03 19:04] rcclay commented on #970
I would drop it from the AoS->SoA port list for now.  It'll be subsumed into new force code.

[2019-07-03 19:30] jptowns opened #1699 "gofr estimator gives incorrect results for SoA"
Related to #396 and #392 and #984.

AoS versions of the estimator on the HEG give expected results:
![aos_n64_gofr](https://user-images.githubusercontent.com/25334555/60619597-49c7d900-9d96-11e9-9825-0d6ab7cccd9c.png)

But SoA versions of the estimator do not have the appropriate normalization:
![soa_n64_gofr](https://user-images.githubusercontent.com/25334555/60619653-5fd59980-9d96-11e9-87a6-b80d

[2019-07-05 17:43] ye-luo opened #1703 "Memory alloction/deallocation is not safe with MVAPICH"
After investigating 'segmentation fault ' on Cooley at ALCF, I found that the [Mallocator](https://github.com/QMCPACK/qmcpack/blob/develop/src/simd/Mallocator.hpp) was causing the problem but I think this is not our fault but MVAPICH.

Mallocator uses aligned_alloc whenever available. If aligned_alloc is not available, posix_memalign is used. On Cooley, aligned_alloc is available from the OS.
In t

[2019-07-05 17:55] PDoakORNL commented on #1703
I think that is best, they should not break libc.

[2019-07-05 18:00] markdewing commented on #1703
Is solution 2 guarded to only be used if using MVAPICH?

[2019-07-05 18:04] ye-luo commented on #1703
We don't `add -D QMC_EXTRA_LIBS=-lc`. Users using MVAPICH needs to apply this workaround when they type cmake.

[2019-07-07 17:06] prckent commented on #1703
I vote for none of the above.

Solution: Detect mvapchi2 during our cmake configuration and put in the link time workaround.

[2019-07-09 02:18] harisubramoni commented on #1703
Dear, Ye.

Thank you for bringing this to our attention. We appreciate it. So far, we have not received any issues about users wanting to use “aligned_alloc”. We will see how to handle it in our code and get back to you.

Some history about this feature is given below.

As you may know, (barring a few exceptions) any buffer that an InifniBand HCA can act upon must be registered with it ahead of ti

[2019-07-09 06:19] fdmalone commented on #1660
The afqmctools use unittest. However, they aren't currently running automatically anywhere.

[2019-07-09 13:28] ye-luo commented on #1703
@harisubramoni I tried MV2_USE_LAZY_MEM_UNREGISTER=0 and it doesn't workaround the current segmentation fault. As OpenMPI documentation says it doesn't turn on memory registration by default and that is why I didn't hit the problem.

[2019-07-09 14:08] prckent opened #1707 "CMP0074 policy change broke all older builds"
#1705 broke all our "old" version builds using cmake 3.8.4. The unknown policy results in cmake not emitting a makefile.

[code]

[2019-07-09 14:21] harisubramoni commented on #1703
@ye-luo - can you please try the configuration option I mentioned?

[2019-07-09 14:39] ye-luo commented on #1703
@harisubramoni I don't have access to the source code. Here is a minimal reproducer.
[code]
This is a standards compliant C code.

[2019-07-09 16:16] prckent opened #1709 "AFQMC does not build with Intel compilers"
We have discussed this, but I could not find an issue. Creating one now since it is likely the most serious blocker before we can make a release: when afqmc is enabled with complex, neither Intel 2018 or 2019 will compile the code, e.g. https://cdash.qmcpack.org/CDash/viewBuildError.php?buildid=66179. Clang and GCC are successful.

[2019-07-09 17:09] ye-luo commented on #1703
@harisubramoni I can confirm that after building MVAPICH with `--disable-registration-cache`, malloc posix_memalign and free are no more intercepted by MVAPICH and thus the test code passes. However, this solution is not useful in practice because we can't ask users to build their own MPI library and administrator may not want to disable this feature for performance reason. Do you know any macro d

[2019-07-09 17:49] prckent commented on #1709
Confirming that Intel2019.4 complex build is fine without AFQMC enabled.

[2019-07-09 19:16] prckent commented on #1422
Should this be assigned to the v3.8.0 milestone? i.e. Will definitely be fixed prior to the release?

[2019-07-09 19:16] prckent commented on #1422
Can the problem still be reproduced?

[2019-07-09 19:47] ye-luo commented on #1187
I kind of want to enable delayed update by default to 32 for systems >=256 electrons. What kind of tests are needed to convince people that this default choice is good?

[2019-07-09 20:00] jtkrogel opened #1712 "Build script needed for Summit"
Add a build script for Summit to the config directory.  This will ensure users have a less error prone route to a performant build.

[2019-07-09 20:13] prckent commented on #1707
Closed by #1710

[2019-07-09 20:13] #1707 closed

[2019-07-09 20:14] prckent commented on #1574
Closed by #1705

[2019-07-09 20:14] #1574 closed

[2019-07-09 20:38] ye-luo commented on #942
All the evaluateXXX functions are documented in SPOSet.h

[2019-07-09 20:38] #942 closed

[2019-07-09 21:13] anbenali commented on #1422
I thought this was fixed??! I am sure I updated a fix.. if not I will do it
tomorrow with the python 3

On Tue, Jul 9, 2019, 14:16 Paul R. C. Kent <notifications@github.com> wrote:

[2019-07-09 22:04] prckent commented on #1422
Good news if it is already fixed.

[2019-07-09 23:42] ye-luo commented on #945
To support systems with electrons all in one kind of spin. The converter writes the electron particleset with size 0 of down spin electron and a determinant of size 0.

0. Currently, the code complains that the number of orbitals doesn't meet the requirement >0.
1. After bypassing the check and allows 0, I got a segmentation fault. Because, the code expect two determinants based on the number of g

[2019-07-10 13:16] PDoakORNL commented on #1712
I can take a look today

[2019-07-10 13:26] prckent commented on #945
Thanks for looking at this. Updating the converters seems straightforward and, equally important, maintainable.

For the main application, not mentioning the down spin determinant at all in the inputs is preferable since it is cleaner from the user perspective, and we should need very few if (n>0) checks throughout the code. Aborting if a zero size determinant is specified in the input is straight

[2019-07-10 13:50] prckent commented on #1712
Thanks. There is a set of build instructions in the manual that was confirmed working recently. We need cpu, gpu and real/complex variants. The complex builds should have afqmc enabled.

[2019-07-11 19:45] #1692 closed

[2019-07-11 21:19] markdewing commented on #1236
OOMPI has been removed (#1540 , #1530).
What remains
 - convert rest of real-space code to use new wrapper instead of that in Message/CommOperatorsMPI.h
 - use fake MPI for non-MPI build

[2019-07-11 23:28] ye-luo opened #1717 "short-afqmc-N2_vdz-4-1 failing"
I only tried the real build.
$ ctest -j16 -R short-afqmc-N2_vdz-4-1
Test project /sandbox/opt/cleanup/yeluo/build_cpu_soa
    Start 1126: short-afqmc-N2_vdz-4-1
1/2 Test #1126: short-afqmc-N2_vdz-4-1 ...........***Failed    0.08 sec
    Start 1127: short-afqmc-N2_vdz-4-1-Eloc
2/2 Test #1127: short-afqmc-N2_vdz-4-1-Eloc ......***Failed    0.03 sec

Error in the output.
Error: Unknown WalkerSet type

[2019-07-12 13:35] prckent commented on #1709
Now largely working.

[2019-07-12 13:35] #1709 closed

[2019-07-12 13:39] prckent opened #1721 "AFQMC unit tests failing - mostly factory related"
See e.g. https://cdash.qmcpack.org/CDash/viewTest.php?onlyfailed&buildid=66990

Seems to be a missing or non-updated file issue:
[code]

Do these tests work anywhere?

[2019-07-12 17:58] prckent opened #1722 "Quantum Espresso v6.4.1 support"
http://www.quantum-espresso.org/news-events/news/quantum-espresso-v-6-4-1

Ye: As we discussed, move this to the 3.8 Milestone if it looks simple enough. Otherwise we can do a v3.8.1.

[2019-07-13 18:05] prckent opened #1726 "Mixed precision Intel 2018 unit test Hamiltonian is failing"
e.g. https://cdash.qmcpack.org/CDash/testDetails.php?test=5549659&build=67231

Perhaps a precision issue since only this build is failing.

[2019-07-15 15:39] prckent opened #1729 "Deterministic integration tests for CUDA code: add reference data or disable?"
Currently the deterministic tests are run for the legacy CUDA code. Necessarily they will always fail due to the different numerics. i.e. We rely on the statistical integration tests for correctness and to detect meaningful change.

It would be helpful to (1) have the deterministic tests always work ("ctest -L deterministic") and (2) catch changes on Volta, which I think is a safe reference for no

[2019-07-15 16:43] jtkrogel commented on #1729
I vote for adding data for at least a subset of the deterministic tests.

[2019-07-15 17:16] ye-luo commented on #1729
Let us do disabling first. It is basically adding if-else which will be anyway needed for adding a separate set for CUDA.

[2019-07-15 17:52] Hyeondeok-Shin commented on #1729
I'm going to work with separated deterministic test for CUDA code as @jtkrogel mentioned. As a first step, I'll disable the deterministic test for CUDA with the current reference now as @ye-luo comment in order to avoid confusion.

[2019-07-15 20:57] #1224 closed

[2019-07-16 15:20] #1722 closed

[2019-07-16 20:04] fdmalone commented on #1721
I can't seem to reproduce locally with gcc/clang. The errors seem to arise from an inability to create hdf5 restart files within the unit tests.

[2019-07-16 20:22] fdmalone commented on #1717
There appear to be some very old test inputs in the repository which shouldn't work at the moment due to relying on plain text FCIDUMPs or have old input files. I'll remove these.

[2019-07-16 20:52] prckent commented on #1721
Tried interactively with Intel2019 complex a couple of times, with success. Hence I am not sure what is going on here. Perhaps the configuration is subtly different when the builds driven directly by ctest (???).

[code]

[2019-07-16 21:03] prckent commented on #1721
Build on same scratch filesystem as used for the nightlies passed.

[2019-07-16 21:09] ye-luo commented on #1721
When multiple unit tests run in parallel do they interfere each other due to the the same restart file?
Could you try running with the same -j as the nightly?

[2019-07-16 21:32] fdmalone commented on #1721
Yes! The tests fail when run in parallel. I don't see -j passed to the nightlies.

[2019-07-16 21:43] ye-luo commented on #1721
[code]
PARALLEL_LEVEL enables parallel testing. I don't think change it to 1 is good.
Why the unit tests have interference? We need to solve it.

[2019-07-16 21:47] fdmalone commented on #1721
Sure. It is a relatively easy fix to rename the restart files according to the test name (the unit tests work for combinations of hamiltonians and wavefunction types which is why they potentially interfere when trying to open the same restart file.)

[2019-07-16 23:29] ye-luo opened #1738 "Deterministic test with multi DMC sections"
We need a test to mimic users running multiple DMC sections with reducing time step.
Probably extend one of the existing test to include another DMC section with half timestep.

[2019-07-17 13:41] prckent commented on #1738
This is also needed to reasonably check changes like #1704. Currently there are no tests with repeated driver sections. We have vmc->dmc but not vmc->dmc->dmc->dmc which requires reuse or recreation of the drivers and walker info correctly.

[2019-07-17 13:59] #1721 closed

[2019-07-17 16:56] #1717 closed

[2019-07-17 19:49] #1563 closed

[2019-07-17 19:55] ye-luo commented on #1616
@prckent The question was raised because you put 1.65 on oxygen. Then you put back 1.61 and it works fine. So it is not critical to raise the version number. I prefer staying with 1.61. It is your call.

[2019-07-17 19:58] ye-luo commented on #1589
We are moving away from reusing drivers. A fresh driver will be created for each QMC input section even two consecutive drivers are the same. For this reason, this issue is no more relevant.

[2019-07-17 19:58] #1589 closed

[2019-07-18 01:15] fdmalone opened #1744 "afqmctools needs testing"
At the very least the unit tests should be run with the nightlies. It might be worthwhile to convert the tutorials into longer tests for the tools and also for deterministic tests of AFQMC. Is building pyscf as part of the nightlies a bad idea?

[2019-07-18 13:28] kryczko opened #1746 "Reading in a custom external potential defined on a grid."
Hi all,

I presently have a script written in python to generate a custom external potential. I would like to then read in this potential to qmcpack (via whatever method is easiest i.e. hdf5 seems to be built in) and then perform VMC calculations of electrons interacting with this external potential. Does anyone have ideas what the best/easiest way to do this is?

Kevin

[2019-07-18 21:47] ye-luo opened #1749 "Need lower case input value in the manual"
Table 8.2 values and default need to be in lower case.

[2019-07-19 19:14] markdewing commented on #1746
The simplest example of an external potential is probably a harmonic potential in `src/QMCHamiltonians/HarmonicExternalPotential.{h,cpp}`.   An example input using the potential is in `tests/models/sho/vmc_sho.xml`.

HDF files are read using hdf_archive in `src\io`.

This isn't much guidance, but it's a place to start looking.

[2019-07-22 13:02] kryczko commented on #1746
I saw those files, but the SHO potentials are centred about the atoms and the potential still depends on positions of the particles. Since I don't have an analytic form for external potentials, I would need to have my potential defined numerically on a grid.

[2019-07-22 19:53] markdewing commented on #1746
See PR #1756 for an example on creating a grid-based potential.    It reuses the existing einspline code to do spline interpolation of values in 3D.

[2019-07-22 20:59] kryczko commented on #1746
Thanks for providing that code, it looks like it will be very useful. I'm thinking in my case, I would do exactly the same, except my data Array would now consist of the potential I would read in from an hdf5 file. Does that sound like it would do the trick? Is there visualization tools I could use to make sure everything is as it should be?

[2019-07-22 21:15] markdewing commented on #1746
Reading 'data' from hdf5 should work.  I'm working on updating the example to read from a simple hdf file.

[2019-07-22 21:24] kryczko commented on #1746
Great, I look forward to seeing the code.

[2019-07-22 21:32] markdewing commented on #1746
PR is updated.   The name of the file and all the dimensions are fixed in the source, which should be good enough to get started.
I don't know about visualization  - you could make a loop and print out the results of eval_UBspline_3d_d to a file.

I've been using the harmonic potential on the grid to ensure the code gives the same answer as the existing harmonic potential.  In the input file I set

[2019-07-23 02:47] #1478 closed

[2019-07-23 02:47] #1712 closed

[2019-07-23 15:44] kryczko commented on #1746
Great, sounds good. What is the block of xml that is going into the input file? Should it be something like:
[code]

[2019-07-23 16:18] markdewing commented on #1746
The type of extpot is the value tested in HamiltonianFactory.cpp - `grid` in this case.  So the xml input would look like
[code]

[2019-07-23 17:26] kryczko commented on #1746
Awesome, I was able to compile and run successfully. Now that it has been read in I'm guessing that data must be replaced with the data that is in the hdf_archive object. Is this true? I.e.

[code]
should be replaced with something like
[code]

[2019-07-23 17:35] markdewing commented on #1746
D'oh! I must have accidentally deleted that line before checking in.  The branch is updated.
The line is
[code]

The hdf_archive object has code that will automatically read in various data types.   See `src/io/tests/test_hdf_archive.cpp` for some examples.

[2019-07-23 17:42] kryczko commented on #1746
Oh okay great, I had a look in that file and did not see an Array object being read/written. With your code above it looks like you can directly read it into this Array object. Looks good to me. Thanks for all of your help. I'm going to fork your repository and make some changes. What is the best way to have my changes included in the codebase (after it has been approved of course)?

[2019-07-23 17:50] kryczko commented on #1746
In addition, I would like to add the ability to include periodic boundary conditions. How would I go about doing that?

[2019-07-23 17:53] markdewing commented on #1746
The best way to submit changes is to create a new branch and make a pull request from that branch.  The biggest different from the usual github workflow is 'develop' is the main branch, not 'master'.

Longer description is on the wiki: https://github.com/QMCPACK/qmcpack/wiki/Development-workflow#workflow-process

The einspline library can handle periodic boundary conditions.  Change BC.{l|r}Code t

[2019-07-23 18:26] kryczko commented on #1746
awesome, thanks for all of your help.

[2019-07-23 22:02] PDoakORNL commented on #1738
The test also cannot just test the final result, it should at least nominally check if all expected files are created and contain the correct data.

[2019-07-25 19:41] ye-luo commented on #1749
Yes/No are still in capital
[code]

[2019-07-25 19:44] ye-luo commented on #1749
Around Yes/No. There are other keywords capitalized incorrectly.

[2019-07-25 19:45] prckent commented on #1749
Only fixed table 8.2 :-)

[2019-07-25 19:48] ye-luo commented on #1749
Actually you touched 8.1 (:<). Probably it is a tough afternoon.

[2019-07-29 22:27] rcclay opened #1768 "Forces: Make Ewald the default handler for derivatives"
Currently, LRHandlerSRCoulomb handles derivatives of the long range coulomb potential.  I don't think this has been unit tested and there's enough gossip indicating that this probably doesn't work.  Need to shift over derivative computation to the Ewald3D handler (which is unit tested) until LRHandler or LRHandlerSRCoulomb are tested with derivatives.

[2019-07-29 22:38] rcclay opened #1769 "Forces: Include ion-ion force contribution to ACForce"
Currently, ACForce does not appear to accumulate the ion-ion contribution to the total force on the ions.  I feel like this should be included by default.  Verification that this can be computed is needed for the PBC case, and implementation is definitely needed for the openBC case.

[2019-07-30 21:51] rcclay opened #1770 "Spin-Orbit Commit Plan"
Hi all!  Here's my tentative PR schedule for getting spin-orbit estimators and spin DMC into QMCPACK:

- [x] Establish an XML format for QMCPACK PP's with SO interactions.  Have this format be parsed and "registered" by QMCPACK, meaning that skeleton classes are constructed where they should be and data ends up where it should.  (PR #1771 )
- [x] Augment the LCAO h5 and/or pwscf.h5 file formats to

[2019-07-31 14:52] prckent opened #1772 "Broken restart code after recent updates"
https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=restart-8-2-check&date=2019-07-31

The MPI+threads restarts ("8-2") are failing on all platforms after last weeks updates. The pure MPI restart checks are passing.

[2019-07-31 15:35] PDoakORNL commented on #1772
The problem appears to actually be in VMC section following VMC section. Somehow here reusing the driver allowed some state to be passed forward that was not formally accounted for.

[2019-07-31 16:00] prckent commented on #1770
Please try to write tests as you go so that (as much as possible) the different components can be tested independently.

[2019-07-31 18:25] PDoakORNL commented on #1772
The issue is with the second vmc section output of the initial run. But I'm not sure that the reference output is correct at all.

The reference output is not what I would expect. Can someone explain [initial.out](https://github.com/QMCPACK/qmcpack/blob/develop/tests/io/restart/ref/initial.out) data for the restart 8-2 test (reported to be from 3.0.0)
[code]
I don't see any reason that 8 steps sho

[2019-07-31 19:19] PDoakORNL commented on #1738
I'm satisfied with the test added by PR 1764

[2019-07-31 19:19] #1738 closed

[2019-08-01 13:16] jtkrogel commented on #1769
@rcclay We are targeting molecules in open boundary conditions first, so ion-ion force in OBC will be needed.  It seems like this should be pretty simple to add. Is this something you can do in the near future?

[2019-08-01 13:33] PDoakORNL commented on #1772
In this [branch](https://github.com/PDoakORNL/qmcpack/tree/fix_1772) I restored the state behavior of steps and stepsbetweensamples of the pre #1704 code when a VMC section follows a VMC section. However it appears that reuse of the estimators is probably the real change in behavior.

[2019-08-01 13:54] prckent commented on #1772
Some background and thoughts on improving the restart tests in future:

The restart test should be rewritten in the style of the current deterministic tests. The tests currently do an overly long VMC run and then a subsequent VMC run with one block, one step, and importantly substeps set to 0. The timestep is also 0. This ensures that the electrons are not moved in this second VMC run, enabling di

[2019-08-01 14:00] PDoakORNL commented on #1772
Is the original strange behavior for VMC following VMC desired? The step state doesn’t matter for the one step section but more generally it would.

[2019-08-01 14:05] ye-luo commented on #1772
If you mean stepsbetweensamples behavior, I don't think it is critical and it doesn't fit into future well defined control parameters for steps or samples.

[2019-08-01 14:14] PDoakORNL commented on #1772
That’s good I look forward to dropping it. Perhaps it shouldn’t even be in this fix.

[2019-08-01 15:21] kryczko opened #1775 "How to use QBox with QMCPACK"
Dear all,

I noticed there was an approved pull request for reading in QBox orbitals into QMCPACK, but I have not seen documentation of how to use it. Could someone please tell me how to compile, and use this feature in practice?

Thanks,
Kevin

[2019-08-01 15:45] prckent commented on #1772
@ye-luo Preferences for what to do here?

[2019-08-01 17:01] ye-luo commented on #1772
I'm investigating the issue. 1-16 pass, but 8-2 fails. So I think this is related to nwalkers>nthreads scenario. I think we need to understand the bug.

[2019-08-01 18:38] prckent commented on #1775
This is indeed brand new. See section 22.3.3 convertpw4qmc in the current manual https://docs.qmcpack.org/qmcpack_manual.pdf

[2019-08-01 18:50] prckent commented on #1775
We are very interested in feedback for this new converter, so let us know how you get on.

[2019-08-01 18:53] kryczko commented on #1775
Thank you Paul, I will update this issue with my comments once I use it.

[2019-08-01 19:46] prckent opened #1776 "Broken CUDA deterministic tests"
e.g. https://cdash.qmcpack.org/CDash/viewTest.php?onlyfailed&buildid=70893

These need investigating. Could be a tolerance issue or a sign of unreliability.

[2019-08-01 20:04] rcclay commented on #1769
@jtkrogel Sure. It's the easiest force to compute, just need to sit down, implement, and unit test it.

[2019-08-01 20:48] Hyeondeok-Shin commented on #1776
@prckent It seems larger tolerance with mixed precision in oxygen than the other environment. (I didn't check on oxygen when making tolerance.) I also found tolerance on MPC for DMC cycle 2 on DMC multisection on CUDA build is missing, so I'll fix them.

[2019-08-01 21:01] ye-luo commented on #1772
We don't need to restore the stepsbetweensamples behavior.
The current behaviour is more correct. I noticed that the old code has step=8 even the input asks for 1 on the second VMC section.

[2019-08-01 21:21] ye-luo commented on #1776
I'd like to have a multi VMC/DMC tests with 2 VMC sections and 2 walkers. Is it better to have a separate test or expand the existing test?

[2019-08-01 21:25] prckent commented on #1776
@Hyeondeok-Shin we have a Volta now, but I recall you tested on Volta...

@ye-luo It is cheap to add tests and knowing that a 1 walker test passes but a 2 walker test does not would be helpful => separate tests. I assume you are concerned about logic errors in the legacy CUDA?

[2019-08-01 21:27] ye-luo commented on #1776
@prckent my concern is from the restart test fix I just submitted. 1 walker per thread and 2 walkers per thread is different. Current deterministic tests run with only 1 thread.

[2019-08-01 21:32] prckent commented on #1776
Understood. More tests then.

(I'll take back part of my comment about the tests being cheap: our run time for the deterministic tests that run QMC is surprisingly long given the tiny system size and few steps, often a few seconds. We might profile them sometime to see if there is an easy win.)

[2019-08-01 21:35] Hyeondeok-Shin commented on #1776
@prckent @ye-luo I'll make separated PR for fixing the problem and 2 walkers for thread.

[2019-08-02 06:44] Hyeondeok-Shin commented on #1776
@prckent I'd like to keep watching more test results on oxygen(Tesla V100-PCIE-32GB). There are three reasons.

 1. I double-checked test but they're obviously passing on summit. (Tesla V100-SXM2-16GB)
 2. Tolerances on oxygen are too large compared to the other environment.
 3. In oxygen, the same testsets are failing also on the full-precision build.

 It seems not a simple tolerance issue in th

[2019-08-02 12:59] kryczko commented on #1775
So I currently don't have the executable "convertpw4qmc" in my bin directory after building with cmake. Is there a flag I must use during compilation?

[2019-08-02 13:11] kryczko commented on #1775
Ignore my comment above, I currently have a version of the code that supports reading in an external potential from an HDF5 file https://github.com/QMCPACK/qmcpack/pull/1756. Unfortunately this version of the code does not have this utility, so I'll have to merge things together.

[2019-08-02 13:31] kryczko commented on #1775
I was now able to run the "convertpw4qmc" executable for a simple harmonic oscillator calculation done in QBox with 128 electrons. I was hoping you could help me get an input file set up to run a VMC simulation with the orbitals calculated from QBox.

[2019-08-02 14:11] ye-luo opened #1779 "BGQ clang and oxygen clang unit test Hamiltonian is failing"
unit test Hamiltonian is failing but not for a wrong value.
https://cdash.qmcpack.org/CDash/testDetails.php?test=5740567&build=70990
This started 2 days ago and #1771 is the only PR get in that day.

[2019-08-02 16:00] PDoakORNL commented on #1632
I think we have consensus on this now and its being address PR by PR.

[2019-08-02 16:00] #1632 closed

[2019-08-02 17:08] prckent commented on #1017
(I believe this is completed and will close the issue. If there are extra requests for the installer please make a new issue - we are keen to have feedback. The python 3 transition discussed above will have to happen during the next months because of the sunset of python 2 support in key libraries.)

[2019-08-02 17:08] #1017 closed

[2019-08-02 17:10] prckent commented on #1746
I'll note that this facility would also be useful for embedding methods, model calculations etc. A good feature to have.

[2019-08-02 17:15] prckent commented on #1616
I think that this can be closed. We are now following the two year rule https://github.com/QMCPACK/qmcpack#prerequisites . Oxygen is testing Boost 1.70.0 and 1.61.0. These versions can be bumped for specific feature support at any time, but generally I envisage updating the versions we test against around the time of a release (either for validation or, post-release, so that we can use new feature

[2019-08-02 17:15] #1616 closed

[2019-08-02 18:34] prckent commented on #1775
@lshulen What do you recommend? Start with examples/solids/simple-LiH.xml ?

[2019-08-04 16:27] ye-luo commented on #1772
Green on all non-CUDA cases. CUDA case was unstable in the past.
https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=restart-8-2-check&date=2019-08-03

[2019-08-04 16:27] #1772 closed

[2019-08-06 06:20] lshulen commented on #1775
Yes, unfortunately the converter does not currently write a default xml file for one to start with.  The orbitals can be imported just as in examples/solids/simple-LiH.xml.  I've not tried anything as exotic as what is being suggested with the harmonic oscillator though.

[2019-08-06 12:11] rcclay commented on #1779
So the test is just timing out?

[2019-08-06 13:32] rcclay commented on #1779
I'll attack this after the all-hands meetings.  I forgot my ORNL fob.

[2019-08-06 13:35] ye-luo commented on #1779
I explored the issue on BGQ during the weekend. The timeout was caused by an infinite loop when istringstream parses a string and causes a failbit instead of eof. Unfortunately, I cannot reproduce this issue on my workstation. I'm wondering if this is related to specific versions of libstdc++.

[2019-08-06 16:00] kryczko commented on #1775
I am currently using this configuration based on the simple-LiH.xml
[code]

I used the converter to convert the QBox xml to qmcpack format HDF5, but I get the following error now when I try to run qmcpack:

[code]

[2019-08-06 18:13] kryczko commented on #1775
I was able to get past this error by commenting out the abort function call on line 160 in https://github.com/QMCPACK/qmcpack/blob/develop/src/QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp. I have now hit a new error:

[code]

[2019-08-06 18:17] kryczko commented on #1775
this error seems to be an issue with the external potential defined on a grid.

[2019-08-06 19:20] kryczko commented on #1775
this was fixed by simply setting the mesh factor slightly higher such that it matched the external potential grid. Could someone please let me know if I would introduce another error by removing the abort() call?

[2019-08-08 12:30] jtkrogel opened #1786 "Postprocessing tool for general estimators"
There have been several requests for a tool that can post-process heavy observable data stored in stat.h5 files.  This also aligns with local needs at ORNL and needs in general to productionize use of the momentum distribution, for example.

Basic needs include the ability to twist average data appropriately.  This operation takes different forms for real space and k-space data.

Below I list a de

[2019-08-13 14:01] prckent opened #1790 "ntest_nexus_structure is failing"
https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=ntest_nexus_structure&date=2019-08-13 . Must be a side effect of #1788 since no other PRs were merged.

<img width="825" alt="Screen Shot 2019-08-13 at 9 59 37 AM" src="https://user-images.githubusercontent.com/13683814/62947776-1cb51000-bdb1-11e9-95a8-5e72446d6e31.png">

[2019-08-13 19:13] jtkrogel commented on #1790
The failure is related to the code added in #1728.  The unit tests accompanying #1728 were enabled in #1765.

Oddly, the failure is related to the use of a standard flag in NumPy, the "axis" keyword argument to the "norm" function:
[code]

This is strange because the "axis" keyword was added to NumPy back in version 1.8.0 (in 2013).  Additionally all tests pass on my workstation (NumPy version 1.1

[2019-08-13 19:17] jtkrogel commented on #1790
The test is failing on hyperion and oxygen.  Logging into oxygen I find the NumPy version is 1.7.1 (from about April 2013).

The version there (and presumbably on hyperion) is simply too old.

[2019-08-13 19:46] jtkrogel commented on #1790
@prckent How hard is is to use a newer version of NumPy on the testing machines?

[2019-08-13 20:05] prckent commented on #1790
Updating numpy is trivial e.g. "spack install py-numpy" works https://spack.readthedocs.io/en/latest/package_list.html#py-numpy . I think the news is that we have a minimum numpy version and should check & abort appropriately. With knowledge of the minimum version we can test vs that instead of the random system versions.

[2019-08-13 20:10] jtkrogel commented on #1790
Fair enough.  NumPy is a hard dependency.  We should probably test with the oldest supported and the newest accessible versions.  Given our 2 year rule for QMCPACK, I don't feel too bad about breaking builds from 6 years ago.

Perhaps I should add an explicit test in the testing system for the NumPy version?  Running with older versions may still work, except at the edges, so perhaps a warning fro

[2019-08-13 20:20] prckent commented on #1790
Implementing the 2 year rule would be consistent. It would also be helpful to state the requirements. e.g. there is also use of pandas and h5py as well as numpy. Which versions are needed? I like the idea of printing a warning from NEXUS main() if too old a version of these dependencies is imported.

[2019-08-13 20:39] jtkrogel commented on #1790
I will add a warning + test for the now known NumPy 1.8.0 dependency.  Once the test system is rounded out, it would be a good exercise to use Spack to determine the limits of the other package versions.  Independently, the optional features enabled by libraries apart from NumPy should be delineated in the manual.

[2019-08-13 20:46] prckent commented on #1790
From tonight the nightlies will attempt to use a spack installed python, h5py, pandas, and numpy. The overnight structure tests should now pass.

[2019-08-13 21:11] prckent commented on #1790
Sadly the apparently successfully installed packages fail on import due to missing dependencies. I'll have to check whether a newer spack fixes this. Installing these packages also broke the existing test scripts due to creating ambiguities for package references where previously there were none....

[2019-08-14 17:25] kryczko opened #1791 "Calculation with SHO potential defined on a grid with eigenstates from QBox"
Dear developers,

I have issues when I try to use a simple harmonic oscillator potential defined on a grid in an HDF5 file along with eigenstates calculated with QBox. The code I am using is a fork from @markdewing for reading in an external potential. I am getting NANs when I run VMC calculations. I've also removed an abort call because I have no ions in the Qbox text file that has been serialize

[2019-08-14 17:46] markdewing commented on #1791
The Grid energy in the qmc.s000.scalar.dat file becomes very large in the second step.  One idea is to print the electron coordinates and the grid values in 'evaluate' function and see where they go bad.

It looks like the simulation is using periodic boundary conditions.   The example spline code I gave uses open boundary conditions.   The BC.lCode value should be updated to PERIODIC for PBC.   T

[2019-08-14 17:52] kryczko commented on #1791
The updated file I am using is here: https://github.com/kryczko/qmcpack/blob/add_external_potential/src/QMCHamiltonians/GridExternalPotential.cpp

This allows one to set the periodicity in the potential dynamically.

Maybe I made an error here. You can let me know if I have.

[2019-08-14 18:01] markdewing commented on #1791
delta might need to not have the -1 in the denominator for the periodic case
`double delta = (grid.end - grid.start)/(grid.num);`

[2019-08-14 18:02] kryczko commented on #1791
ah, good catch. I'll report back!

[2019-08-14 18:09] kryczko commented on #1791
The delta doesn't seem to be used anywhere else in the code, should this be the case?

[2019-08-14 18:31] kryczko commented on #1791
I'm a bit confused now after printing out the coordinates and the value associated at the coordinates:

[code]

If the cell is from 0 to 16 in each direction, should I expect to only see coordinates from the range [-8, 8] ?

[2019-08-14 18:41] jtkrogel opened #1792 "Protect against Nexus dependencies"
Nexus needs to protect against use of dependent libraries with lower than supported version numbers.

This issue arose from investigations in issue #1790.  For now, the following actions need to be taken to close the current issue:

- [x] Define a minimum version for NumPy.
- [x] When Nexus is executed, print a warning if the minimum version is not met.
- [x] Add a test that checks for NumPy

[2019-08-14 19:00] jtkrogel commented on #861
@spinedaflores Please can you comment here about your timeline for porting the orbital optimization code over?

@Paul-St-Young Is the lattice deviation estimator important to you?  If so, can you do the port to SoA?

[2019-08-14 19:02] jtkrogel commented on #1699
@markdewing I just assigned this issue to you per discussions at the ECP meeting.  Is this OK with you?

[2019-08-14 19:09] jtkrogel opened #1795 "SoA ports needed for Chiesa/Ceperley and Bare force estimators"
This issue was reported by @tiihonej.  Juha, please can you elaborate which specific classes need to be ported over?

[2019-08-14 19:40] jtkrogel opened #1796 "SoA ports needed for energy density and energy density matrix"
A number of Hamiltonian related functions need porting to SoA.  Also, currently even in AoS, the energy density (+matrix) estimators do not work due to data routing issues through TraceManager.

A test currently exists for the energy density, but not for the energy density matrix.  Both rely on the routing of the exact same data, so confirming that the energy density matrix is correct is simple on

[2019-08-14 19:50] spinedaflores commented on #861
I'll aim to have my pull request ready by next Friday, but hopefully will have it done before then.

[2019-08-14 19:55] jtkrogel commented on #861
@spinedaflores Thanks.  You are definitely on track to beat the rest of us.

[2019-08-14 20:01] markdewing commented on #1791
PBC needs to be applied to the coordinates.  This might work:
`P.Lattice.applyMinimumImage(r);`

The code that uses einspline for SPO wavefunctions converts the coordinates to a unit cell and than applies PBC corrections.

[2019-08-14 20:05] markdewing commented on #1699
Yes, this is okay with me.

[2019-08-14 20:05] kryczko commented on #1791
that did the trick!

I don't follow your last comment. I don't know what the acronym SPO is.

[2019-08-14 20:07] jtkrogel commented on #1660
N.B. A subset of Nexus tests can now be run with pytest or nose.  This subset is likely to expand in the future, but all tests will remain runnable via nxs-test without reliance on either pytest or nose.

[2019-08-14 20:07] markdewing commented on #1791
SPO = Single Particle Orbital.

[2019-08-14 20:13] jtkrogel commented on #577
Note: this has been partially addressed by #1702.  Separate tests for up and down determinants are needed.

[2019-08-14 20:26] jtkrogel commented on #975
Satisfied by #1672.

[2019-08-14 20:26] #975 closed

[2019-08-14 21:54] tiihonej commented on #1795
Yes, so I have recently been testing all the available force estimators with the latest development branch of QMCPACK. Currently, there are 6 “modes” available, but I’ll leave out “stress”, which seems to be another topic (also, it doesn’t work): “acforce”, “bare”, “zero_variance”, “cep” (Ceperley/Chiesa) and “pulay”.

Here’s an overview of the said estimators regarding their AoS/SoA porting. All

[2019-08-15 02:39] rcclay commented on #1795
Here's my understanding of the status of the classes mentioned:
1.) ACForce:  Only implemented for SoA, and only works when used with pseudopotentials.  I don't know what would happen if you tried to do all electron with it...  at best it would be mathematically ill posed due to infinite variance problems.  At worse, it would crash.
2.)  ForceChiesaPBCAA:  This is only well posed for all-electron

[2019-08-15 12:12] jtkrogel commented on #1795
@rcclay So for the AoS to SoA transition, you are basically saying there are two main actions items (right?):
* Check that (or fix so that) ForceChiesaPBCAA gives the same results for an all electron system in AoS and SoA when used with EwaldHander3D (is there another use case that uses something other than the Ewald handler?)
* Remove the old pulay and zero variance AoS estimators

Separately, th

[2019-08-15 14:50] rcclay commented on #1795
@jtkrogel That is correct.

[2019-08-15 14:56] rcclay commented on #1795
I can pass you and Juha some finite difference tests I have for Li and H.

[2019-08-15 15:32] tiihonej commented on #1795
Please do. I can help with testing CCZ/AC force estimators regarding AoS/SoA. It's good to narrow down a bit, but who will be responsible for removing the obsolete estimators? I think it would be a good idea to implement bare Coulomb potential for AC in the future. To my experience, it now returns zeros at least with OBC.

It sounds like LR evaluation is another big issue. I'll report if I find so

[2019-08-15 20:41] rcclay commented on #1795
@tiihonej I will think about how best to have bare coulomb and pseudopotentials in one easy to use estimator.  For now, the Chiesa forces are the "bare" coulomb forces.

[2019-08-16 06:57] Paul-St-Young commented on #861
@jtkrogel yes, I would like to keep the lattice deviation estimator working. I will look into porting

[2019-08-16 14:05] prckent opened #1802 "Remove old ADIOS code"
The old ADIOS implementation should be removed ahead of cleanup work to TraceManager. It has not been run for some time, has no tests, and is believed not working.

@jtkrogel Reassign or remove yourself as you wish.

[2019-08-16 14:32] PDoakORNL opened #1803 "Prefer `throw std::runtime_error` to `APP_ABORT macro`"
This gives us a path to better error handling wrt non-trivial concurrency and it can be checked for in catch test program.

Example
[code]

On the other hand we do want to call MPI_Abort eventually. Although it doesn't appear this happens for unhandled exceptions right now.

[2019-08-16 14:33] #1779 closed

[2019-08-16 14:41] ye-luo commented on #1803
Could you move this to #125? Just to reduce scattered issues.

[2019-08-16 14:42] prckent commented on #1803
Can this route to used to definitely bring down a parallel MPI program? The risk is that we stop one MPI task but leaving N-1 running. This is not acceptable behavior for a production code due to the potential for massive HPC time wastage. I would prefer that we use exceptions for many reasons but they have to work in real-world production.

[2019-08-16 14:43] ye-luo opened #1804 "subnormal numbers in Zn.ccECP-SO.xml need a fix"
See issue #1800

[2019-08-16 15:17] PDoakORNL commented on #125
Copied from #1803

This gives us a path to better error handling wrt non-trivial concurrency and it can be checked for in catch test program.

Example

REQUIRE_THROWS_WITH(test_block(nested_tasks, std::ref(count)),
                      Catch::Contains("TasksOneToOne should not be used for nested openmp threading"));

On the other hand we do want to call MPI_Abort eventually. Although it doesn't a

[2019-08-16 15:17] #1803 closed

[2019-08-16 15:21] markdewing commented on #1803
I've had trouble with C++ exceptions in MPI programs - I think it was debugging some of the cusp condition problems.   It may be a BG/Q issue, but it's worth checking on other platforms.

[2019-08-16 15:28] PDoakORNL commented on #125
Outside of the exceptions ones we have added explicitly added.

I believe everytime we use an STL container and don't specifiy something other than the standard allocator we're exposed to a thrown std::bad_alloc.

If true this means every parallel openmp region should contain a try catch block
As well as requiring an outer one a rank scope.

[2019-08-16 15:29] prckent commented on #1790
After the python ugrade, this is working on oxygen now. e.g.
https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=ntest_nexus_structure&date=2019-08-16

[2019-08-16 15:31] PDoakORNL commented on #125
@markdewing  from #1803:
I've had trouble with C++ exceptions in MPI programs - I think it was debugging some of the cusp condition problems. It may be a BG/Q issue, but it's worth checking on other platforms.

[2019-08-16 22:34] ye-luo opened #1807 "cmake configuration error on python3"
Since linux distro keep python name for python2.
On a fresh ubuntu 18.04.3, python3 is installed but our cmake complains.
[code]

[2019-08-17 00:02] PDoakORNL commented on #125
In the short term I think we should try something like this in qmcapp.cpp.  This gives us a backstop for anything thrown from a non threaded section.

[code]

[2019-08-17 00:38] #204 closed

[2019-08-17 23:12] ye-luo opened #1808 "Memory leak in TimerManagerClass"
I noticed the following bug in the current use of NewTimer and TimerManagerClass.

Currently some timers are allocated inside the timer manager and some are created in the class and passed to the timer manager via addTimer(&XXtimer). To solve the memory leak in the unit test I need to [delete](https://github.com/ye-luo/qmcpack/blob/a0dba476f7032ed33dba2d11e18bfff304f60155/src/Utilities/NewTimer.h#

[2019-08-19 15:22] jptowns commented on #1699
@jtkrogel @ye-luo I have a working implementation for SoA, but now AoS is broken. How important is it to have AoS working?

[2019-08-19 15:52] jtkrogel commented on #1699
@jptowns AoS is not important going forward.  It would be good, however, to have a test made with an older AoS version, PR it, and then make a PR with the SoA update.

[2019-08-19 15:54] prckent commented on #1699
My 2c: I think it is unimportant to have working AoS. I don't know of anyone using g(r) in production, but we do wish to use it in future, which means SoA is the priority. What is important is to have a test so that this problem will not recur.

[2019-08-19 15:56] jptowns commented on #1699
OK. I'll write a test and then submit a PR with the SoA fix and test.

[2019-08-19 15:59] jtkrogel commented on #1699
For an example of making estimator tests, see the discussion in the diamondC_1x1x1_pp README file relating to the spin density:

https://github.com/QMCPACK/qmcpack/blob/develop/tests/solids/diamondC_1x1x1_pp/README

[2019-08-19 16:04] markdewing commented on #1699
I'm concerned that this means something is not fully understood and expressed in the code about
1. how to compute g(r)
2. The differences between AoS and SoA handling of distance tables

Submitting the SoA change as a PR will make it easier for other people to look at the code.

[2019-08-19 17:35] PDoakORNL opened #1811 "Don't Set unintialized pointers to 0 set to nullptr"
If you must have a raw pointer that you do not have at construction or definition time
[code]
[code]

This is a list of these found but that are not yet fixed

- [ ] `SimpleFixedNodeBranch::MyEstimator`

- [ ] `Login in other files based on SimpleFixedNodeBranch::getEstimaterManager()`

[2019-08-19 17:47] ye-luo commented on #1811
I believe there are more in the code. Also using NULL is a problem in the C++ part.

[2019-08-19 20:22] rcclay commented on #1804
Noted.  I'll push a revised file up in the next few days.

[2019-08-20 15:06] ye-luo opened #1813 "consolidate XML input/output wrapping and documentation needed"
libxml2 is a C library and easy to leak memory if used in properly. See #1801
To avoid these problems, xml usage needs to be cleanly wrapped and we are doing so.
The other purpose of wrapping is to do validation at the wrapper level.

Our wrapper classes live in src/OhmmsData
XMLParsingString.h handles xml node content to string and one attribute to string.
ParameterSet.h handles a set of paramete

[2019-08-20 16:30] rcclay commented on #1804
PR #1815 should address this.

[2019-08-20 17:18] jtkrogel commented on #1813
How are you handling the read of/iteration over child XML elements for validation?

[2019-08-20 18:35] markdewing commented on #1699
I have a general question about the differences in using distance tables in AoS vs. SoA.  Are these differences documented anywhere?  Is there any guide on how to use the distance tables?

A more specific form of the question: The current PairCorrEstimator::evaluate function contains an if-block for the DT_SOA distance tables.  Why doesn't the AOS branch work out of the box?  What functions or dat

[2019-08-20 20:47] prckent commented on #1813
Another way of saying "make better use of our wrapper class" would be that we should properly abstract xml handling and not call libxml2 directly from anywhere other than the wrapper.  This makes for any easy check on where to focus - any file importing or calling libxml2 other than the wrapper needs fixing.

[2019-08-21 12:50] jtkrogel commented on #1813
It would be nice down the road to handle a each XML element with a single class instead of one class for attributes, another class for parameters, yet another for text, and (currently) no class for child elements.

[2019-08-21 13:49] jtkrogel commented on #1813
This comment could also go in #407, but I am putting it here since we are discussing input wrappers.  This follows my comment above and is beyond the scope of expanding current wrappers with the narrow goal of less leaky memory, but I thought I would put it here for the record.  If this is not the right place for the discussion, I will move it.

I propose we (eventually) do something similar to th

[2019-08-21 13:56] prckent commented on #1813
Long term the current input parsing needs to be totally rethought and redone. Here we do triage only i.e. use libxml2 correctly.

[2019-08-21 13:58] jtkrogel commented on #1813
Agreed.  I just wanted to keep the rethinking part going.  I will move my comment to #407.

[2019-08-21 13:59] jtkrogel commented on #407
On the topic of wrapper classes to enable validation, I propose we (eventually) do something similar to the following, in which I introduce a single class for an XML element that will actually allow for validation later (i.e. knowing at least what was read and what was not).

Our current XML reading looks like this (and note that even with our current wrapper classes, we still interact directly wi

[2019-08-21 14:10] tiihonej commented on #1592
I can confirm this bug or something closely related for molecules. Given the same configuration, I get matching RHF energies for GAMESS, PySCF, and VMC with GAMESS-converted orbitals in cartesian. VMC energies with PySCF orbitals are slightly off. The error appears to be larger with V5Z than VDZ, which indicates a bug in some of the higher-order orbitals?

Comparing h5 orbital files, there seem to

[2019-08-21 14:29] tiihonej commented on #1769
I can take a look at the ion-ion force in OBC, unless you already have it ready, @rcclay?

[2019-08-21 15:43] rcclay commented on #1769
Feel free to take a stab at it.  It'll go in src/QMCHamiltonians/CoulombPotential.h .  If you check the constructor, there's a "if(!is_active)" block, indicating whether QMCPACK expects those particles to be moving or not.  If they don't, it currently computes the like-species energy in the constructor and returns it every time the estimator is queried so you don't have to recompute it at every el

[2019-08-21 15:58] tiihonej commented on #1566
I still get something like this: with the same system ACForce_pulay_0_0 = -0.00038(30) etc. Has the solution been submitted, or is there something else?

[2019-08-21 16:31] jtkrogel commented on #1592
@tiihonej Please attach your GAMES, PySCF, and QMCPACK input/output files here as a zipped directory.  That will help with the reproduction for someone like @anbenali.

Also, does the difference go away when using spherical harmonics instead?

[2019-08-21 18:29] tiihonej commented on #1592
Attachment contains a collection of sample inputs/outputs for LiH in OBC using ccECP. The energies are summarized in the following:

GMS-VDZ                         -0.7458402316
PYSCF-VDZ-CART                  -0.745840232201294
PYSCF-VDZ-SPHE                  -0.745795612830895
GMS-VDZ-VMC                     -0.746002 +/- 0.000138
PYSCF-VDZ-CART-VMC              -0.745678 +/- 0.000139
PYSCF-VDZ

[2019-08-21 19:42] rcclay commented on #1566
Am I reading those error bars right that ACForce_pulay_0_0 = -0.00038 +/- 0.00030?  If so, that's within 3 sigma of 0.  Can you run those error bars down a bit for testing purposes?

[2019-08-21 20:09] tiihonej commented on #1566
Sorry, it was a typo; was meant to be ACForce_pulay_0_0 = -0.00038(3).

[2019-08-21 21:21] rcclay commented on #1566
Ok.  so definitely not zero.  So my fix didn't make it upstream.  I will try to fix it tomorrow.

[2019-08-22 05:42] ashwinyes opened #1817 "Segfault in sendWalkers"
While trying NiO performance test with **Walkers=1** and **MPI Processes > 2** on a ThunderX2 ARM64 server, I was hitting a segfault in sendWalkers.

Digging deeper, looks like the cause for this is a wrong loop condition in the following line.
https://github.com/QMCPACK/qmcpack/blob/b7dc7acbde80cf19eb20f97c76b602664a9e9835/src/QMCDrivers/DMC/WalkerReconfigurationMPI.cpp#L119

The loop condition s

[2019-08-22 20:55] markdewing opened #1822 "Storing timers in classes"
Timers are not essential for functionality of the classes, but they are important for the overall understanding of the performance of the code.   One design goal is to minimize the syntactic clutter of timers in individual classes.

Here we consider two ways to store timers in a class.
The simplest is to store each individual timer with an individual name.
[code]

Another alternative is to store t

[2019-08-23 14:40] ashwinyes commented on #1817
I tried the below performance tests. All of them was showing the issue.

qmcpack-3.7.0/build/tests/performance/NiO/dmc-a4-e48-cpu/NiO-fcc-S1-dmc.xml
qmcpack-3.7.0/build/tests/performance/NiO/dmc-a8-e96-cpu/NiO-fcc-S2-dmc.xml
qmcpack-3.7.0/build/tests/performance/NiO/dmc-a16-e192-cpu/NiO-fcc-S4-dmc.xml
qmcpack-3.7.0/build/tests/performance/NiO/dmc-a32-e384-cpu/NiO-fcc-S8-dmc.xml
qmcpack-3.7.0/build

[2019-08-23 20:25] jtkrogel opened #1826 "Remove intermittently failing tests from nightly dashboard"
A number of statistical integration tests that fail intermittently still appear in the nightly dashboard on CDash:

https://cdash.qmcpack.org/CDash/index.php?project=QMCPACK#!#Nightly

For non-CUDA builds, the task here is to add the name of any failing statistical test into the appropriate section in the test labeling script.  This process will need to be repeated several times to catch all the i

[2019-08-27 12:44] jtkrogel opened #1831 "Counting Jastrow Segfaults"
See: https://cdash.qmcpack.org/CDash/testDetails.php?test=5992019&build=75823

[2019-08-27 12:59] jtkrogel opened #1832 "Unstable nightlies are broken"
All the intermittently failing (a.k.a. unstable) statistical integration tests are being run incorrectly.

All now fail with errors similar to:
[code]

See:
https://cdash.qmcpack.org/CDash/index.php?project=QMCPACK&date=2019-08-27#!#Unstable

This is likely due to the removal of the unstable label from the parent process in #1825.  While semantically correct (the main execution of QMCPACK should a

[2019-08-27 21:20] PDoakORNL opened #1838 "Coding Conventions additions"
I'm going to add these one at a time so folks can thumb them up or down.  After some appropriate amount of time those that are voted in will be added to the manual and all new code needs to comply.  Old code being refactored should be brought into line with the coding conventions as completely as developer and reviewer workload permit.

[2019-08-28 09:05] prckent opened #1840 "LiH dimer pp runs are crashing + deterministic tests are failing"
See e.g. https://cdash.qmcpack.org/CDash/testDetails.php?test=5995539&build=75919

Crashing+failing for multiple compilers

[2019-08-28 17:49] #1840 closed, assigned to nobody

[2019-08-28 20:55] ye-luo opened #1844 "ENABLE_SMARTPOINTER macro clean up needed"
This code path is not maintained. Better just remove.

[2019-08-28 21:03] ye-luo opened #1845 "Need unit test for kSpaceJastrow"
See discussion #1727

[2019-08-28 21:43] tiihonej opened #1847 "Jastrow optimization causes large errors and biases in ACForce"
After recent developments ACForce estimator for VMC is very accurate for LCAO, no Jastrow (see Fig. 1; the biggest error is due to morse potential fit, but we'll be able to do better). The salvation is in the zero-bias correction (wavefunction-gradients) on top of variance-reduced Hellmann-Feynman terms. The test case is LiH (OBC) with ccECP-VDZ and GAMESS trial wavefunction.

[Fig 1: fig1_forcedi

[2019-08-28 22:08] rcclay commented on #1847
Can you drop the raw data used for making these plots somewhere?

[2019-08-28 22:21] tiihonej commented on #1847
I can send you some data. Do you just want the numeric data for the plots or the VMC raw data?

[2019-08-28 22:30] rcclay commented on #1847
Probably both.

[2019-08-28 22:48] ye-luo opened #1848 "CUDA build determinstic tests failing"
Since Aug 21.
https://cdash.qmcpack.org/CDash/testDetails.php?test=5937151&build=74769
It seems that some changes in #1810 triggered this.
The broken code actually was running the CPU driver with DiracDeterminantCUDA wavefunction.
Some piping issue.

[2019-08-28 23:09] PDoakORNL commented on #1848
I have not done enough testing with ENABLE_SOA=0 this might have to be a fixed in the cmake.  Will fix.

[2019-08-28 23:31] ye-luo commented on #1848
This issue exists with both ENABLE_SOA=0 and 1. It is caused by QMC_CUDA=1.

[2019-08-29 01:24] PDoakORNL commented on #1848
@markdewing caught this in the #1810 review I promised a subsequent PR and did not deliver.

[2019-08-29 02:26] #1848 closed

[2019-08-29 13:53] kayahans opened #1851 "Incorrect number of twists are generated via pw2qmcpack.x"
Hi,

I am trying to generate the wavefunction using the attached simple nexus script. KPOINTS card in the QE input file corresponds to 3x3x3 cell, hence it is the following:

   27
         0.00000000       0.00000000       0.00000000       1.00000000
         0.33333333       0.00000000       0.00000000       1.00000000
         0.66666667       0.00000000       0.00000000       1.00000000

[2019-08-29 14:40] jtkrogel commented on #1851
This is fixed by setting `nosym=.true.`.  Closing.

[2019-08-29 14:40] #1851 closed

[2019-08-29 16:03] ye-luo opened #1853 "short-li2_sto-sj_dmc crashing"
https://cdash.qmcpack.org/CDash/testDetails.php?test=6012652&build=76238
Caused by #1820 not improved by #1841
@tiihonej could you have a look?

[2019-08-29 16:22] tiihonej commented on #1853
I'll look into to it. There's another fix coming up, too, which is not affecting any existing tests. I'll extend the existing static force test a bit to catch that and post them asap.

[2019-08-29 16:57] ye-luo opened #1854 "WF optimization crashing due to unitialized timers"
accessing `myTimers[4]` in QMCFixedSampleLinearOptimize.cpp
https://cdash.qmcpack.org/CDash/testDetails.php?test=6009362&build=76168
The related problem can be solved probably by removing `std::vector<NewTimer*> myTimers;` from QMCDriver.h and QMCDriverNew.h.

@PDoakORNL hopefully you don't use myTimers in QMCDriverNew.h derived classes.

[2019-08-29 17:03] PDoakORNL commented on #1854
I’ve been removing timer dependencies in the new driver code. Planning for it to come back in the new style

[2019-08-29 18:58] bwvdg commented on #1831
I recently found and pushed a change in #1695 to in a bug in CountingJastrow.makeClone that produced segfaults only when using multiple threads. I believe this should fix the problem.

[2019-08-29 21:15] Hyeondeok-Shin opened #1858 "Clang6-CUDA-Full-Release build on Oxygen is not under full-precision."
Clang6-CUDA-Full-Release build on Oxygen is not under full-precision without -D QMC_MIXED_PRECISION=0 flag.

https://cdash.qmcpack.org/CDash/buildSummary.php?buildid=76347

-- defining the float point precision
   Base precision = double
   Full precision = double
   CUDA base precision = float
   CUDA full precision = double

 This build is using exactly same build command with Clang6-CUDA-Releas

[2019-08-29 21:36] ye-luo commented on #1832
The reorder change seems working.

[2019-08-29 21:36] #1832 closed

[2019-08-30 15:30] kryczko opened #1859 "Discrepancy between Qbox and QMCPACK external energies"
Dear all,

I am computing a single electron problem in a harmonic oscillator potential:
[code]
I first do a Qbox calculation and obtain the following energies (Ha):

[code]

I then use the `convertpw4qmc` command to read in the orbital for the VMC calculation. After running QMCPACK I end up with the energies:

[code]

We can see that the kinetic energies are close, as expected, but the external en

[2019-08-30 15:41] prckent commented on #1859
If you do a determinant only VMC run with QMCPACK you should recover the non-selfconsistent Hartree-Fock energy for that determinant and Hamiltonian. If the orbital(s) happen to be Hartree-Fock orbitals then you should exactly recover the Hartree-Fock total energy from the VMC.

What exactly is the comparison here, and why should the two methods agree? The summary outputs you give are not standard

[2019-08-30 15:45] kryczko commented on #1859
I would think that in both cases, the externals energies should be the same. Am I wrong in thinking that?

[2019-08-30 15:49] prckent commented on #1859
External is definitely \int \phi V_{ext} \phi in both cases, no other terms? If so, yes, these should agree.

[2019-08-30 15:50] kryczko commented on #1859
Yes, this was exactly my thought. The difference between these terms is the issue.

[2019-08-30 15:56] markdewing commented on #1859
In the code from a previous issue, it looks like you can print out to verify the grid energy is the same as the harmonic potential - I assume this is the case?
It looks like the ratio of external energy values is about 4 (4.03 - suspiciously close to 4) - how does the ratio change with different k values?

[2019-08-30 16:02] kryczko commented on #1859
Yes, I have made sure I get the same answer as the harmonic potential with the grid.

For different values of k the external energies:

[code]

[code]

so it looks like it is not just a factor of 4.

[2019-08-30 16:15] markdewing commented on #1859
Does the applyMinimumImage put particles in the expected box - it looks like the potential is centered at zero, so the box should be [-L/2, L/2]

[2019-08-30 17:06] kryczko commented on #1859
I've printed out the coordinates before and after the applyMinimumImage, here is one output from it that I find odd:

[code]

Should the y-coordinate be wrapped to 0.0077473712?

[2019-08-30 17:10] kryczko commented on #1859
Ah never mind, the wrapping seems to be working properly.

[2019-08-30 18:17] prckent commented on #1858
Appears to be a scripting bug. The CPU mixed precision builds are correctly built.

[2019-08-30 18:20] kryczko commented on #1859
Any other ideas why this energy mismatch could be happening?

[2019-08-30 18:36] markdewing commented on #1859
How's the acceptance ratio and step size of the VMC calculation?
What happens if the box size is changed?

[2019-08-30 18:45] kryczko commented on #1859
For a step size of 0.25 I am getting an acceptance ratio of 0.5189 in the 10x10x10 cell. When I double the cell length 20x20x20 I get 0.79110582 for Qbox and 0.1 for QMCPACK. For this calculation I lowered the step size to 0.01 to get ~50% acceptance.

[2019-08-30 18:54] markdewing commented on #1859
It seems odd that the step size would need to be lowered so much for a larger box.  And that the energies would vary so much.   I would expect that the harmonic potential would be the dominant effect and keep the electron confined, and that the box would have little effect, especially at larger sizes.

[2019-08-30 18:57] markdewing commented on #1859
Could you attach the QMCPACK input that you are using.

[2019-08-30 19:00] kryczko commented on #1859
When I use this input:
[code]

I get the following from qmca:
[code]

But when I increase the number of samples:
[code]

I get the following from qmca:
[code]

[2019-08-30 20:18] kryczko commented on #1859
does anything immediately stand out?

[2019-08-30 20:36] kryczko commented on #1859
In addition, I've also computed the integral myself after reading in the orbitals from the HDF5 file that had been converted. I get back the same value as is calculated in Qbox.

[2019-08-30 20:43] markdewing commented on #1859
You could change the orbital type from einspline to pw (planewaves).  That would check that the spline orbital representation is working okay.

[2019-08-30 21:20] kryczko commented on #1859
When I switch to 'pw', it seems like the energies get even worse:

[code]

[2019-08-30 21:41] kryczko commented on #1859
could it be something with the spline representation of the potential?

[2019-08-30 22:24] ye-luo commented on #1853
Good now. https://cdash.qmcpack.org/CDash/testDetails.php?test=6025245&build=76469

[2019-08-30 22:24] #1853 closed

[2019-08-30 22:25] ye-luo commented on #1854
good now
https://cdash.qmcpack.org/CDash/testSummary.php?project=1&name=example_He_example_wf-1-1&date=2019-08-30

[2019-08-30 22:25] #1854 closed

[2019-08-30 22:48] ye-luo commented on #1808
No leak with test_utilities as valgrind indicates

[2019-08-30 22:48] #1808 closed

[2019-08-30 22:50] ye-luo commented on #1822
@markdewing could you help writing some manual by updating https://github.com/QMCPACK/qmcpack/wiki/How-to-add-timers and remove the wiki once it gets in the manual?

[2019-09-03 13:00] jtkrogel opened #1862 "Memory error shown in LiH deterministic test"
deterministic-LiH_dimer_pp-vmc_hf_noj-1-1 is failing with a memory error.  See:

https://cdash.qmcpack.org/CDash/testDetails.php?test=5995872&build=75937

[2019-09-03 13:03] jtkrogel commented on #1862
Similar for  short-H2O_dimer_sep_pp-j3_dmc_la-1-16:

https://cdash.qmcpack.org/CDash/testDetails.php?test=6005036&build=76073

[2019-09-03 13:03] jtkrogel commented on #1862
And again for  example_He_example_wf-1-1:

https://cdash.qmcpack.org/CDash/testDetails.php?test=6004949&build=76073

[2019-09-03 13:06] jtkrogel opened #1863 "Invalid pointer in CHN all electron nightly test"
In  short-chn_ae_cuspCorrection-vmc-1-16:

https://cdash.qmcpack.org/CDash/testDetails.php?test=6005046&build=76073

May or may not be related to #1862.

[2019-09-03 13:08] jtkrogel commented on #1863
Also in  short-li2_sto-sj_dmc-1-16:

https://cdash.qmcpack.org/CDash/testDetails.php?test=6004997&build=76073

[2019-09-03 13:08] ye-luo commented on #1862
@jtkrogel fixes got in last week. Just click current on the page of every link.

[2019-09-03 13:12] jtkrogel commented on #1862
Strange, I moved to today's date before looking at any test.  Closing.

[2019-09-03 13:12] #1862 closed

[2019-09-03 13:12] #1863 closed

[2019-09-03 14:13] ye-luo commented on #1467
Titan is decommissioned.

[2019-09-03 14:13] #1467 closed

[2019-09-03 15:54] ye-luo opened #1864 "nexus test issue"
Since #1836
https://cdash.qmcpack.org/CDash/testDetails.php?test=6030711&build=77081
This seem caused by the introduce of new modules.
Test exception: "ImportError: cannot import name gcd"

[2019-09-03 16:54] prckent commented on #1864
Perhaps bora needs a newer numpy?

If true, this also points to our need for a proper set of minimum versions & for nexus to check for them. Otherwise we get these errors that to the user will look like a bug of ours.

[2019-09-03 16:54] prckent commented on #1864
Paging @jtkrogel  for comment.

[2019-09-03 17:05] ye-luo commented on #1864
Yes. We need a policy.

[2019-09-03 19:10] jtkrogel commented on #1864
The issue is the `gcd` function which was added to NumPy in version 1.15 (~July 2018).  Moving to wrap all numpy imports in the umbrella fashion, (i.e. `import numpy as np` then call `np.gcd` somewhere) would protect all the other parts of the code from failing here.

We do need to determine the minimum numpy version (and other modules) for Nexus as well as establish a policy for new additions.

F

[2019-09-03 19:46] jtkrogel commented on #1864
The Nox package looks like a good option for minimum version testing and/or enforcement:

https://nox.thea.codes/en/stable/

[2019-09-03 20:20] lshulen commented on #1859
The variances look incredibly large given what you are doing.  Also that timestep seems very small given that you are doing a VMC calcuatlon with a sensible wavefunction.

I'm curious about both the effect of the potential and the orbitals.  One test I would be quite keen to see the answer to is to shift the external potential to the center of the simulation cell.  For instance, if you had a 20x20

[2019-09-03 20:23] prckent commented on #1864
- You can simply query the versions of the imported modules and quit if too old. Numpy seems to be the critical one - I believe it has been the source of *all* our python related versioning problems.
- For testing we can setup something using the minimum version.
- As a first step, we need to declare the minimum versions as we have for QMCPACK in a readme.md. Then we can update the CI and nightly

[2019-09-03 20:24] prckent commented on #1864
My reaction to nox: please no more packages or utilities. Lets do the simplest possible thing. We already know how to install exact versions of python and specific packages (e.g. with spack, we do this for oxygen nightlies). I don't want another dependency for something we have already solved.

[2019-09-03 20:26] jtkrogel commented on #1864
I agree about query/test based on known minimum version.  If we have an easy way to scan over library (e.g. numpy) versions then we can determine what this is.  At present we do not even know what the minimum version is.

[2019-09-03 20:40] kryczko commented on #1859
All of the calculations done thus far have the potential centred in the cell. If you don't centre it, then you can't use PBCs. With PBCs turned on I get:

[code]
and with them turned off I get:
[code]
Not really a major difference.

[2019-09-03 20:46] kryczko commented on #1859
When I turn periodic boundary conditions off in qmcpack "bconds" I get a segmentation fault.

[2019-09-03 21:22] markdewing commented on #1859
What happens if the meshfactor value is changed.   If larger than 1.0, more mesh points are used for the orbitals.  I'm not sure how well the grid represents the orbital - it's going to be fairly localized near the center.   Even more so for the larger boxes.

[2019-09-03 21:28] kryczko commented on #1859
I changed the mesh factor to 5.0, and I got around the same energies.

[2019-09-03 21:46] kryczko commented on #1859
In the interpolation function does it extend the potential beyond the length of the cell and then wrap that value back into the cell or does it just do the interpolation inside of the unit cell and depends on the user to know to have the same value at the boundaries of the cell?

[2019-09-03 21:47] lshulen commented on #1859
I'm not an expert in how to do this, but to check that the external potential is working properly, have we previously run with a gaussian wavefunction?

@kryczko, I'm curious about the statement that changing "bconds" results in a segfault.  Are you changing "p p p" to "n n n"?  that really should work.

[2019-09-03 21:48] kryczko commented on #1859
Yes, I previously ran with a gaussian wave function, and was able to reproduce the exact same answer as with the harmonic potential built into qmcpack.

[2019-09-03 21:51] prckent commented on #1864
1.13.2 was released  on 27 September 2017
1.13.1 was released on 6 July 2017

-> Given a release is upcoming,  see if 1.13.2 works

[2019-09-03 21:51] lshulen commented on #1859
This is getting a bit hard to debug.  Can you send your input file to qbox and your input file to qmcpack?  (also is a hacked version of qbox necessary to run this?)

[2019-09-03 21:59] kryczko commented on #1859
No, you do not need a hacked version of qbox to run this, this works right out of the box. I do have a modified version of qmcpack, which I have forked from @markdewing. It is found here: https://github.com/kryczko/qmcpack/tree/add_external_potential. When reading in the orbitals from QBox I had to remove an abort call because there are no ions in the system. Perhaps this is where this issue is st